<footer class="e-footer">
    <div class="e-footer__top">
        <div class="e-footer__top--payment">
            <h2 class="e-footer__top--payment--label">
                formas de pagamento
            </h2>
            <span class="e-footer__top--payment--image">
                <img src="https://luccofit.vteximg.com.br/arquivos/payment--icon--checkout.png" alt="">
            </span>
        </div>
        <div class="e-footer__top--tec">
            <span class="e-footer__top--tec--icon">
                <img src="https://luccofit.vteximg.com.br/arquivos/econverse--logo--checkout.png" alt="">
            </span>
            <span class="e-footer__top--tec--icon">
                <img src="https://luccofit.vteximg.com.br/arquivos/vtex--logo--checkout.png" alt="">
            </span>
        </div>
    </div>
    <div class="e-footer__copy">
        <p>
            Copyright © 2013. Todos os direitos reservados. Todas as marcas e suas imagens são de propriedade de seus
            respectivos donos.
            É vedada a reprodução, total ou parcial, de qualquer conteúdo sem expressa autorização
        </p>
    </div>

</footer>