<header class="e-header">
    <div class="e-header__center">
        <div class="e-header__logo">
            <a href="/" title="Ir para a página inicial" class="e-header__logo--link">
                <img src="https://luccofit.vteximg.com.br/arquivos/logo-luccofit.png" alt="Logo">

            </a>
        </div>
        <div class="e-header__title">
            <h2>minha <strong>sacola</strong></h2>
        </div>
        <div class="e-header__security">
            <span class="e-header__security--icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30.037" height="32.04" viewBox="0 0 30.037 32.04">
                    <g id="Grupo_1" data-name="Grupo 1" transform="translate(-16 0)">
                        <path id="Caminho_1" data-name="Caminho 1"
                            d="M271.019,8.01c0,13.848-8.5,21.564-13.867,23.8a3.022,3.022,0,0,1-1.151.23V0a3.015,3.015,0,0,1,1.158.23l12.015,5.006A3,3,0,0,1,271.019,8.01Z"
                            transform="translate(-224.981)" fill="#86ae5b" opacity="0.4" />
                        <path id="Caminho_2" data-name="Caminho 2"
                            d="M31.019,0V32.04a3.015,3.015,0,0,1-1.158-.23C23.165,29.018,16,20.433,16,8.01a3,3,0,0,1,1.852-2.773L29.867.23A3.022,3.022,0,0,1,31.019,0Z"
                            transform="translate(0 0)" fill="#86ae5b" />
                    </g>
                </svg>
            </span>
            <h4 class="e-header__security--text">
                ambiente
                <br />
                <strong>100% seguro</strong>
            </h4>
        </div>
    </div>
</header>