<div class="e-topbar-mobile">
    <div class="e-topbar__center">
        <div class="e-conquered">
            OLÁ, BEM VINDO! COM R$ 250,00 O FRETE É POR NOSSA CONTA!
        </div>
    </div>
    <div class="e-contact">
        <a href="https://api.whatsapp.com/send?phone=551199779-7857&amp;text=Olá%20LuccoFit!">
            <img src="/arquivos/whatsapp-logo.png"/>
        </a>
    </div>
</div>

<div class="e-search-mobile">
    <button class="e-close"></button>
    <form class="js--search is--mobile">
        <input type="text" placeholder="Busque aqui..."></input>
        <button type="submit" class="js--send-search e-send"></button>
    </form>
    <div class="e-header__search--autocomplete--mobile" style="display: none;">
        <div class="e-header__search--autocomplete-products">
            <div class="e-shelf" id="home-content" >
                <div class="e-shelf__list showcase-default"></div>
            </div>
        </div>
    </div>
</div>

<header class="e-header-mobile">
    <div class="e-menu">
        <button class="e-menu-button">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="e-menu-dropdown">
            <div class="e-menu-dropdown-container">
                <div class="e-menu-dropdown-container--button">
                    <button class="e-close"></button>
                </div>
                <div class="e-menu-dropdown-container--account">
                    <a href="/account">
                        <span class="e-users"></span>
                        <span class="e-hello">Olá, <span class="e-name">Visitante</span></span>
                    </a>
                </div>
                <div class="e-menu-dropdown-container--location">
                    <div class="e-location">
                        <span class="e-icon-location"></span><span>São Paulo - SP</span>
                    </div>
                </div>
            </div>
            <div class="e-menu-dropdown--sub">
                <vtex.cmc:departmentNavigator />
            </div>
            <div class="e-menu-dropdown--stores">
                <a href="/institucional/Lojas">Nossas <strong>lojas</strong></a>
            </div>
        </div>
        <div class="e-menu-dropdown__overlay"></div>
    </div>

    <div class="e-logo">
        <a href="/"><img src="/arquivos/logo-luccofit-mobile.png"></img></a>
    </div>

    <div class="e-icon-search">
        <img src="/arquivos/luccofit-search-mobile.png" />
    </div>

    <div class="e-minicart">
        <a href="/checkout">
            <svg viewBox="0 -11 414.00226 414" xmlns="http://www.w3.org/2000/svg"><path d="m202.480469 352.132812c0-21.800781-17.671875-39.472656-39.46875-39.472656-21.800781 0-39.472657 17.671875-39.472657 39.46875 0 21.800782 17.671876 39.472656 39.472657 39.472656 21.785156-.023437 39.445312-17.679687 39.46875-39.46875zm-64.941407 0c0-14.070312 11.402344-25.472656 25.472657-25.472656 14.066406 0 25.46875 11.402344 25.46875 25.46875 0 14.070313-11.402344 25.472656-25.46875 25.472656-14.0625-.015624-25.457031-11.410156-25.472657-25.46875zm0 0"/><path d="m309.167969 391.601562c21.800781.003907 39.472656-17.667968 39.472656-39.46875.003906-21.800781-17.667969-39.472656-39.46875-39.472656s-39.472656 17.671875-39.472656 39.472656c.027343 21.785157 17.679687 39.441407 39.46875 39.46875zm0-64.941406c14.066406 0 25.472656 11.402344 25.472656 25.46875.003906 14.066406-11.402344 25.472656-25.46875 25.472656s-25.472656-11.402343-25.472656-25.46875c.015625-14.058593 11.410156-25.453124 25.46875-25.472656zm0 0"/><path d="m7 14h42.699219c14.050781-.054688 26.03125 10.175781 28.171875 24.066406l33.800781 213.511719c3.191406 20.703125 21.050781 35.957031 42 35.875h208.929687c3.863282 0 7-3.136719 7-7 0-3.867187-3.136718-7-7-7h-208.929687c-14.050781.054687-26.03125-10.179687-28.171875-24.066406l-5.746094-36.300781h213.980469c18.117187-.007813 34.242187-11.484376 40.179687-28.597657l39.699219-114.578125c.746094-2.140625.40625-4.507812-.90625-6.355468-1.316406-1.84375-3.441406-2.941407-5.707031-2.941407h-311.386719l-3.914062-24.738281c-3.191407-20.703125-21.050781-35.9570312-42-35.875h-42.699219c-3.867188 0-7 3.136719-7 7 0 3.867188 3.132812 7 7 7zm390.164062 60.617188-36.476562 105.285156c-3.984375 11.480468-14.800781 19.179687-26.953125 19.183594h-216.199219l-19.707031-124.472657zm0 0"/></svg>
            <div class="e-number">
                <vtex.cmc:AmountItemsInCart/>        
            </div>        
        </a>
        
        <div class="e-message-add js--message-add-product">
            <span class="e-icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7C514.5,101.703,514.499,85.494,504.502,75.496z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
            <span class="e-text">Produto adicionado ao carrinho!</span>
        </div>
    </div>
</header>