<div class="e-topbar">
    <div class="e-stores">
        <a href="/institucional/Lojas">
            <span class="e-icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"/></g></g><g><g><path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847C455.549,238.499,449.593,232.543,442.246,232.543z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
            Nossas <strong>lojas</strong>
        </a>
    </div>
    
    <p class="js--content-topbar">OLÁ, BEM VINDO! COM R$ 250,00 O FRETE É POR NOSSA CONTA PARA O ESTADO DE SP</p>
    
    <div class="e-contact">
        <a href="https://api.whatsapp.com/send?phone=551199779-7857&amp;text=Olá%20LuccoFit!">
            <img src="/arquivos/whatsapp-logo.png"/>
            <p>(11) 99779-7857</p>
        </a>
    </div>
    
    <div class="e-location">
        <span class="e-icon pin">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.757 54.757" style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve"><g><path d="M27.557,12c-3.859,0-7,3.141-7,7s3.141,7,7,7s7-3.141,7-7S31.416,12,27.557,12z M27.557,24c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S30.314,24,27.557,24z"/><path d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M41.099,31.431L27.38,51.243L13.639,31.4C8.44,24.468,9.185,13.08,15.235,7.031C18.479,3.787,22.792,2,27.38,2s8.901,1.787,12.146,5.031C45.576,13.08,46.321,24.468,41.099,31.431z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
        <p>São Paulo - SP</p>
        <span class="e-icon arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"> <g> <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/> </g></svg>
        </span>
    </div>
</div>

<header class="e-header">
    <div class="e-logo">
        <a href="/"><img src="/arquivos/logo-luccofit.png"></img></a>
    </div>
    
    <div class="e-menu">
        <vtex.cmc:departmentNavigator/>
    </div>
    
    <div class="e-search">
        <form class="js--search">
            <input type="text" placeholder="Busque aqui..."></input>
            <button type="submit" class="js--send-search e-send"></button>
        </form>
        <div class="e-header__search--autocomplete" style="display: none;">
            <div class="e-header__search--autocomplete-products">
                <div class="e-shelf" id="home-content" >
                    <div class="e-shelf__list showcase-default"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="e-account">
        <a href="/account"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 316.824 316.824" style="enable-background:new 0 0 316.824 316.824;" xml:space="preserve"><g><path d="M213.31,185.877l-0.81-0.366c-1.934-0.88-3.882-1.71-5.868-2.487c-2.166-0.868-4.364-1.671-6.594-2.423c-1.761-0.578-3.535-1.118-5.328-1.645c-2.731-0.79-5.489-1.504-8.329-2.134c-0.964-0.199-1.947-0.392-2.924-0.566l-0.668-0.129c-1.677-0.328-3.361-0.617-5.064-0.868l-0.488-0.077c-0.019,0-0.032-0.013-0.051-0.013l-0.488-0.064c-1.414-0.212-2.821-0.411-4.287-0.578l-4.987-0.411c-6.131-0.405-12.449-0.392-18.509,0.051l-1.767,0.148l-0.823,0.064l-2.063,0.186c-1.896,0.199-3.779,0.463-5.662,0.765l-0.553,0.077c-1.285,0.212-2.571,0.45-3.837,0.688c-1.407,0.251-2.796,0.527-4.184,0.829c-2.686,0.604-5.354,1.292-7.937,2.044c-2.057,0.591-4.087,1.24-5.996,1.896l-1.324,0.476c-4.049,1.433-8.072,3.078-11.967,4.884l-1.041,0.495l-0.019,0.026c-45.547,21.8-74.918,68.247-74.918,118.646c0,1.157,0.077,2.294,0.148,3.438l0.341,7.995H289.5l0.353-7.905c0.077-1.17,0.148-2.333,0.148-3.528C290.001,254.188,259.917,207.33,213.31,185.877z M39.682,303.97c0.553-45.251,27.308-86.762,68.086-105.882l1.311-0.514l0.154-0.148c3.194-1.459,6.491-2.789,9.833-3.965l1.06-0.379c1.819-0.63,3.631-1.208,5.514-1.742c2.346-0.688,4.737-1.305,7.134-1.844c1.24-0.263,2.481-0.514,3.76-0.752c1.015-0.186,2.024-0.379,3.046-0.54l0.501-0.09c1.838-0.289,3.683-0.553,5.521-0.752l4.203-0.366c5.501-0.405,10.765-0.463,17.14,0l4.087,0.341c1.009,0.116,2.018,0.251,3.246,0.424l1.472,0.212c1.536,0.225,3.072,0.488,4.614,0.778l0.72,0.135c0.868,0.161,1.729,0.328,2.545,0.501c2.532,0.553,5.019,1.208,7.487,1.922c1.632,0.476,3.252,0.964,4.833,1.491c2.005,0.668,3.985,1.395,5.945,2.172c1.883,0.739,3.74,1.53,5.578,2.372l0.321,0.148c41.704,19.133,68.786,60.779,69.339,106.467H39.682V303.97z M126.644,157.599c0.964,0.405,1.96,0.758,2.956,1.112l2.089,0.758c0.803,0.308,1.613,0.611,2.436,0.868c7.661,2.41,15.675,3.65,23.824,3.715l0.649,0.013c2.796,0,5.598-0.148,8.284-0.424c0.925-0.09,1.825-0.238,2.731-0.392l2.012-0.302c1.131-0.148,2.262-0.315,3.445-0.546c0.81-0.167,1.594-0.379,2.378-0.591l2.198-0.559c1.086-0.263,2.172-0.527,3.246-0.861c0.668-0.212,1.324-0.456,1.973-0.701l1.767-0.636c1.26-0.437,2.532-0.887,3.805-1.42c0.495-0.212,0.977-0.443,1.452-0.675l0.572-0.283c1.742-0.778,3.477-1.575,5.199-2.5l1.118-0.668c1.928-1.093,3.85-2.224,5.797-3.554c1.009-0.681,1.973-1.446,2.924-2.204l3.291-2.558c18.921-15.662,29.795-38.645,29.795-62.482l0.039-0.681c0-45.232-36.8-82.026-82.032-82.026c-43.175,0-79.095,33.76-81.775,76.859l-0.071,1.067c-0.103,1.356-0.186,2.712-0.186,4.1C76.547,115.066,96.207,144.726,126.644,157.599z M89.561,78.819l0.077-1.157c2.262-36.344,32.545-64.808,68.947-64.808c38.15,0,69.178,31.029,69.211,68.587l-0.039,0.675c-0.026,20.579-9.203,39.956-25.238,53.266l-3.053,2.327c-0.681,0.553-1.369,1.105-2.224,1.697c-1.542,1.048-3.175,1.992-4.833,2.931l-0.919,0.559c-1.388,0.746-2.847,1.407-4.364,2.082l-1.703,0.823c-0.977,0.405-2.005,0.758-3.021,1.112l-2.121,0.765c-0.411,0.154-0.829,0.321-1.234,0.443c-0.79,0.244-1.6,0.431-2.404,0.63l-2.564,0.656c-0.553,0.148-1.099,0.302-1.587,0.405c-0.855,0.167-1.729,0.283-2.596,0.405l-2.442,0.366c-0.591,0.103-1.183,0.206-1.845,0.27c-2.14,0.225-4.293,0.347-6.478,0.366l-0.604-0.006h-0.013c-7.037-0.006-13.946-1.054-20.553-3.123c-0.572-0.18-1.131-0.405-1.69-0.617l-2.416-0.88c-0.752-0.264-1.497-0.521-2.217-0.823C105.982,134.919,89.4,109.892,89.4,82.032C89.4,80.946,89.484,79.879,89.561,78.819z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></a>
    </div>
    
    <div class="e-minicart">
        <a href="/checkout">
            <svg viewBox="0 -11 414.00226 414" xmlns="http://www.w3.org/2000/svg"><path d="m202.480469 352.132812c0-21.800781-17.671875-39.472656-39.46875-39.472656-21.800781 0-39.472657 17.671875-39.472657 39.46875 0 21.800782 17.671876 39.472656 39.472657 39.472656 21.785156-.023437 39.445312-17.679687 39.46875-39.46875zm-64.941407 0c0-14.070312 11.402344-25.472656 25.472657-25.472656 14.066406 0 25.46875 11.402344 25.46875 25.46875 0 14.070313-11.402344 25.472656-25.46875 25.472656-14.0625-.015624-25.457031-11.410156-25.472657-25.46875zm0 0"/><path d="m309.167969 391.601562c21.800781.003907 39.472656-17.667968 39.472656-39.46875.003906-21.800781-17.667969-39.472656-39.46875-39.472656s-39.472656 17.671875-39.472656 39.472656c.027343 21.785157 17.679687 39.441407 39.46875 39.46875zm0-64.941406c14.066406 0 25.472656 11.402344 25.472656 25.46875.003906 14.066406-11.402344 25.472656-25.46875 25.472656s-25.472656-11.402343-25.472656-25.46875c.015625-14.058593 11.410156-25.453124 25.46875-25.472656zm0 0"/><path d="m7 14h42.699219c14.050781-.054688 26.03125 10.175781 28.171875 24.066406l33.800781 213.511719c3.191406 20.703125 21.050781 35.957031 42 35.875h208.929687c3.863282 0 7-3.136719 7-7 0-3.867187-3.136718-7-7-7h-208.929687c-14.050781.054687-26.03125-10.179687-28.171875-24.066406l-5.746094-36.300781h213.980469c18.117187-.007813 34.242187-11.484376 40.179687-28.597657l39.699219-114.578125c.746094-2.140625.40625-4.507812-.90625-6.355468-1.316406-1.84375-3.441406-2.941407-5.707031-2.941407h-311.386719l-3.914062-24.738281c-3.191407-20.703125-21.050781-35.9570312-42-35.875h-42.699219c-3.867188 0-7 3.136719-7 7 0 3.867188 3.132812 7 7 7zm390.164062 60.617188-36.476562 105.285156c-3.984375 11.480468-14.800781 19.179687-26.953125 19.183594h-216.199219l-19.707031-124.472657zm0 0"/></svg>
            <div class="e-number">
                <vtex.cmc:AmountItemsInCart/>        
            </div>
        </a>
        
        <div class="e-message-add js--message-add-product">
            <span class="e-icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7C514.5,101.703,514.499,85.494,504.502,75.496z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
            <span class="e-text">Produto adicionado ao carrinho!</span>
        </div>
    </div>
</header>



<div id="mini-cart-admake" style="display: none !important;">
<div class="mini-cart-background"></div>
<div class="mini-cart-content">
    <div class="mini-cart-header">
        <img src="/arquivos/lucco-fit-white.png" alt="" />
        <button class="btn btn-default"><i class="fa fa-chevron-circle-right"></i></button>
        <p>Minha cesta</p>
    </div>
    <div class="mini-cart-itens">
        <!-- recebe itens -->
    </div>
    <div class="mini-cart-totais">
        <strong id="mini-cart-admake-total" class="pull-right"><!-- recebe valor total --></strong>
        <span>Total</span>
    </div>
    <div class="mini-cart-footer">
        <div class="mini-cart-botao">
            <a href="javascript: void(0);" class="btn btn-block btn-verde btn-continuar-comprando">Continuar comprando</a>
            <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Finalizar compra</a>
        </div>
    </div>
</div>
</div>