<link href="/arquivos/luccofit-common-popups.css" rel="stylesheet" type="text/css" />

<section class="luccofit-popups">
	<div class="luccofit-popups__overlay"></div>
	<div class="luccofit-popups__contents">
		<button class="luccofit-popups__close"></button>
		<div class="luccofit-popups__image">
			<img src="/arquivos/luccofit-blackfriday-logo.png" alt="" />
		</div>
		<div class="luccofit-popups__headline">
			<h2 class="luccofit-popups__headline-title"><strong>Cadastre-se</strong> e receba ofertas de até <strong>50% OFF</strong></h2>
		</div>
		<div class="luccofit-popups__newsletter">
			<div id="mc_embed_signup">
				<form action="https://luccofit.us14.list-manage.com/subscribe/post?u=36b78d3f5b7ec9639ca415d15&amp;id=1a7b7e074d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
					<div id="mc_embed_signup_scroll">
						<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name </label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Nome" />
						</div>
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-Mail" />
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_36b78d3f5b7ec9639ca415d15_1a7b7e074d" tabindex="-1" value="" /></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="luccofit-leaving">
	<div class="luccofit-leaving__overlay"></div>
	<div class="luccofit-leaving__contents">
		<button class="luccofit-leaving__close"></button>
		<div class="luccofit-leaving__header">
			<h2>Espere</h2>
			<h3>Você ainda não viu tudo ;)</h3>
		</div>
		<div class="luccofit-leaving__tagline">
			<p>Aproite a Black Friday e <br/> Use esse cupom ao finalizar a compra:</p>
		</div>
		<div class="luccofit-leaving__cupom">
			<p class="luccofit-leaving__cupom--code">BlackFriday25OFF</p>
			<input type="hidden" name="js--cupom-code" value="BlackFriday25OFF"/>
			<button class="luccofit-leaving__cupom--copy"></button>
		</div>
		<div class="luccofit-leaving__buy">
			<button class="js--continue-shopping">Continuar Comprando</button>
		</div>
	</div>
</section>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<script type="text/javascript" src="https://raw.githubusercontent.com/scdoshi/jquery-ajaxchimp/master/jquery.ajaxchimp.js"></script>
<script type="text/javascript" src="/arquivos/luccofit-common-popups.js"></script>