@import '../generic/_breakpoints';

.e-footer {
    float: left;
    width: 100%;
    background: #505050;
    @include breakpoint('mobile'){
        display: none;
    }
    &__center {
        padding-top: 60px;
        .e-institucional {
            margin: 0 160px;
            margin-bottom: 60px;
            &-items {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-item {
                    width: 21%;
                    &:nth-child(4) {
                        width: 31%;
                    }
                    &-block {
                        width: 100%;
                        &--icons {
                            &--items {
                                width: 53%;
                                justify-content: space-between;
                                margin-top: 17px;
                                display: flex;
                                &-item {
                                    a {
                                        .e-insta {
                                            background: url(/arquivos/luccofit-footer-icon-instagram.png) no-repeat;
                                            width: 21px;
                                            height: 21px;
                                            background-size: 100%;
                                            display: block;
                                        }
                                        .e-twitter {
                                            background: url(/arquivos/luccofit-footer-icon-twitter.png) no-repeat;
                                            width: 21px;
                                            height: 21px;
                                            background-size: 100%;
                                            display:  none;
                                        }
                                        .e-facebook {
                                            background: url(/arquivos/luccofit-footer-icon-facebook.png) no-repeat;
                                            width: 21px;
                                            height: 21px;
                                            background-size: 100%;
                                            display: block;
                                            position: relative;
                                            right: 50px;

                                        }
                                    }
                                }
                            }
                        }
                        &-map{
                            margin-top: 10px;
                        }
                        .e-title {
                            width: 100%;
                            display: block;
                            font-size: 13px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: white;
                            margin-bottom: 26px;
                        }
                        .e-institucional-items-item-block--img{
                            width: 100%;
                            &--top{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                            &--bottom{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                            svg{
                                margin-right: 10px;
                            }
                        }
                        .e-links {
                            width: 100%;
                            display: block;
                            color: white;
                            font-size: 12px;
                            text-transform: uppercase;
                            line-height: 2.2em;
                        }
                        .e-text {
                            color: white;
                            font-size: 14px;
                            width: 70%;
                            display: block;
                            line-height: 1.6em;
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .e-newsletter {
                            margin-top: 20px;
                            &__form {
                                .newsletter {
                                    .newsletter-title {
                                        display: none;
                                    }
                                    fieldset {
                                        width: 100%;
                                        float: left;

                                        label{
                                            color: #fff;
                                            em{
                                                font-style: normal;
                                            }
                                        }

                                        p {
                                            display: none;
                                        }
                                        #newsletterClientName {
                                            display: none;
                                        }
                                        #newsletterClientEmail {
                                            border: 1px solid white;
                                            height: 40px;
                                            background: transparent;
                                            color: white;
                                            padding-left: 20px;
                                            width: 63%;
                                            border-radius: 5px;
                                            font-size: 14px;
                                        }
                                        #newsletterButtonOK {
                                            height: 40px;
                                            width: 90px;
                                            margin-left: 10px;
                                            border-radius: 5px;
                                            background: white;
                                            color: #8AAF43;
                                            font-size: 12px;
                                            font-weight: 700;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .e-copyright {
            background: #6A6A6A;
            &__center {
                padding: 17px 0;
                display: flex;
                margin: 0 160px;
                position: relative;
                &-text {
                    width: 51%;
                    p {
                        font-size: 12px;
                        color: white;
                    }
                }
                &-logo {
                    width: 16%;
                    margin-left: 62px;
                    &-items {
                        display: flex;
                        justify-content: space-around;
                        position: relative;
                        top: 3px;

                        &--item {
                            margin-right: 10px;
                            img{
                                height: 35px;
                            }
                        }
                    }
                }
                &-button {
                    width: 40px;
                    height: 40px;
                    border: 2px solid white;
                    bottom: 12px;
                    border-radius: 7px;
                    position: absolute;
                    right: 12px;
                    cursor: pointer;
                    .e-button {
                        background: url(/arquivos/luccofit-icon-seta-pra-cima-desktop.png) no-repeat;
                        display: block;
                        width: 17px;
                        height: 17px;
                        -webkit-background-size: 100% 100%;
                        background-size: 100%;
                        margin: 0 auto;
                        position: relative;
                        top: 9px;
                    }
                }
            }
        }
        .e-newsletter{
            &__form{
                width: 100%;
                display: none;
                &--newsletter{
                    display: block!important;
                    #mc_embed_signup{
                        #mc-embedded-subscribe-form{
                            .tagline{
                                display: none;
                            }
                            .mc-field-group{
                                label{
                                    display: none!important;
                                }
                                input{
                                   border: 1px solid white;
                                   height: 40px;
                                   background: transparent;
                                   color: white;
                                   padding-left: 20px;
                                   width: 63%;
                                   -webkit-border-radius: 5px;
                                   border-radius: 5px;
                                   font-size: 14px;
                               }
                           }
                           #mc-embedded-subscribe{
                            height: 40px;
                            width: 90px;
                            margin-top: 10px;
                            -webkit-border-radius: 5px;
                            border-radius: 5px;
                            background: white;
                            color: #8AAF43;
                            font-size: 12px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
}

@include breakpoint('desktop'){
    .e-footer-mobile {
        display: none;
    }
}

@include breakpoint('mobile'){
    .e-footer-mobile {
        width: 100%;
        float: left;
        background: #505050;
        &__center {
            position: relative;
            &--button {
                width: 40px;
                height: 40px;
                left: 84%;
                position: absolute;
                border: 2px solid #8EB249;
                top: -98px;
                border-radius: 7px;
                @include breakpoint('desktop'){
                    display: none;
                } 
                .e-button-down {
                    background: url(/arquivos/luccofit-icon-seta-pra-cima.png) no-repeat;
                    display: block;
                    width: 17px;
                    height: 17px;
                    background-size: 100%;
                    margin: 0 auto;
                    position: relative;
                    top: 9px;
                    @include breakpoint('desktop'){
                        display: none;
                    } 
                }
            }
            .e-newsletter-mobile {
                padding: 0 48px;
                margin-top: 35px;
                .e-title {
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    display: block;
                    margin-bottom: 18px;
                }
                .e-text {
                    color: white;
                    font-size: 15px;
                    line-height: 1.5em;
                    img{
                        width: 14px;
                        height: 14px;
                    }
                }
                .e-newsletter__form {
                    margin: 20px 0 33px 0;
                    display: none;
                    &--newsletter{
                        display: block!important;
                        #mc_embed_signup{
                            #mc-embedded-subscribe-form{
                                .tagline{
                                    display: none;
                                }
                                .mc-field-group{
                                    label{
                                        display: none!important;
                                    }
                                    input{
                                        border: 1px solid white;
                                        height: 40px;
                                        background: transparent;
                                        color: white;
                                        padding-left: 20px;
                                        width: 63%;
                                        -webkit-border-radius: 5px;
                                        border-radius: 5px;
                                        font-size: 14px;
                                    }
                                }
                                #mc-embedded-subscribe{
                                    height: 40px;
                                    width: 90px;
                                    margin-top: 10px;
                                    -webkit-border-radius: 5px;
                                    border-radius: 5px;
                                    background: white;
                                    color: #8AAF43;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    .newsletter {
                        &-title {
                            display: none;
                        }
                        fieldset {
                            label{
                                color: #fff;
                                em{
                                    font-style: normal;
                                }
                            }
                            p {
                                display: none;
                            }
                            #newsletterClientName {
                                display: none;
                            }
                            #newsletterClientEmail {
                                border-radius: 5px;
                                border: 1px solid white;
                                width: 76%;
                                height: 40px;
                                background: transparent;
                                color: white;
                                padding-left: 20px;
                                font-size: 14px;
                            }
                            #newsletterButtonOK {
                                background: white;
                                width: 19%;
                                height: 40px;
                                margin-left: 10px;
                                -webkit-border-radius: 5px;
                                border-radius: 5px;
                                font-size: 14px;
                                color: #8EB249;
                            }
                        }
                    }
                }
            }
            .e-institucional-mobile {
                &__center {
                    &-items {
                        &--item {
                            border-top: 1px solid #c3c3c37d;
                            border-bottom: 1px solid #c3c3c37d;
                            .e-title {
                                padding: 0 48px;
                                line-height: 4.5em;
                                font-size: 14px;
                                color: white;
                                text-transform: uppercase;
                                font-weight: 700;
                                width: 100%;
                                display: block;
                                position: relative;
                                &:after {
                                    content: '';
                                    background: url(/arquivos/luccofit-footer-seta-white.png) no-repeat;
                                    background-size: 100%;
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    position: absolute;
                                    right: 52px;
                                    top: 27px;
                                }
                            }
                            .e-dropdown {
                                display: none;
                                padding-left: 64px;
                                margin-bottom: 10px;
                                &.e-active {
                                    display: block;
                                }
                                &-items {
                                    .e-links {
                                        color: white;
                                        text-transform: uppercase;
                                        line-height: 1.8em;
                                        font-size: 15px;
                                    }
                                }
                                &--img{
                                    width: 80%;
                                    &--top{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                    }
                                    &--bottom{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                    }
                                }
                            }
                        }
                    }
                }
                &--icons {
                    margin: 40px 0;
                    &--items {
                        display: flex;
                        justify-content: center;
                        &-item {
                            a {
                                .e-insta {
                                    background: url(/arquivos/luccofit-footer-icon-instagram.png) no-repeat;
                                    width: 25px;
                                    height: 25px;
                                    background-size: 100%;
                                    display: block;
                                    margin-right: 38px;
                                }
                                .e-twitter {
                                    background: url(/arquivos/luccofit-footer-icon-twitter.png) no-repeat;
                                    width: 25px;
                                    height: 25px;
                                    background-size: 100%;
                                    display: block;
                                    margin-right: 38px;
                                }
                                .e-facebook {
                                    background: url(/arquivos/luccofit-footer-icon-facebook.png) no-repeat;
                                    width: 25px;
                                    height: 25px;
                                    background-size: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .e-copyright-mobile {
                background: #6A6A6A;
                &__center {
                    padding: 30px 48px 0;
                    &-text {
                        margin-bottom: 23px;
                        p {
                            font-size: 12px;
                            color: white;
                            text-align: center;
                        }
                    }
                    &-logo {
                        &-items {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &--item {
                                .e-econverse {
                                    margin-right: 16px;
                                }
                                .e-vtex{
                                    margin-right: 10px;
                                }
                                .eu-reciclo{
                                    height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.gm-style .place-card-medium{
    display: none !important;
}
.gm-inset.gm-inset-hover-enabled{
    display: none !important;
}