@import "../generic/_breakpoints";

.e-topbar {
  width: 100%;
  float: left;
  display: flex;
  height: 45px;
  background: #b8e602;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #505050;
  text-transform: uppercase;
  padding: 0 55px;

  @include breakpoint("mobile") {
    display: none;
  }

  .e-stores {
    a {
      font-size: 14px;
      text-decoration: none;
      align-items: center;
      color: #505050;
      display: flex;

      .e-icon {
        margin-right: 5px;
        svg {
          width: 17px;
        }
      }

      strong {
        margin-left: 5px;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  .js--content-topbar {
    display: flex;
    align-items: center;

    .stars {
      margin: 0 10px;
    }
  }

  .e-contact {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        color: #505050;
        margin-left: 10px;
      }
    }
  }

  .e-location {
    display: flex;
    position: relative;
    left: -4px;
    align-items: center;

    span {
      svg {
        display: none;
        width: 20px;
      }

      &.arrow {
        margin-left: 10px;
        position: relative;
        // top: 2px;

        svg {
          width: 12px;
          display: block;
        }
      }

      &.pin {
        margin-right: 5px;
        &:after {
          content: "";
          background: url(/arquivos/luccofit-icon-location-mobile.png) no-repeat;
          width: 13px;
          height: 19px;
          background-size: 100%;
          display: inline-block;
          position: relative;
          top: 0;
          left: -2px;
          margin-right: 4px;
        }
      }
    }
  }
}

.e-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding-right: 2%;

  @include breakpoint("mobile") {
    display: none;
  }

  .e-logo {
    width: 230px;
    height: 70px;
    position: relative;
    left: 24px;

    img {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
      z-index: 999;
    }
  }

  .e-menu {
    width: 50%;
    margin-left: 5%;

    #admake-advanced-filter {
      display: none !important;
    }

    .menu-departamento {
      width: 100%;
      display: flex !important;
      overflow: visible !important;

      > ul {
        display: none;
      }

      h3 {
        position: relative;

        &:hover {
          > a {
            font-weight: bold;
          }

          ul {
            display: block;
          }
        }

        > a {
          font-size: 13px;
          color: #505050;
          text-transform: uppercase;
          font-weight: 400;
          padding: 15px;
          text-decoration: none;
        }

        ul {
          display: none;
          width: 220px;
          position: absolute;
          left: -10px;
          top: 30px;
          background: #fff;
          padding: 20px;

          li {
            display: block;
            margin: 10px 0;

            a {
              font-size: 13px;
              color: #505050;
              text-transform: uppercase;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .e-search {
    margin-left: auto;
    width: 15%;

    form {
      width: 170px;
      display: flex;
      position: relative;
      left: -22px;

      input {
        width: 170px;
        height: 30px;
        border-bottom: 1px solid #505050;
        color: #000;
        &::placeholder {
          color: #000;
        }
      }
      .e-send {
        width: 20px;
        height: 20px;
        background: url(/arquivos/icon-search.png) no-repeat center;
        border: 0;
        background-size: 100%;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 8px;
      }
    }
  }

  .e-account {
    margin-left: 20px;
    position: relative;
    left: -31px;
    top: 5px;
    a {
      background: url(/arquivos/luccofit-icon-users-mobile.png) no-repeat;
      width: 19px;
      height: 28px;
      -webkit-background-size: 100% 100%;
      background-size: 100%;
      display: inline-block;
      position: relative;
      top: 3px;
      left: 2px;
      margin-right: 9px;

      svg {
        display: none;
      }
    }
  }

  .e-minicart {
    margin-left: 20px;
    position: relative;
    left: -31px;
    top: 5px;

    a {
      svg {
        width: 20px;
      }

      .e-number {
        .amount-items-in-cart {
          .title {
            display: none;
          }
          .cart-info {
            > li {
              display: none;

              &.amount-items {
                display: block;

                strong {
                  display: none;
                }

                .amount-items-em {
                  width: 17px;
                  height: 17px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #b8e602;
                  color: #505050;
                  font-size: 11px;
                  position: absolute;
                  top: -8px;
                  right: -12px;
                  font-weight: bold;
                  border-radius: 50%;
                  font-style: normal;
                }
              }
            }
          }
        }
      }
    }
  }

  .e-minicart {
    position: relative;

    .e-message-add {
      position: absolute;
      top: 50px;
      right: -20px;
      width: 250px;
      background: #b8e602;
      padding: 10px;
      color: #505050;
      font-size: 13px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      display: none;

      &.e-active {
        display: flex;
      }

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7.5px 10px 7.5px;
        border-color: transparent transparent #b8e602 transparent;
        position: absolute;
        top: -10px;
        right: 20px;
      }

      .e-icon {
        margin-right: 10px;

        svg {
          width: 20px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .e-topbar-mobile,
  .e-search-mobile,
  .e-header-mobile {
    display: none !important;
  }
}

@include breakpoint("mobile") {
  .e-topbar-mobile {
    height: 40px;
    background: #b8e602;
    display: flex;
    align-items: center;

    .e-conquered {
      display: flex;
      font-size: 11px;
      align-items: center;
      padding: 0 10px;
      color: #505050;
      text-transform: uppercase;
      text-align: center;
      font-family: "Roboto", sans-serif;

      .stars {
        display: flex;

        img {
          width: 15px;
          height: auto;
        }
      }
    }
    .e-contact {
      img {
        width: 19px;
        height: 19px;
      }
    }
  }
  .e-search-mobile {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    &.e-active {
      opacity: 1;
      visibility: visible;
    }
    .e-close {
      background: url(/arquivos/luccofit-icon-close.png) no-repeat;
      width: 22px;
      height: 22px;
      background-size: 100%;
      position: relative;
      top: 10px;
      left: 88%;
    }
    .js--search {
      margin-top: 26px;
      text-align: center;
      position: relative;
      input {
        width: 90%;
        border: 1px solid #707070;
        line-height: 45px;
        border-radius: 5px;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 29px;
      }
      .js--send-search {
        background: url(/arquivos/luccofit-search-mobile.png) no-repeat;
        width: 26px;
        height: 27px;
        background-size: 100%;
        position: absolute;
        top: 12px;
        right: 41px;
      }
    }
  }
  .e-header-mobile {
    display: flex;
    justify-content: space-around;
    height: 66px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    border-bottom: 1px solid #ccc;

    .e-menu {
      position: relative;
      top: 23px;
      width: 24px;
      height: 19px;
      &-button {
        display: block;
        flex-basis: 10%;

        span {
          position: relative;
          display: block;
          width: 23px;
          height: 2px;
          background: #505050;
          margin-bottom: 6px;
          transition: all ease-in-out 0.2s;
        }
      }
      &-dropdown {
        background: white;
        width: 100%;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        padding-top: 40px;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all ease-in-out 0.3s;
        &.e-active {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
        }
        &-container {
          display: flex;
          &--button {
            width: 16%;
            text-align: center;
            .e-close {
              background: url(/arquivos/luccofit-icon-close.png) no-repeat;
              width: 22px;
              height: 22px;
              background-size: 100%;
              position: relative;
              top: 10px;
            }
          }
          &--account {
            width: 39%;
            a {
              border: 1px solid #505050;
              padding: 0 10px;
              height: 45px;
              line-height: 2.5em;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              display: block;
              .e-users {
                background: url(/arquivos/luccofit-icon-users-mobile.png) no-repeat;
                width: 19px;
                height: 28px;
                -webkit-background-size: 100% 100%;
                background-size: 100%;
                display: inline-block;
                position: relative;
                top: 8px;
                left: 2px;
                margin-right: 9px;
              }
              .e-hello {
                color: #505050;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                position: relative;
                top: -1px;
                .e-name {
                  font-weight: 500;
                  color: #505050;
                  font-size: 12px;
                  text-transform: uppercase;
                }
              }
            }
          }
          &--location {
            width: 39%;
            margin-left: 10px;
            border: 1px solid #505050;
            padding: 0 10px;
            height: 45px;
            line-height: 2.5em;
            border-radius: 5px;
            .e-location {
              .e-icon-location {
                background: url(/arquivos/luccofit-icon-location-mobile.png) no-repeat;
                width: 19px;
                height: 28px;
                -webkit-background-size: 100% 100%;
                background-size: 100%;
                display: inline-block;
                position: relative;
                top: 7px;
                left: 4px;
                margin-right: 11px;
              }
              span {
                font-weight: 700;
                color: #505050;
                font-size: 12px;
                text-transform: uppercase;
                position: relative;
                top: -2px;
              }
            }
          }
        }
        &--sub {
          .menu-departamento {
            margin-top: 25px;
            display: block !important;
            .has-sub {
              .menu-item-texto {
                &:after {
                  content: "";
                  background: url(/arquivos/luccofit-icon-seta.png) no-repeat;
                  display: inline-block;
                  width: 18px;
                  height: 10px;
                  transform: rotate(-90deg);
                  position: absolute;
                  right: 29px;
                  top: 22px;
                }
              }
            }
            h3 {
              border-top: 1px solid #c3c3c38f;
              border-bottom: 1px solid #c3c3c38f;
              .menu-item-texto {
                color: #505050;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 4em;
                padding: 0 37px 0 60px;
                width: 100%;
                display: block;
                position: relative;
              }
              ul {
                top: 0;
                right: -100%;
                bottom: 0;
                background: #fff;
                position: fixed;
                width: 100%;
                height: 100%;
                padding-top: 74px;
                padding-left: 64px;
                transition: ease-in 0.3s;
                .e-close-drop {
                  background: url(/arquivos/luccofit-icon-left.png) #f5f5f5;
                  width: 100%;
                  height: 50px;
                  background-position: center left 10px;
                  background-repeat: no-repeat;
                  background-size: 12px;
                  position: absolute;
                  left: 0;
                  top: 0;
                  color: #505050;
                  text-align: center;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  font-size: 16px;
                  padding: 0 0 0 64px;
                  text-transform: uppercase;
                  cursor: pointer;
                }
                &.e-active {
                  right: 0;

                  z-index: 1;
                }
                li {
                  padding-bottom: 20px;
                  &.e-all {
                    a {
                      font-size: 16px;
                      font-weight: 700;
                      color:#8AAF43;
                    }
                  }
                  a {
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #505050;
                  }
                }
              }
            }
          }
        }
        &--stores {
          height: auto;
          padding: 20px 0 45px 0;
          a {
            display: block;
            width: 69%;
            border: 1px solid #505050;
            padding: 0 10px;
            height: 45px;
            border-radius: 5px;
            margin: 0 auto;
            text-align: center;
            color: #505050;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 3.5em;
          }
        }
      }
      .e-menu-dropdown__overlay {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 999;
        position: fixed;
        display: none;
        &.e-active {
          display: block;
        }
      }
    }
    .e-logo {
      position: relative;
      top: 15px;
      z-index: 2;
    }
    .e-icon-search {
      position: relative;
      top: 23px;
      width: 20px;
      height: 19px;
      left: 5px;
    }
    .e-minicart {
      position: relative;
      top: 21px;
      width: 26px;
      height: 26px;
      left: -6px;
      a {
        svg {
          height: 25px;
          width: 25px;
        }

        .e-number {
          .amount-items-in-cart {
            .title {
              display: none;
            }
            .cart-info {
              > li {
                display: none;

                &.amount-items {
                  display: block;

                  strong {
                    display: none;
                  }

                  .amount-items-em {
                    width: 17px;
                    height: 17px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #b8e602;
                    color: #505050;
                    font-size: 11px;
                    position: absolute;
                    top: -8px;
                    right: -12px;
                    font-weight: bold;
                    border-radius: 50%;
                    font-style: normal;
                  }
                }
              }
            }
          }
        }
      }
      .e-message-add {
        position: absolute;
        top: 50px;
        right: -20px;
        width: 250px;
        background: #b8e602;
        padding: 10px;
        color: #505050;
        font-size: 13px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        display: none;

        &.e-active {
          display: flex;
        }

        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7.5px 10px 7.5px;
          border-color: transparent transparent #b8e602 transparent;
          position: absolute;
          top: -10px;
          right: 20px;
        }

        .e-icon {
          margin-right: 10px;

          svg {
            width: 20px;
          }
        }
      }
    }
  }
}
