@import "../generic/_breakpoints";

.shelf__main {
  > h2 {
    display: none;
  }

  ul {

    .slick-list {
      width: 100%;
      float: left;
      overflow: hidden;
    }

    li {
      width: 25%;
      display: flex;
      float: left;
      padding: 0;
      position: relative;

      @include breakpoint("mobile") {
        width: calc(80% - 8px);
        margin: auto;
        margin-bottom: 20px;
      }

      .e-product {
        width: 100%;
        display: block;
        padding: 15px;

        @include breakpoint("mobile") {
          padding: 0;
        }

        &__image {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }

        &__group {
          width: 100%;
          display: block;
          text-align: center;

          &--name {
            display: block;
            margin: 20px 0 10px;
            height: 40px;

            a {
              font-size: 14px;
              color: #505050;
              text-transform: uppercase;
              line-height: 22px;
            }
          }

          &--price {
            width: 100%;
            display: block;
            min-height: 40px;
            
            &--best-single,
            &--best {
              font-size: 20px;
              color: #505050;
              font-weight: bold;
            }

            &--old {
              display: block;
              font-size: 14px;
              color: #666;
              text-decoration: line-through;
            }
          }

          &--buy {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;

            .e-product-quantity {
              width: 75%;
              height: 48px;
              line-height: 48px;
              color: #fff;
              font-size: 12px;
              text-transform: uppercase;
              text-decoration: none;
              border-radius: 5px;
              text-align: center;
              margin: 0 auto;
              border: 2px solid #8aaf43;
              display: flex;
              justify-content: space-evenly;
              &-minus {
                width: 20%;
                font-weight: 700;
                font-size: 18px;
                color: #919191;
              }
              &-value {
                width: 35%;
                text-align: center;
                font-weight: 700;
                font-size: 18px;
                color: #505050;
              }
              &-plus {
                width: 20%;
                font-weight: 700;
                font-size: 18px;
                color: #505050;
              }
            }

            &-button {
              width: 75%;
              margin: 0 auto;
              &.e-inativo {
                opacity: 0.5;
                pointer-events: none;
              }
              a {
                width: 100%;
                height: 48px;
                line-height: 48px;
                display: block;
                background: #8aaf43 !important;
                color: #fff;
                font-size: 14px !important;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 5px;
                text-align: center;

                &.e-loading {
                  pointer-events: none;
                  opacity: 0.5;
                }
              }
            }
          }

          &--quantity {
            width: 55px;
            height: 46px;
            border: 1px solid #505050;
            border-radius: 5px;
            text-align: center;
            display: none !important;

            &-input {
              width: 60%;
              height: 100%;
              display: flex;
              text-align: center;
              float: left;
              margin-left: 3px;

              input {
                width: 100%;
                text-align: center;
                display: flex;
                position: relative;
                font-size: 14px;
                color: #505050;

                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }
              }
            }

            &-button {
              width: 33%;
              display: inline-block;

              button {
                width: 100%;
                height: 20px;
                cursor: pointer;
                border: 0;
                background: url("/arquivos/icon-plus-quantity.png") no-repeat center 10px;

                &.js--quantity-minus {
                  background: url("/arquivos/icon-minus-quantity.png") no-repeat center 6px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.e-product__image {
  display: none;
}

.e-product__lazyload {
  display: block !important;
}

.has--lazyload {
  display: block !important;
  width: 100%;
  position: relative;
  min-height: 200px;
  text-align: center;
  &::before {
    content: "";
    width: 100%;
    background: #d5d5d5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &.is--lazyloaded {
    &::before {
      display: none;
    }
  }
  img {
    width: 100%;
    height: auto;
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}

label.item_unavailable {
  opacity: 0.5;
}

.departamento, .categoria, .resultado-busca, .home {
  .shelf__main ul {
    float: left;
  }
}



p.e-product__group--price--installments {
  margin-bottom: 10px;
  font-size: 15px;
  color: #505050;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  order: 1;
}
.e-product__group--price a {
  display: flex;
  flex-wrap: wrap;
  p {
    &:first-of-type {
      order: 2;
      width: 100%;
    }
  }
}