/* /files/checkout5-custom.css */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i");
@import './generic/__breakpoints.scss';
body {
  font-family: "Roboto";
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

.luccofit-loading{
  display: none;
  &:before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 99;
  }
  &:after{
    content: '';
    background: url('https://luccofit.vteximg.com.br/arquivos/logo-luccofit.png');
    background-repeat: no-repeat;
    background-size: 160px;
    width: 160px;
    height: 68px;
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation: pulse 4s linear 0s infinite alternate;
  }
}

.e-header {
  display: flex !important;
  border-bottom: 1px solid #cccccc;
  width: 100%;

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 82px;

    @media (max-width: 767px) {
      padding: 0 18px;
    }
  }
  &__logo {
    width: 160px;
    @media (max-width: 767px) {
      width: 140px;
    }
    a {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
  &__title {
    @media (max-width: 767px) {
      display: none;
    }
    h2 {
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #707070;
      text-transform: uppercase;
      font-weight: 400;
      strong {
        font-weight: 700;
      }
    }
  }
  &__security {
    display: flex;
    align-items: center;
    &--icon {
      margin: 0 8px 0 0;
      svg {
      }
    }
    &--text {
      font-size: 16px;
      font-weight: 400;
      color: #707070;
      text-transform: uppercase;
      line-height: 20px;
      strong {
        font-weight: 700;
      }
    }
  }
}
body {
  padding: 0;
  @media (min-width: 1200px) {
    .container-cart,
    .container-order-form {
      width: 1100px;
    }
  }

  .msg-cupom {
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 82px;
    right: 0;
    width: 360px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    background: #86ae5b;
    p {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 600;
      display: inline-block;
      color: #fff;
      text-align: center;
    }
    button {
      float: right;
      -webkit-appearance: none;
      background: none;
      border: none;
      margin: 5px 0 0 0;
    }
    svg {
      * {
        stroke: #fff;
      }
    }
  }
  &.body-cart {
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
    .container-cart {
      width: calc(100% - 164px);
      margin: auto;

      @media (max-width: 767px) {
        width: calc(100% - 32px);
        padding: 32px 0 0 0 !important;
      }
      #cart-title {
        display: none !important;
      }
    }
    #cart-title {
      display: none;
    }
    .full-cart {
      .cart {
        border: none;
        .table {
          thead {
            tr {
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0.03em;
              color: #707070;
              border-bottom: 2px solid #e9e9e9;
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #efefef;

              @media (max-width: 767px) {
                padding: 16px 0;
                margin: 0;
              }
              &:first-of-type {
                @media (max-width: 767px) {
                  border-top: 1px solid #efefef;
                }
              }
              + tr {
                @media (max-width: 767px) {
                  border-top: none;
                }
              }
              .product-image {
                a {
                  img {
                    max-width: 85px;
                    width: 85px;
                    height: auto;
                    @media (max-width: 767px) {
                      max-width: 60px;
                      width: 60px;
                    }
                  }
                }
              }
              .product-name {
                a {
                  text-transform: uppercase;
                  font-size: 14px;
                  letter-spacing: 0.08em;
                  color: #707070;
                  @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 40px;
                    padding-left: 16px;
                  }
                }
              }
              .item-remove {
                a {
                  &:hover {
                    color: #86ae5b;
                  }
                }
                @media (max-width: 767px) {
                  top: 0;
                }
              }
              .seller {
                display: none;
              }
              .shipping-date {
                font-size: 14px;
                letter-spacing: 0.04em;
                font-weight: 500;
                color: #707070;
                text-transform: uppercase;
              }
              .add-item-attachment-container {
                display: none;
              }
              .product-price,
              .quantity-price {
                font-size: 16px;
                letter-spacing: 0.005em;
                font-weight: 700;
                color: #707070;
                font-weight: 700;
              }
              .product-price {
                margin-top: 16px;
                .list-price {
                  font-size: 12px;
                }

                .discount {
                  color: #86ae5b;
                }
                .field-help {
                  background: #86ae5b;
                  border-color: #86ae5b;
                }
              }
              .quantity {
                position: relative;
                width: 60px;
                height: 48px;
                border: 1px solid #505050;
                border-radius: 4px;
                padding: 0;
                margin: 10px auto;
                display: flex;
                align-items: center;

                @media (max-width: 767px) {
                  position: relative;
                  width: 50px;
                  height: 38px;
                  border: 1px solid #505050;
                  border-radius: 4px;
                  padding: 0;
                  margin: 0 0 0 76px;
                  display: block;
                }
                .item-quantity-change {
                  position: absolute;
                  right: 8px;

                  @media (max-width: 767px) {
                    right: 5px;
                    padding: 0;
                    line-height: 10px;
                  }
                  &-decrement {
                    bottom: 8px;
                    @media (max-width: 767px) {
                      bottom: 4px;
                    }
                  }
                  &-increment {
                    top: 0;
                  }
                }
                input {
                  border: none;
                  box-shadow: none;
                  font-size: 14px;
                  @media (max-width: 767px) {
                    width: 30px;
                    height: 38px;
                    padding: 0;
                  }
                }
                .icon {
                  font-size: 11px;
                  color: #707070;
                  &.icon-minus-sign {
                    &:before {
                      content: "\f078";
                    }
                  }
                  &.icon-plus-sign {
                    &:before {
                      content: "\f077";
                    }
                  }
                }
              }
            }
          }
        }
      }
      .summary-template-holder {
        .coupon-column {
          display: flex;
          .coupon-data {
            display: none !important;
          }
          .summary-coupon {
            margin: 0;
            display: none;

            @media (max-width: 767px) {
              width: 100%;
            }
          }
          .coupon-fieldset {
            > div {
              display: block !important;
              .coupon-label {
                font-size: 14px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #7e7e7e;
              }
              .coupon-fields {
                width: 283px;
                display: flex;

                @media (max-width: 767px) {
                  width: 100%;
                }
                .info {
                  > span {
                    font-size: 10px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 0 10px;
                    font-weight: 700;
                    background: #89b05f;
                    border-radius: 5px;
                  }
                  small {
                    a {
                      color: #9f1d1f;
                      margin: 0 0 0 16px;
                      font-weight: 700;
                      text-transform: uppercase;
                    }
                  }
                }
                > span {
                  display: flex;
                  justify-content: space-between;
                  @media (max-width: 767px) {
                    width: 100%;
                  }
                }
                #cart-coupon {
                  height: 38px;
                  line-height: 38px;
                  border-radius: 5px;
                  border: 1px solid #7e7e7e;
                  font-size: 14px;
                  padding: 0 16px;
                  letter-spacing: 0.04em;
                  font-weight: 700;
                  width: 55%;
                  font-family: "Roboto";
                  text-transform: uppercase;
                }
                .loading-coupon {
                  display: none;
                }
                #cart-coupon-add {
                  height: 40px;
                  line-height: 40px;
                  width: 40%;
                  border-radius: 5px;
                  font-family: "Roboto";
                  background: #86ae5b;
                  margin: 0 0 0 16px;
                  border: none;
                  text-shadow: none;
                  padding: 0;
                  color: #fff;
                  font-size: 14px;
                  letter-spacing: 0.04em;
                  text-transform: uppercase;
                  align-items: center;
                }
              }
            }
          }
        }
        .summary-totalizers {
          width: 283px;
          padding: 0;
          @media (max-width: 767px) {
            width: 100%;
          }
          .accordion-group {
            .accordion-inner {
              table {
                tr {
                  border: none;
                  .info {
                    text-align: left;
                  }
                  .monetary {
                    text-align: left;
                  }
                  .empty {
                    display: none;
                  }
                }
                .totalizers-list {
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #707070;
                  letter-spacing: 0.04em;

                  .info {
                    .cart-reset-postal-code {
                      position: absolute;
                      left: -10px;
                      @media (max-width: 767px) {
                        left: unset;
                        margin-right: 10px;
                      }
                      i {
                        color: #86ae5b;

                        font-size: 15px;
                      }
                    }
                    .shipping-sla-selector {
                      @media (max-width: 767px) {
                      }
                      .shipping-sla-button {
                        background: none;
                        box-shadow: none;
                        border: none;
                        border-bottom: 1px solid;
                        border-radius: 0;
                      }
                      .dropdown-menu {
                        left: auto;
                        right: 0;
                        border-radius: 0;
                        border-color: transparent;
                        padding: 0;
                        margin: 3px;

                        li {
                          a {
                            color: #86ae5b;

                            @media (max-width: 767px) {
                              display: flex;
                              width: 100%;
                              white-space: normal;
                            }
                            &:hover {
                              background: #86ae5b;
                              color: #fff;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .shipping-calculate {
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #707070;
                  letter-spacing: 0.04em;
                  font-weight: 500;
                  .shipping-calculate-link {
                    color: #86ae5b;
                    &:hover {
                      color: #86ae5b;
                    }
                  }
                  .summary-shipping {
                    #summary-postal-code {
                      border-color: #7e7e7e;
                    }
                    #cart-shipping-calculate {
                      background: #86ae5b;
                      color: #fff;
                      text-transform: uppercase;
                      font-size: 10px;
                      font-family: "Roboto";
                      box-shadow: none;
                      text-shadow: none;
                    }
                  }
                }
                tfoot {
                  text-transform: uppercase;
                  background: #fafafa;
                  td {
                    font-size: 14px;
                    font-weight: 700;
                  }
                  .info {
                    color: #707070;
                  }
                  .monetary {
                    color: #86ae5b;
                  }
                }
              }
            }
          }
        }
      }
      .cart-links {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 767px) {
          flex-direction: column;
          margin: 32px 0;
        }
        .link-choose-more-products-wrapper {
          width: 50%;
          display: flex;

          @media (max-width: 767px) {
            width: 100%;
          }
          #cart-choose-more-products {
            @media (max-width: 767px) {
              width: 100%;
            }
            width: 283px;
            height: 44px;
            border: 2px solid #86ae5b;
            border-radius: 5px;
            font-size: 0;
            letter-spacing: 0.04em;
            font-weight: 700;
            color: #86ae5b;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            &:hover {
              text-decoration: unset;
            }

            &:before {
              content: "Continuar Comprando";
              font-size: 16px;
            }
          }
        }
        .btn-place-order-wrapper {
          display: flex;
          width: 50%;
          justify-content: flex-end;
          @media (max-width: 767px) {
            width: 100%;
          }
          #cart-to-orderform {
            width: 283px;
            @media (max-width: 767px) {
              width: 100%;
            }
            height: 48px;
            border-radius: 5px;
            font-size: 16px;
            letter-spacing: 0.04em;
            font-weight: 700;
            color: #fff;
            padding: 0;
            box-shadow: none;
            border: none;
            background: #86ae5b;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-shadow: none;
          }
        }
      }
    }
  }
  &.body-order-form {
    .mini-cart{
      .summary{
        .coupon-column{
          display: block;
          .coupon-fieldset{
            width: 120%;
            margin-top: 10px;
            @media (max-width: 767px){
              margin-top: 0px;
              width: 100%;
              margin-left: 10px;
            }
            .coupon-label{
              margin-left: 65px;
              @media (max-width: 767px){
                margin-left: 0px;
              }
            }
            .coupon-fields{
              margin-left: 65px;
              width: 100%;
              @media (max-width: 767px){
                margin-left: 0px;
              }
            }
            .link-coupon-add{
              color: #707070;
              text-decoration: none;
              margin-right: 50px;
              @media (max-width: 767px){
                margin-right: 0px;
              }
            }
            @media (max-width: 767px){
              .pull-right{
                float: left;
              }
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
    .container-order-form {
      #orderform-title {
        display: none !important;
      }

      .orderform-active {
        overflow: unset;
      }

      .orderform-active {
        .orderform-template {
          .client-profile-data {
            .link-cart {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 0;
              margin: 0;

              @media (max-width: 767px) {
                top: 50vh;
              }
              small {
                #orderform-to-cart {
                  width: 283px;
                  border: 2px solid #86ae5b;
                  color: #86ae5b;
                  font-size: 16px;
                  font-weight: 700;
                  letter-spacing: 0.04em;
                  text-align: center;
                  height: 48px;
                  line-height: 48px;
                  display: flex;
                  justify-content: center;
                  margin: auto;
                  border-radius: 5px;
                  text-transform: uppercase;
                }
              }
              .client-pre-email-h {
                margin-top: 50px;
              }
            }
            .pre-email {
              .client-pre-email-h {
                span {
                  font-size: 0;

                  @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    line-height: 1;
                  }
                  &:before {
                    content: "Para finalizar a compra, ";
                    font-size: 16px;
                    font-weight: 700;
                    color: #86ae5b;
                    letter-spacing: 0.06em;
                  }
                  &:after {
                    content: "informe seu e-mail.";
                    font-size: 16px;
                    font-weight: 400;
                    color: #707070;
                    letter-spacing: 0.06em;
                  }
                }
                small {
                  display: none;
                }
              }

              .client-email {
                display: flex;
                justify-content: space-between;
                width: 620px;
                float: none;
                margin: 0 auto 32px;
                @media (max-width: 767px) {
                  width: 100%;
                  padding: 0 24px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                }

                #client-pre-email {
                  width: calc(100% - 156px);
                  height: 40px;
                  line-height: 40px;
                  border: 1px solid #7e7e7e;
                  font-size: 14px;
                  color: #7e7e7e;
                  letter-spacing: 0.04em;
                  font-family: "Roboto";
                  padding: 0 20px;
                  text-shadow: initial;
                  box-shadow: none;
                  top: 0;
                }
                #btn-client-pre-email {
                  height: 40px;
                  background: #86ae5b;
                  font-size: 14px;
                  letter-spacing: 0.04em;
                  line-height: 40px;
                  text-align: center;
                  font-family: "Roboto";
                  padding: 0;
                  border: none;
                  color: #fff;
                  text-transform: uppercase;
                  border-radius: 5px;
                  width: 140px;
                  text-shadow: initial;
                  box-shadow: none;
                  top: 0;

                  @media (max-width: 767px) {
                    width: 160px;
                    margin: 16px 0 0 0;
                  }
                }
              }
            }
            .emailInfo {
              width: 620px;

              background: #f8f8f8;
              border-radius: 5px;
              border: none;
              display: flex;
              flex-direction: column;

              @media (max-width: 767px) {
                width: calc(100% - 50px);
                padding: 16px 0;
              }
              > h3 {
                text-align: center;
                font-size: 16px;
                letter-spacing: 0.06em;
                font-weight: 400;
                color: #000;
                @media (max-width: 767px) {
                  font-size: 12px;
                  margin: 0 0 16px 0;
                }
              }
              ul.unstyled {
                margin: auto;
                li {
                  i {
                    color: #86ae5b;
                  }
                  span {
                    font-size: 13px;
                    color: #707070;
                    letter-spacing: 0.04em;
                    font-weight: 300;
                    margin: 0 0 0 16px;

                    @media (max-width: 767px) {
                      font-size: 12px;
                    }
                  }
                }
              }
              .icon-lock {
                font-size: 130px;
                bottom: -27px;
                right: -3px;
                color: #eaf0ea;
              }
            }
          }

          @media (max-width: 767px) {
            .orderform-template-holder {
              width: 100% !important;
              padding: 0 18px;
            }
          }

          .orderform-template-holder {
            width: 64%;
            .row-fluid {
              @media (max-width: 767px) {
                .step {
                  margin: 36px 0 0 0;
                }
              }
              .step {
                border: 2px solid #86ae5b;
                border-radius: 5px;
                margin: 64px 0 0 0;
                .accordion-heading {
                  .accordion-toggle {
                    .icon-user,
                    .icon-home,
                    .icon-credit-card {
                      color: #707070;
                      margin: 0 5px 0 0;
                      font-size: 20px;
                    }
                    span {
                      color: #707070;
                      font-size: 22px;
                      font-weight: 700;
                    }
                    .link-box-edit {
                      display: block !important;
                      color: #fff;
                      background: #86ae5b;
                      border: #86ae5b;
                      box-shadow: none;
                      text-shadow: none;
                      opacity: 1;
                      right: -7px;
                      top: -7px;
                    }
                  }
                }
                fieldset {
                  label {
                    font-size: 12px;
                    color: #707070;
                  }
                  input {
                    border-radius: 4px;
                    border: 1px solid #707070;
                    font-size: 12px;
                    box-shadow: none;
                    text-shadow: none;
                    color: #707070;
                  }
                  span.error {
                    font-size: 10px;
                    letter-spacing: 0.04em;
                  }
                  .links.unstyled {
                    a {
                      color: #86ae5b;
                      font-size: 12px;
                    }
                  }
                  small,
                  span {
                    a {
                      color: #86ae5b;
                      &:hover {
                        color: #86ae5b;
                      }
                    }
                  }
                }
                .submit {
                  button {
                    margin: 16px 0 0 0;
                    height: 46px;
                    line-height: 46px;
                    width: 100%;
                    border-radius: 5px;
                    background: #86ae5b;
                    border: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: 0.06em;
                    text-align: center;
                    box-shadow: none;
                    text-shadow: none;
                    padding: 0;
                  }
                }
              }
              #client-profile-data {
                .client-profile-data {
                  .accordion-body {
                    .accordion-inner {
                      .box-step {
                        .client-notice {
                          font-size: 12px;
                          letter-spacing: 0.03em;
                          font-weight: 300;
                          color: #707070;
                          padding: 0 20px 0 0;
                        }
                        fieldset {
                          label {
                            font-size: 12px;
                            color: #707070;
                          }
                          input {
                            border-radius: 4px;
                            border: 1px solid #707070;
                            font-size: 12px;
                            box-shadow: none;
                            text-shadow: none;
                            color: #707070;
                          }
                          span.error {
                            font-size: 10px;
                            letter-spacing: 0.04em;
                          }
                          .links.unstyled {
                            a {
                              color: #86ae5b;
                              font-size: 12px;
                            }
                          }
                        }
                        .checkbox {
                          input {
                            appearance: none;

                            width: 14px;
                            height: 14px;
                            border: 1px solid #86ae5b;
                            border-radius: 5px;

                            position: relative;
                            &:checked {
                              &:after {
                                content: "";
                                background: #86ae5b;
                                width: 6px;
                                height: 6px;
                                border-radius: 1px;
                                display: inline-block;

                                position: absolute;
                                right: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              #shipping-data {
                .shipping-options {
                  h4.pull-left {
                    font-size: 11px;
                    font-weight: 700;
                    color: #707070;
                  }
                  .sla-items-list {
                    .btn-group-vertical {
                      .shipping-option-item {
                        &.active {
                          background: #fff;
                          box-shadow: none;
                          border-color: #86ae5b;
                          z-index: 10;
                          font-weight: 500;
                          > i {
                            &.icon-ok-circle {
                              &:after {
                                content: "";
                                background: #86ae5b;
                                width: 6px;
                                height: 6px;
                                border-radius: 1px;
                                display: inline-block;

                                position: absolute;
                                right: 0;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                              }
                            }
                          }
                        }
                        > i {
                          &::before {
                            content: "";
                          }

                          width: 14px;
                          height: 14px;
                          border: 1px solid #86ae5b;
                          border-radius: 5px;

                          position: relative;
                          margin: -5px -10px 0 0;
                          padding: 0;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }
                        height: 30px;
                        align-items: center;
                        padding: 0 10px;
                        letter-spacing: 0.04em;
                        font-size: 11px;
                        color: #707070;
                        border: 1px solid #dedede;
                        display: flex;
                        justify-content: space-between;
                      }
                    }
                    .scheduled-sla {
                      .scheduled-sla-label {
                        cursor: pointer;
                        background: #fff;
                        border: 1px solid #86ae5b;
                        width: 100%;
                        text-align: center;
                        color: #86ae5b;
                        padding-bottom: 7px;
                        font-size: 16px;
                        font-weight: normal;
                        border-radius: 5px;
                        text-transform: uppercase;
                      }
                      .scheduled-sla-edit {
                        color: #86ae5b;
                      }
                      .scheduled-sla-value-container {
                        &:hover {
                          background: #fafafa;
                          span {
                            color: #707070;
                          }
                        }
                      }
                      .scheduled-sla-time {
                        > span {
                          font-size: 11px;
                          color: #707070;
                          font-weight: 700;
                        }

                        .delivery-windows {
                          label {
                            input {
                              appearance: none;

                              width: 14px;
                              height: 14px;
                              border: 1px solid #86ae5b;
                              border-radius: 5px;

                              position: relative;
                              &:checked {
                                &:after {
                                  content: "";
                                  background: #86ae5b;
                                  width: 6px;
                                  height: 6px;
                                  border-radius: 1px;
                                  display: inline-block;

                                  position: absolute;
                                  right: 0;
                                  left: 0;
                                  top: 0;
                                  bottom: 0;
                                  margin: auto;
                                }
                              }
                              span {
                                color: #707070;
                                font-size: 10px;
                              }
                            }
                          }
                        }
                      }
                      .picker {
                      }
                      > span {
                        font-size: 11px;
                        color: #707070;
                      }
                    }
                  }
                }
                #change-other-shipping-option {
                  border-color: #86ae5b;
                  color: #86ae5b;
                  font-size: 12px;
                  letter-spacing: 0.04em;
                }
              }
              #payment-data {
                .step {
                  margin: 32px 0 0 0;

                  .link-box-edit {
                    display: none !important;
                  }

                  .accordion-body {
                    .payment-group {
                      margin: 0;
                      .payment-group-list-btn {
                        width: 220px;
                        border-radius: 5px;
                        border: 1px solid #707070;
                        &:after {
                          content: "";
                        }
                        .payment-group-item {
                          &.active {
                            border-color: #86ae5b;
                            background: #86ae5b;
                            color: #fff;
                            z-index: 10;
                            border-radius: 3px;
                            > span {
                              &:after {
                                filter: brightness(2.5);
                              }
                            }
                          }
                          border-bottom: 1px solid #707070;
                          border-top: 0;
                          border-left: 0;
                          border-right: 0;
                          color: #707070;
                          margin: 0;
                          width: 100%;
                          border-radius: 0;
                          padding: 0;
                          opacity: 1;
                          > span {
                            padding-left: 16px;
                            padding-right: 16px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                          }

                          &#payment-group-bankInvoicePaymentGroup {
                            > span {
                              background: none;
                              &:after {
                                content: "";
                                background: url(https://luccofit.vteximg.com.br/arquivos/sprite--checkout--payment.png);
                                width: 25px;
                                height: 20px;
                                display: inline-block;
                              }
                            }
                          }
                          &#payment-group-creditCardPaymentGroup {
                            > span {
                              background: none;
                              &:after {
                                content: "";
                                background: url(https://luccofit.vteximg.com.br/arquivos/sprite--checkout--payment.png);
                                width: 25px;
                                height: 20px;
                                display: inline-block;
                              }
                            }
                          }
                          &:last-of-type {
                            border-bottom: none;
                          }
                        }
                      }
                    }
                    @media (max-width: 767px) {
                      .steps-view {
                        width: 90% !important;
                      }
                    }
                    .steps-view {
                      width: calc(100% - 276px);
                      padding: 0 16px;

                      fieldset {
                        padding: 16px 0 0 0;
                        text-align: center;

                        .sight {
                          padding: 0 0 10px 0;
                          text-align: left;
                        }
                        .e-conta-bancaria {
                          p {
                            text-align: center;
                          }
                          ul {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid #bfbfbf;
                            li {
                              list-style: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 767px) {
          .cart-template {
            width: 100% !important;
            padding: 0 18px;
            margin-top: 32px !important;
          }
        }
        .cart-template {
          margin-top: 64px;
          width: 30%;

          .cart-fixed {
            position: relative;
            width: 100%;
            height: auto !important;

            .summary-cart-template-holder {
              margin-bottom: 14px;
            }

            .summary-template-holder {
              background: #f7f7f7;
              border-radius: 8px;
              border: none;
            }

            > h2 {
              background: #fff;
              font-size: 16px;
              font-weight: 700;
              color: #86ae5b;
              letter-spacing: 0.04em;
              height: 40px;
              line-height: 40px;
              text-align: center;
              border-radius: 5px;
              border: 1px solid #86ae5b;
              box-shadow: none;
              text-shadow: none;
            }
            #go-to-cart-button {
              a {
                color: #86ae5b;
                text-decoration: underline;
              }
            }
            .accordion-group {
              .totalizers-list {
                color: #707070;
                .info {
                  color: #707070;
                  display: flex;
                  justify-content: end;
                  align-content: center;
                  width: 100%;
                  margin-right: -22px;
                  text-transform: uppercase;
                }
              }
              tfoot {
                .info {
                  width: 100%;
                  display: flex;
                  justify-content: end;
                  align-items: center;
                  margin-right: -22px;
                  color: #86ae5b;
                  text-transform: uppercase;
                }
                .monetary {
                  color: #86ae5b;
                }
              }
            }
            .note.summary-note {
              display: block !important;
              .link-note-add {
                display: none;
              }
              div {
                display: block !important;
                p {
                  label {
                    color: #707070;
                  }
                }
                #cart-note {
                  height: 90px;
                  width: 95%;
                  margin-bottom: 10px;
                }
                @media (max-width: 767px) {
                  margin-bottom: 40px;
                }
              }
            }
            #payment-data-submit {
              background: #86ae5b;
              text-shadow: none;
              border: none;
              box-shadow: none;
              text-transform: uppercase;
              font-weight: 700;
            }
            .quantity.badge {
              left: 50px;
              top: 34px;
              background: #86ae5b;
              color: #fff;
            }
            .description {
              .price {
                color: #707070;
              }
            }
            .url {
              img {
                width: 60px;
                height: 40px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  &.body-checkout-confirmation {
    .e-header {
      &__title {
        display: none;
      }
    }
    .w-70-ns {
      width: 100%;
      padding: 0 82px !important;
    }
    @media (max-width: 767px) {
      .w-70-ns {
        padding: 0 16px !important;
      }
    }
    #app-top {
      .f2 {
        color: #707070;
        font-weight: 700;
        font-size: 40px;
      }
      @media (max-width: 767px) {
        .f2 {
          font-size: 32px;
        }
        .bg-washed-green {
          width: 100% !important;
        }
      }
      .bg-washed-green {
        background: #fff;
        border-color: #89b05f;
        border-width: 2px;
        width: 730px;
        span {
          color: #707070;
          font-size: 20px;
        }
        p {
          span {
            color: #707070;
            font-size: 16px;
          }
          strong {
            color: #707070;
            font-size: 16px;
          }
        }
        #print-bank-invoice {
          span {
            background: #89b05f;
            color: white;
            font-size: 14px;
            margin-top: 16px;
          }
        }
      }
    }
    #app-container {
      background: #f4f4f4;
      margin-top: 64px;
      border-top-width: 2px;
      border-right: 0px;
      border-left: 0px;
      border-bottom: 0px;
      border-style: solid;
      border-color: #86ae5b;
      .ma0 {
        color: #707070;
        font-size: 24px;
        font-weight: 500;
      }
      time {
        color: #b5b5b5;
        font-weight: 500;
        font-size: 14px;
      }
      .min-h-14rem {
        box-shadow: none;
        border: 2px solid #89b05f;
        border-radius: 8px;
        .tracked-mega {
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.17rem;
        }
        div {
          strong {
            font-size: 14px;
            color: #707070;
          }
          .address-summary {
            color: #707070;
            line-height: 21px;
            letter-spacing: 0.06rem;
            font-weight: 300;
          }
        }
        p {
          color: #707070;
          line-height: 21px;
          letter-spacing: 0.06rem;
          font-weight: 300;
        }
        .overflow-x-hidden {
          span {
            color: #707070;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
          .mt0-l {
            float: none;
            margin-left: 10px;
          }
          .more-info__text {
            span {
              font-weight: 700;
              font-size: 12px;
            }
          }
        }
        .fw4.w-60 {
          text-transform: uppercase;
          font-size: 12px;
          color: #707070;
        }
        .w-50 {
          span {
            color: #86ae5b;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
        .bt-0 {
          border-color: #707070;
        }
      }
      .pv4 {
        .lh-copy {
          span {
            font-size: 20px;
            color: #707070;
            font-weight: 700;
            line-height: 18px;
          }
        }
        p.mb0 {
          span {
            font-size: 14px;
            color: #707070;
            line-height: 18px;
            font-weight: 400;
          }
          .bg-light-blue {
            color: #fff;
            background: #86ae5b;
            font-size: 10px;
          }
        }
        .pb2 {
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          color: #707070;
        }
        .overflow-hidden {
          img {
            height: 40px;
            width: 60px;
          }
          a {
            font-size: 16px;
            line-height: 14px;
            font-weight: 700;
            color: #707070;
            cursor: pointer;
            text-decoration: none;
          }
          span {
            font-size: 10px !important;
            color: #707070;
            font-weight: 300 !important;
          }
        }
        .v-mid {
          font-size: 16px;
          font-weight: 400;
          color: #707070;
          span {
            font-size: 16px;
            font-weight: 400;
            color: #707070;
          }
        }
      }
      .cconf-continue-button {
        border-color: #86ae5b;
        padding: 10px 20px;
        width: 180px;
        span {
          color: #86ae5b;
          font-size: 14px;
          font-weight: 400;
        }
        &:hover {
          background: #f4f4f4;
        }
      }
      .cconf-myorders-button {
        background: #86ae5b;
        padding: 10px 20px;
        width: 180px;
        margin-bottom: 40px;
        span {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
        }
      }
      @media (max-width: 767px) {
        .cconf-myorders-button {
          width: 70% !important;
          margin: 0 15% 30px;
        }
        .cconf-continue-button {
          width: 70% !important;
          margin: 0 15% 30px;
        }
      }
    }
  }
}

.e-footer {
  display: flex !important;
  flex-direction: column;
  margin: 64px 0 0 0;
  width: 100%;
  &__top {
    padding: 16px 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #505050;
    @media (max-width: 767px) {
      padding: 16px 0;
      flex-direction: column;
    }

    &--payment {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        flex-direction: column;
      }

      &--label {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin: 0 20px 0 0;
      }
      &--image {
        width: 250px;
        &--top {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &--bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
    &--tec {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        margin: 32px 0 0 0;
      }
      &--icon {
        margin: 0 0 0 25px;
        @media (max-width: 767px) {
          &:first-of-type {
            margin: 0;
          }
        }
        img {
        }
      }
    }
  }
  &__copy {
    background: #6a6a6a;
    padding: 16px 0;

    @media (max-width: 767px) {
      padding: 32px 0;
    }
    p {
      font-size: 10px;
      text-transform: uppercase;
      line-height: 14px;
      color: #fff;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .scheduled-sla-value {
    font-size: 16px;
  }
  .body-order-form #launcher {
    transform: translate(10%, -1370%) !important;
  }
}
.scheduled-sla-select {
  font-size: 16px;
}

/**
  * points system
  */
  .container-points {
    .e-message {
      width: 80%;
      display: block;
      margin: 10px auto 20px;
      &__text {
        background: #89b05f;
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        strong {
          margin: 0 3px;
        }
      }
      &__points {
        background: #f4f4f4;
        color: #464646;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        &--box {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .e-cupom {
    width: 25%;
    float: left;
    margin-bottom: 40px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
    @include breakpoint('mobile'){
      width: 100%;
      margin-top: 20px;
    }

    &__header {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      text-align: left;

      h3 {
        font-weight: 400;
        text-transform: uppercase;
        color: #86ae5b;
        font-size: 16px;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 200px;
        padding: 5px 15px 5px;
        margin-right: 15px;
        -webkit-border-radius: 0;
        border-radius: 0;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 27px;
        font-size: 12px;
        line-height: 31px;
        border-radius: 5px;
        border: 1px solid #dadada;

        &.is--error {
          border-color: red;
        }
      }

      button {
        background: #86ae5b;
        cursor: pointer;
        color: #ffffff;
        width: 105px;
        border: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        height: 38px;
      }
    }
  }

  .custom201PaymentGroupPaymentGroup {
    .payment-description {
      display: none;
    }
  }
