/* /files/checkout5-custom.css */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
	font-family: 'Lato';
}

a {
	color: #88b04b;
}

a:hover, a:focus {
	color: #71943d;
}

body, label, input[type="text"], input[type="number"], input[type="email"], input[type="tel"], select, .btn, .btn-group > .btn {
	font-size: 15px;
}

.logo {
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

.logo img {
	max-width: 200px;
}

.product-item .product-image img {
	height: auto;
}

.container-cart, .container-order-form {
    width: 1200px;
    background-color: #fff;
    margin-top: 15px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.step, .cart, .totalizers {
    border: 1px solid #6a6666;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.btn-success {
    background: #88B04B;
    display: inline-block;
    padding: 13px 33px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    text-shadow: none;
}

.btn-success:hover {
    background-color: #71943d;
    text-decoration: none;
    color: #fff;
}

.checkout-container {
	padding-bottom: 200px;
}

#app-container {
	background-color: #f4f4f4;
}

body .picker__day {
	font-weight: normal;
}

#app-top .ph3-ns.w-70-ns.db.center {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.step, .cart, .totalizers {
	border: 2px solid #f4f4f4;
}

.mini-cart .summary-cart-template-holder {
    min-height: 260px;
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
}

.note {
	display: block;
}

/*.full-cart .forms .coupon.summary-coupon {
	display: none;
}

.full-cart tr.Coupon .coupon-data {
	display: none;
}

.full-cart tr.Coupon .coupon-fieldset > div {
	display: block !important;
}*/

.payment-confirmation-wrap p.note-data {
	display: none !important;
}

.payment-confirmation-wrap > .summary-note > div {
	display: block !important;
}

.item-attachments-head,
.item-attachments-content,
.add-item-attachment-container,
.clone-item-container,
.clone-item-sep,
.clone-item.btn,
body.body-order-form #clear-cart {
    display: none !important;
}

#shipping-preview-container {
    display: none;
}

.aviso-erro-frete {
	color: red;
  	font-size: 14px;
  	margin-bottom: 10px;
}

#shipping-data .shipping-container .box-step {
    display: table;
    width: 100%;
  	position: relative;
}

#shipping-data .shipping-container .box-step #postalCode-finished-loading {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
}

#shipping-data .shipping-container .box-step .vtex-omnishipping-1-x-addressFormPart1 {
	display: table-caption;
}

#shipping-data .shipping-container .box-step #postalCode-finished-loading + div {
    margin-top: 75px;
}

#shipping-data .shipping-container .box-step .vtex-omnishipping-1-x-addressForm {
	display: table-header-group;
}

#shipping-data .shipping-container .box-step .vtex-omnishipping-1-x-submitPaymentButton {
	display: table-footer-group;
}

.msg-cupom {
    top: 0;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    position: fixed;
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 1px 10px 1px #ccc;
    -moz-box-shadow: 1px 1px 10px 1px #ccc;
    box-shadow: 1px 1px 10px 1px #ccc;
    z-index: 1040;
    padding: 8px 20px 8px 15px;
    color: #555;
    border-left: 3px solid #eea236;
    box-sizing: border-box;
}

.msg-cupom p {
    color: #555;
    margin: 5px 0px;
}

.msg-cupom button {
    position: absolute;
    top: 8px;
    right: 5px;
    height: 22px;
    width: 22px;
    opacity: .4;
    z-index: 2;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

@media (max-width: 1300px) {

  .container-cart, .container-order-form {
  	width: 100%;
  }

}

@media (max-width: 767px) {

  body {
    padding-right: 0px;
    padding-left: 0px;
  }

}

@media (max-width: 490px) {

  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  body .container-cart, body .container-order-form {
  	padding: 0px 20px !important;
  }

}

@media (max-width: 399px) {

  .msg-cupom {
    left: 0px;
    margin: 0px;
    width: 100%;
  }

}

.e-conta-bancaria {
    ul {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #bfbfbf;
        li {
            list-style: none;
        }
    }
    p {
        text-align: center;
    }
}
.box-payment-group2 {
    width: 86%;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .box-payment-group2 {
        width: 100%;
    }
}