@import "./generic/_breakpoints";

/**
 * product page
 */
 .e-system-points {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint("mobile") {
    margin-top: 60px;
  }
  &__title {
    width: 100%;
    display: none;
    p { 
      color: #707070;
      font-size: 14px;
      margin-bottom: 5px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid darken(#f8f8f8, 3%);
    background: #f8f8f8;
    color: #505050;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    //border-radius: 8px;
    order: 2;
    &--label {
      font-size: 12px;
      display: flex;
      align-items: center;
      @include breakpoint('mobile'){
        font-size: 11px;
      }
      &:hover{
        &:before{
          transform: rotate(180deg);
        }
      }
      &:before{
        content: '';
        background: url('/arquivos/cash.png');
        background-size: 22px;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        transition: transform .4s;
      }
    }
    &--points {
      font-size: 18px;
      color: #71943d;
      font-weight: 800;
      margin: 0 4px;
      @include breakpoint('mobile'){
        font-size: 16px;
      }
    }
  }
  &__description {
    width: 100%;
    order: 1;
    display: none;
    > h3 {
      color: #707070;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding-bottom: 10px;
      border-bottom: 2px solid #707070;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: space-between;
      &.is--active {
        &:after {
          transform: rotate(0);
        }
      }
      &:after {
        content: "";
        background: url("/arquivos/icon--arrow-small.png");
        width: 9px;
        height: 6px;
        background-size: 9px;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        transition: all ease 0.4s;
      }
    }
    &--text {
      padding: 10px;
      color: #707070;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 1.4;
    }
  }
  &__control {
    display: none;
  }
}

/**
* account page
*/
.container-points {
  width: 100%;
  .container__points {
    .e-message {
      &__points {
        text-align: right;
        display: block;
        color: #707070;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
          font-weight: 700;
          margin-right: 4px;
        }
        strong {
          background: #88b04b;
          color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          border-radius: 5px;
          padding: 0 12px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
        }
      }
      &__text {
        color: #707070;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: right;
        margin-top: 10px;
      }
    }
  }
}

/**
 * orders page
 */
 .account_main {
  .vtex-account__page {
    > header {
      display: flex;
      align-items: center;
      @include breakpoint("mobile") {
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}

@include breakpoint("mobile"){
  .cardapio {
    .imagesmobile {
      flex-wrap: wrap;
      > div {   
        width: 100%!important;
        flex: 100%!important;
        margin-bottom: 30px; 
      }
    }
  }
}  

.mcnDividerBlock {
  display: none!important;
}

.mcnImage {
  &.desk {
    @include breakpoint("mobile"){
      display: none;
    }
  }
  &.mobile {
    display: none;
    @include breakpoint("mobile"){
      display: block;
    }
  }
}

em.valor-dividido.price-installments {
  font-size: 30px;
  margin-bottom: 20px;
  color: #585858;
  label {
    font-weight: 400;
  }
}
p.preco-a-vista.price-cash {
  display: none!important;
  margin-top: 5px;
  margin-bottom: 20px;
}