$colorMain: #f92524;
$colorRed: #dc1514;
$colorBlack: #000000;
$colorGray: #f8f8f8;
$colorWhite: #ffffff;

$borderButton: 5px;
$borderContainer: 4px;

$fontFamily: "Lato", sans-serif;

@import "generic/_breakpoints";

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");

.is--loader {
  opacity: 0;
}

.is--loaded {
  opacity: 1;
}

.luccofit-habits-button {
  width: 334px;
  height: 70px;
  position: relative;
  background: $colorMain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: $colorWhite;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 40px;
  border-radius: $borderButton;
  transition: background 0.4s;
  &:hover {
    background: $colorRed;
  }
  &__icon {
    width: 55px;
    height: 70px;
    background: $colorRed;
    border-top-right-radius: $borderButton;
    border-bottom-right-radius: $borderButton;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      background: url("/arquivos/icon--arrow-right-habits.png");
      background-repeat: no-repeat;
      background-size: 23px;
      width: 23px;
      height: 15px;
      display: block;
    }
  }
}

@-webkit-keyframes gradientLoading {
  0% {
    background: #dddddd;
  }
  100% {
    background: #f1f1f1;
  }
}
@-moz-keyframes gradientLoading {
  0% {
    background: #dddddd;
  }
  100% {
    background: #f1f1f1;
  }
}
@-o-keyframes gradientLoading {
  0% {
    background: #dddddd;
  }
  100% {
    background: #f1f1f1;
  }
}
@keyframes gradientLoading {
  0% {
    background: #dddddd;
  }
  100% {
    background: #f1f1f1;
  }
}

* {
  font-family: $fontFamily !important;
}

.luccofit-habits-top {
  width: 100%;
  position: relative;
  @include breakpoint("mobile") {
    overflow: hidden;
  }
  &__banner {
    .box-banner {
      transition: all ease-in-out 0.4s;
      min-height: 420px;
      @include breakpoint("mobile") {
        width: 100%;
        min-height: 375px;
        overflow: hidden;
      }
      &.is--placeholder {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 99;
          animation: gradientLoading 4s linear 0s infinite alternate;
        }
      }
      img {
        width: 100%;
        display: block;
        height: auto;
        transition: all ease-in-out 0.4s;
        @include breakpoint("mobile") {
          position: absolute;
          left: 0;
          height: 375px;
          width: auto;
        }
      }
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    @include breakpoint("mobile") {
      width: 75%;
    }
    &--logo {
      margin-bottom: 20px;
      img {
        display: block;
        margin: 0 auto;
        @include breakpoint("mobile") {
          width: 215px;
          height: auto;
        }
      }
    }
    &--headline {
      h3 {
        font-size: 40px;
        color: $colorWhite;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        line-height: 1;
        @include breakpoint("mobile") {
          font-size: 28px;
        }
        &:after {
          content: "";
          width: 225px;
          height: 3px;
          background: #f92524;
          display: block;
          margin: 25px auto 0;
        }
        strong {
          font-weight: 700;
        }
      }
    }
    &--tagline {
      display: block;
      text-align: center;
      p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 25px;
        color: $colorWhite;
        @include breakpoint("mobile") {
          font-size: 16px;
        }
      }
    }
  }
}

.luccofit-habits-main {
  width: 100%;
  background: $colorGray;
  display: flex;
  justify-content: center;
  z-index: 2;
  &__center {
    width: 65%;
    position: relative;
    top: -30px;
    @include breakpoint("mobile") {
      width: 100%;
      top: 0;
    }
  }
  &__top {
    background: $colorMain;
    padding: 50px;
    text-align: center;
    margin-bottom: 45px;
    @include breakpoint("mobile") {
      padding: 25px;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      color: $colorWhite;
      display: block;
      margin-bottom: 15px;
      @include breakpoint("mobile") {
        font-size: 16px;
      }
    }
    h3 {
      font-size: 30px;
      color: $colorWhite;
      font-weight: 700;
      display: block;
      margin-bottom: 5px;
      @include breakpoint("mobile") {
        font-size: 16px;
        margin-bottom: 25px;
      }
      &:before {
        content: "";
        display: block;
        width: 226px;
        height: 3px;
        background: #ffffff;
        margin: 35px auto;
      }
    }
    h4 {
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  &__bottom {
    @include breakpoint("mobile") {
      padding: 25px;
    }
    p {
      font-size: 20px;
      color: $colorBlack;
      line-height: 1.4;
      margin-bottom: 20px;
      @include breakpoint("mobile") {
        font-size: 16px;
      }
      &.uppercase {
        text-transform: uppercase;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.luccofit-habits-main-conversion-top {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  &__center {
    width: 60%;
    padding: 45px 0 0;
    @include breakpoint("mobile") {
      padding: 0;
      width: 100%;
    }
  }
  &__boxes {
    display: flex;
    justify-content: space-between;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
      padding: 25px;
    }
  }
  &__box {
    width: 40%;
    @include breakpoint("mobile") {
      width: 100%;
      margin-bottom: 25px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    h3 {
      font-size: 30px;
      color: $colorBlack;
      font-weight: 800;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
      &:after {
        content: "";
        display: block;
        width: 176px;
        height: 3px;
        background: $colorMain;
        margin: 20px 0;
      }
    }
    p {
      font-size: 20px;
      color: $colorBlack;
      line-height: 1.3;
      margin-bottom: 20px;
      @include breakpoint("mobile") {
        font-size: 16px;
      }
      strong {
        font-weight: 800;
      }
    }
  }
  &__container {
    width: 100%;
    background: $colorGray;
    padding: 65px 55px;
    margin-top: 20px;
    @include breakpoint("mobile") {
      padding: 38px 25px 15px;
      margin-top: 0;
    }
    &--headline {
      width: 100%;
      display: block;
      text-align: center;
      h3 {
        font-size: 30px;
        color: $colorBlack;
        font-weight: 800;
        @include breakpoint("mobile") {
          font-size: 26px;
        }
        &:after {
          content: "";
          width: 218px;
          height: 3px;
          background: $colorMain;
          display: block;
          margin: 25px auto;
        }
      }
    }
    &--tagline {
      width: 100%;
      display: block;
      text-align: center;
      p {
        font-size: 20px;
        color: $colorBlack;
        @include breakpoint("mobile") {
          font-size: 16px;
        }
        &:after {
          content: "";
          width: 393px;
          height: 2px;
          background: #cfcfcf;
          display: block;
          margin: 48px auto;
          @include breakpoint("mobile") {
            width: 287px;
            margin: 20px auto;
          }
        }
      }
    }
    &--quotes {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0 40px;
      &:after {
        content: "";
        width: 393px;
        height: 2px;
        background: #cfcfcf;
        display: block;
        margin: 35px auto;
        @include breakpoint("mobile") {
          width: 287px;
          margin: 20px auto;
        }
      }
      p {
        font-size: 20px;
        color: $colorMain;
        margin-bottom: 10px;
        font-style: italic;
        @include breakpoint("mobile") {
          font-size: 16px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    &--bottom {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0 60px;
      margin-bottom: 35px;
      p {
        font-size: 20px;
        color: $colorBlack;
        font-weight: 800;
      }
    }
    &--buy {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.luccofit-habits-results {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $colorBlack;
  margin-top: -50px;
  @include breakpoint("mobile") {
    margin-top: 0;
  }
  &__center {
    width: 50%;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__header {
    width: 100%;
    display: block;
    padding-top: 90px;
    @include breakpoint("mobile") {
      padding-top: 0;
    }
    h2 {
      font-size: 30px;
      font-weight: 800;
      color: $colorWhite;
      display: block;
      text-align: center;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
      &:after {
        content: "";
        width: 118px;
        height: 2px;
        background: $colorMain;
        display: block;
        margin: 25px auto;
      }
    }
    p {
      font-size: 20px;
      color: $colorWhite;
      text-align: center;
      display: block;
      margin-bottom: 40px;
    }
  }
  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  &__buy {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.luccofit-habits-nutri {
  width: 100%;
  background: #ececec;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  @include breakpoint("mobile") {
    padding: 0;
  }
  &__center {
    width: 75%;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__header {
    width: 100%;
    display: block;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $colorBlack;
      text-transform: uppercase;
      font-weight: 800;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
      &:after {
        content: "";
        width: 118px;
        height: 2px;
        background: $colorMain;
        display: block;
        margin: 25px auto;
      }
    }
    p {
      color: $colorBlack;
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  &__contents {
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
    }
    .box-banner {
      margin-right: 25px;
      @include breakpoint("mobile") {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
      }
      &:last-of-type {
        margin-right: 0;
        @include breakpoint("mobile") {
          margin-bottom: 0;
        }
      }
      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }
  }
}

.luccofit-habits-action-plan {
  width: 100%;
  display: flex;
  justify-content: center;
  &__center {
    width: 75%;
    padding: 40px 0;
  }
  &__header {
    width: 100%;
    display: block;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $colorBlack;
      text-transform: uppercase;
      font-weight: 800;
      &:after {
        content: "";
        width: 118px;
        height: 2px;
        background: $colorMain;
        display: block;
        margin: 25px auto;
      }
    }
  }
  &__contents {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(100% / 4 - 19px);
    margin-right: 25px;
    margin-bottom: 30px;
    background: #f8f8f8;
    border-radius: $borderButton;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    min-height: 380px;
    @include breakpoint("mobile") {
      width: 100%;
      margin-right: 0;
    }
    &:nth-child(4n + 0) {
      margin-right: 0;
    }
    &-flag {
      position: absolute;
      right: 0;
      top: 0;
      width: 31px;
      height: 35px;
      background: url("/arquivos/icon--bookmark.png");
      background-size: 31px;
      background-repeat: no-repeat;
    }
    &-header {
      padding-top: 25px;
      display: block;
      h3 {
        font-size: 29px;
        color: $colorBlack;
        font-weight: 800;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #d1d8dc;
      }
    }
    &-line {
      width: 100%;
      &:last-of-type {
        p {
          &:last-of-type {
            border: 0;
          }
        }
      }
      h4 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: $colorMain;
      }
      p {
        color: #686868;
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d1d8dc;
      }
    }
  }
}

.luccofit-habits-difference {
  width: 100%;
  background: $colorGray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  &__center {
    width: 75%;
    padding: 40px 0;
  }
  &__header {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $colorBlack;
      text-transform: uppercase;
      font-weight: 800;
    }
    p {
      color: $colorMain;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  &__contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    .box-banner {
      min-height: 265px;
      width: 48.5%;
      @include breakpoint("mobile") {
        width: 100%;
        min-height: 150px;
      }
      img {
        width: 100%;
        height: autp;
        display: block;
      }
    }
  }
  &__buy {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.luccofit-habits-bonus {
  width: 100%;
  display: flex;
  justify-content: center;
  &__center {
    width: 70%;
    padding: 50px 0;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__header {
    width: 100%;
    display: block;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $colorBlack;
      text-transform: uppercase;
      font-weight: 800;
      &:after {
        content: "";
        width: 118px;
        height: 2px;
        background: $colorMain;
        display: block;
        margin: 25px auto;
      }
    }
    p {
      color: $colorMain;
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  &__contents {
    width: 100%;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
    }
    &--image {
      width: 46%;
      @include breakpoint("mobile") {
        width: 100%;
        margin-bottom: 25px;
      }
      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }
    &--text {
      width: 50%;
      @include breakpoint("mobile") {
        width: 100%;
      }
      h3 {
        font-size: 25px;
        color: $colorBlack;
        font-weight: 800;
        margin-bottom: 15px;
      }
      p {
        font-size: 20px;
        color: $colorBlack;
        line-height: 1.4;
        margin-bottom: 15px;
      }
    }
    &--price {
      width: 100%;
      display: block;
      &-green{
        font-size: 35px;
        font-weight: 800;
        color: #00CE6E;
      }
      &-old {
        display: block;
        font-size: 25px;
        text-decoration: line-through;
        color: $colorBlack;
      }
      &-new {
        font-size: 35px;
        color: $colorMain;
        font-weight: 800;
      }
    }
  }
}

.luccofit-habits-exclusive {
  background: $colorBlack;
  display: flex;
  justify-content: center;
  &__center {
    width: 75%;
    padding: 50px 0;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__contents {
    text-align: center;
    width: 100%;
    > h3 {
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      color: $colorWhite;
      margin-bottom: 30px;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
    }
    > a {
      width: 499px;
      height: 80px;
      background: $colorMain;
      color: $colorWhite;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $borderButton;
      margin: 0 auto 20px;
      transition: background 0.4s;
      @include breakpoint("mobile") {
        width: 320px;
        font-size: 18px;
      }
      &:hover {
        background: $colorRed;
      }
    }
  }
  &__price {
    display: flex;
    justify-content: center;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
    }
    &--old {
      font-size: 22px;
      text-decoration: line-through;
      color: $colorWhite;
      margin-right: 15px;
      @include breakpoint("mobile") {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 0;
      }
    }
    &--new {
      font-size: 22px;
      font-weight: 800;
      color: $colorWhite;
      @include breakpoint("mobile") {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.luccofit-habits-more-bonus {
  width: 100%;
  display: flex;
  justify-content: center;
  &__center {
    width: 70%;
    padding: 45px 0;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__header {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    h2 {
      font-size: 40px;
      color: $colorBlack;
      text-transform: uppercase;
      font-weight: 800;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
      &:after {
        content: "";
        width: 118px;
        height: 3px;
        background: $colorMain;
        display: block;
        margin: 25px auto;
      }
    }
  }
  &__boxes {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
      padding: 0 37px;
    }
  }
  &__box {
    background: $colorGray;
    border-radius: 10px;
    min-height: 313px;
    margin-right: 45px;
    width: calc(100% / 4 - 45px);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint("mobile") {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 25px;
      color: $colorBlack;
      font-weight: 800;
      text-align: center;
      width: 100%;
      @include breakpoint("mobile") {
        font-size: 22px;
      }
    }
  }
}

.luccofit-habits-exclusive-light {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  &__center {
    width: 70%;
    padding: 45px 0;
    background: $colorWhite;
    @include breakpoint("mobile") {
      width: 100%;
      padding: 25px;
    }
  }
  &__contents {
    text-align: center;
    width: 100%;
    > h3 {
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      color: $colorBlack;
      margin-bottom: 30px;
      @include breakpoint("mobile") {
        font-size: 26px;
      }
    }
    > a {
      width: 499px;
      height: 80px;
      background: $colorMain;
      color: $colorWhite;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $borderButton;
      margin: 0 auto 20px;
      transition: background 0.4s;
      @include breakpoint("mobile") {
        width: 320px;
        font-size: 18px;
      }
      &:hover {
        background: $colorRed;
      }
    }
  }
  &__price {
    display: flex;
    justify-content: center;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
    }
    &--old {
      font-size: 22px;
      text-decoration: line-through;
      color: $colorBlack;
      margin-right: 15px;
      @include breakpoint("mobile") {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 0;
      }
    }
    &--new {
      font-size: 22px;
      font-weight: 800;
      color: $colorBlack;
      @include breakpoint("mobile") {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.luccofit-habits-footer {
  background: #ececec;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  @include breakpoint("mobile") {
    margin-top: 0;
  }
  &__center {
    width: 70%;
    padding-top: 185px;
    @include breakpoint("mobile") {
      padding: 25px;
      width: 100%;
    }
  }
  &__payments {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #979797;
    margin-bottom: 50px;
    @include breakpoint("mobile") {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    p {
      font-size: 25px;
      color: $colorBlack;
      margin-bottom: 25px;
      @include breakpoint("mobile") {
        font-size: 16px;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint("mobile") {
        flex-wrap: wrap;
      }
      li {
        margin-right: 35px;
        @include breakpoint("mobile") {
          width: 22%;
          margin-bottom: 20px;
          img {
            width: 100%;
            display: block;
            height: auto;
          }
        }
        &:last-of-type {
          margin-right: 0;
          @include breakpoint("mobile") {
            margin-right: 35px;
          }
        }
      }
    }
  }
  &__social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
    border-bottom: 1px solid #979797;
    margin-bottom: 50px;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    ul {
      display: flex;
      align-items: center;
      @include breakpoint("mobile") {
        flex-wrap: wrap;
      }
      li {
        margin-right: 45px;
        @include breakpoint("mobile") {
          margin-right: 25px;
          margin-bottom: 30px;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &--left {
      @include breakpoint("mobile") {
        width: 100%;
        &:nth-child(1) {
          border-bottom: 1px solid #979797;
          margin-bottom: 30px;
          padding-bottom: 30px;
          ul {
            justify-content: center;
            li {
              margin-bottom: 0;
            }
          }
        }
      }
      > p {
        font-size: 25px;
        color: $colorBlack;
        margin-bottom: 50px;
        @include breakpoint("mobile") {
          text-align: center;
          font-size: 16px;
          display: block;
          margin-bottom: 25px;
        }
      }
    }
  }
  &__copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
    @include breakpoint("mobile") {
      flex-wrap: wrap;
      padding-bottom: 25px;
    }
    &--left {
      width: 25%;
      @include breakpoint("mobile") {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
      }
    }
    &--right {
      width: 70%;
      @include breakpoint("mobile") {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
      p {
        font-size: 15px;
        color: $colorBlack;
        line-height: 1.5;
      }
    }
  }
}

.js--product-button {
  display: none;
}
