
.e-ta-com-duvida{
    padding: 0 20px 80px 20px;
    margin-top: 50px;
    h1{
        font-size: 40px;
        color: #585858;
    }
    h2{
        font-size: 30px;
        color: #585858;
        margin-bottom: 20px;
        margin-top: 50px; 
    }
    ul li{
        margin-bottom: 15px;
        .e-duvida-link {
            font-size: 16px;
            line-height: 20px;
            color: #585858;
            cursor: pointer;
            display: inline-block; 
            span{
                width: 10px;
                display: inline-block;
                margin-right: 2px; 
            }
        }
        .e-duvida-link:hover, &.active .e-duvida-link{
            color: #88b04b; 
        }

        .e-duvida-texto{
            display: none;
            p{
                margin-bottom: 0;
                margin-top: 5px;
                color: #585858;
                font-size: 15px;
                line-height: 20px;
                padding-left: 15px;
            }
        }

        &.active .e-duvida-texto{
            display: block;
        }
    }
}


  

  
