@import './generic/reset';
@import './partials/shelf';
@import 'generic/_breakpoints';
@import './generic/_mixins';

@-webkit-keyframes lazyLoading { 0% { background: #DDDDDD; } 100% { background: #F1F1F1; }  }
@-moz-keyframes lazyLoading { 0% { background: #DDDDDD; } 100% { background: #F1F1F1; }  }
@-o-keyframes lazyLoading { 0% { background: #DDDDDD; } 100% { background: #F1F1F1; }  }
@keyframes lazyLoading { 0% { background: #DDDDDD; } 100% { background: #F1F1F1; }  }

.load.loading {
    display: none!important;
}
body {
    .e-content{
        .e-main {
            &-banner {
                .e-banner {
                    &__center {
                        position: relative;
                        .e-banner-main {
                            .box-banner{
                                width: 100%;
                                a{
                                    display: block;
                                    width: 100%;
                                    &.is--placeholder{
                                        min-height: 477px;
                                        position: relative;
                                        &:after{
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            right: 0;
                                            bottom: 0;
                                            -webkit-animation: lazyLoading 4s linear 0s infinite alternate;
                                            -moz-animation: lazyLoading 4s linear 0s infinite alternate;
                                            -o-animation: lazyLoading 4s linear 0s infinite alternate;
                                            animation: lazyLoading 4s linear 0s infinite alternate;
                                            z-index: 2;
                                        }
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                width: 100%;
                                min-width: 100%;
                                height: auto;
                                position: relative;
                            }
                        }
                        .e-scroll {
                            position: absolute;
                            bottom: 50px;
                            left: 50%;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            .js-scrolldown {
                                font-size: 14px;
                                text-transform: uppercase;
                                color: white;
                                font-family: lato;
                                font-weight: 700;
                            }
                            .e-border {
                                position: relative;
                                top: 17px;
                                &:after {
                                    // content: '';
                                    height: 33px;
                                    width: 3px;
                                    background: white;
                                    display: block;
                                    position: absolute;
                                    bottom: -46px;
                                    left: -30px;
                                }
                                &:before {
                                    // content: '';
                                    height: 66px;
                                    width: 3px;
                                    background: #505050;
                                    display: block;
                                    position: absolute;
                                    bottom: -80px;
                                    left: -30px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .e-step {
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 30px;
            @include breakpoint('mobile'){
                margin-top: 70px;
            }
            &__center {
                .e-by-step {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include breakpoint('mobile'){
                        text-align: center;
                    }
                    .e-border-left {
                        position: relative;
                        @include breakpoint('mobile'){
                            display: none;
                        }
                        &:after {
                            content: '';
                            height: 3px;
                            width: 70px;
                            background: #505050;
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: -65px;
                        }
                    }
                    .e-border-right {
                        position: relative;
                        @include breakpoint('mobile'){
                            display: none;
                        }
                        &:before {
                            content: '';
                            height: 3px;
                            width: 70px;
                            background: #505050;
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: -132px;
                        }
                    }
                    .e-title {
                        font-size: 28px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #8AAF43; 
                        position: relative;
                        left: 36px;
                        @include breakpoint('mobile'){
                            left: 0;
                        }
                    }
                }
            }
        }
        .e-menu {
            margin: 70px 70px 0;
            @include breakpoint('mobile'){
                margin: 30px 40px 0;
            }
            &__center {
                .e-options {
                    &__center {
                        &-items {
                            display: flex;
                            width: 100%;
                            justify-content: space-evenly;
                            padding: 0 0%;
                            position: relative;

                            @include breakpoint('mobile'){
                                justify-content: center;
                                .slick-list {
                                    float: left;
                                    width: 100%;
                                    position: relative;
                                    overflow: hidden;
                                }
                            }

                            .slick-arrow {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                z-index: 99;
                            }
                            .slick-prev {
                                left: -10px;
                                top: 132px;
                                font-size: 0;
                                width: 40px;
                                &:after {
                                    content: '';
                                    background: url(/arquivos/luccofit-icon-left.png) no-repeat;
                                    width: 36px;
                                    height: 36px;
                                    display: block;
                                    text-align: center;
                                }
                            }
                            .slick-next {
                                right: -30px;
                                top: 132px;
                                font-size: 0;
                                width: 40px;
                                &:after {
                                    content: '';
                                    background: url(/arquivos/luccofit-icon-right.png) no-repeat;
                                    width: 36px;
                                    height: 36px;
                                    display: block;
                                    text-align: center;
                                }
                            }

                            &--item {
                                width: 25%;
                                text-align: center;
                                @include breakpoint('mobile'){
                                    width: 100%;
                                    float: left;
                                }

                                .e-img {
                                    height: 150px;
                                }
                                .e-text {
                                    &-title {
                                        color: #505050;
                                        font-size: 18px;
                                        text-transform: uppercase;
                                        font-weight: 700;
                                        margin-bottom: 10px;
                                    }
                                    p {
                                        text-align: left;
                                        color: #505050;
                                        font-size: 14px;
                                        line-height: 1.5em;
                                        width: 240px;
                                        margin: 0 auto;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                        height: 61px;
                                        display: -webkit-box;
                                        @include breakpoint('mobile'){
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        &--button {
                            margin-top: 66px;
                            height: 50px;
                            text-align: center;
                            @include breakpoint('mobile'){
                                margin-top: 45px;
                            }
                            a {
                                color: white;
                                text-align: center;
                                margin: 0 auto;
                                background: #8AAF43;
                                border-radius: 5px;
                                padding: 20px 60px;
                                text-transform: uppercase;
                                font-weight: 500;
                                @include breakpoint('mobile'){
                                    color: #8AAF43;
                                    text-align: center;
                                    margin: 0 auto;
                                    background: white;
                                    border-radius: 5px;
                                    padding: 0;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    border: 3px solid #8AAF43;
                                    font-weight: 700;
                                    line-height: 55px;
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                } 
            }
        }
        .e-best-sellers {
            width: 100%;
            display: block;
            text-align: center;

            &__center {
                &--title {
                    .e-title {
                        position: relative;
                        margin: 80px 0 40px;

                        @include breakpoint('mobile'){
                            margin-bottom: 20px;
                        }

                        h3 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8AAF43;
                            position: relative;
                        }
                        .e-border-top {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:after {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: -19px;
                                left: -220px;
                            }
                        }
                        .e-border-bottom {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:before {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: 13px;
                                right: -220px;
                            }
                        }
                    }
                }
                &--vitrine {
                    width: 100%;
                    float: left;
                    position: relative;
                    .slick-arrow {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 99;
                    }
                    .slick-prev {
                        left: 0;
                        top: 50%;
                        font-size: 0;
                        width: 40px;
                        &:after {
                            content: '';
                            background: url(/arquivos/luccofit-icon-left.png) no-repeat center;
                            width: 36px;
                            height: 36px;
                            display: block;
                            text-align: center;
                        }
                    }
                    .slick-next {
                        right: 0;
                        top: 50%;
                        font-size: 0;
                        width: 40px;
                        &:after {
                            content: '';
                            background: url(/arquivos/luccofit-icon-right.png) no-repeat center;
                            width: 36px;
                            height: 36px;
                            display: block;
                            text-align: center;
                        }
                    }
                    .shelf__main {
                        padding: 0 70px;

                        > ul{
                            width: 100%;
                            float: left;
                        }

                        @include breakpoint('mobile'){
                            padding: 0 13%;
                            display: flex;
                        }
                        
                        >h2 {
                            display: none;
                        }
                    }
                }
            }
        }

        .e-kits{
            width: 100%;
            display: block;
            text-align: center;

            &__center {
                &__title {
                    .e-title {
                        position: relative;
                        margin: 80px 0 40px;

                        @include breakpoint('mobile'){
                            margin-bottom: 20px;
                        }

                        h3 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8AAF43;
                            position: relative;
                        }
                        .e-border-top {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:after {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: -19px;
                                left: -270px;
                            }
                        }
                        .e-border-bottom {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:before {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: 13px;
                                right: -270px;
                            }
                        }
                    }
                }
                &__vitrine {
                    width: 100%;
                    float: left;
                    position: relative;
                    .slick-arrow {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 99;
                    }
                    .slick-prev {
                        left: 0;
                        top: 50%;
                        font-size: 0;
                        width: 40px;
                        &:after {
                            content: '';
                            background: url(/arquivos/luccofit-icon-left.png) no-repeat center;
                            width: 36px;
                            height: 36px;
                            display: block;
                            text-align: center;
                        }
                    }
                    .slick-next {
                        right: 0;
                        top: 50%;
                        font-size: 0;
                        width: 40px;
                        &:after {
                            content: '';
                            background: url(/arquivos/luccofit-icon-right.png) no-repeat center;
                            width: 36px;
                            height: 36px;
                            display: block;
                            text-align: center;
                        }
                    }
                    .shelf__main {
                        padding: 0 70px;

                        > ul{
                            width: 100%;
                            float: left;
                        }

                        @include breakpoint('mobile'){
                            padding: 0 13%;
                            display: flex;
                        }
                        
                        >h2 {
                            display: none;
                        }
                    }
                }
            }
        }

        .e-your-objective{
            width: 100%;
            float: left;
            display: block;
            text-align: center;
            background: #F7F7F7;
            margin: 100px 0 0;

            .e-object{
                &__center {
                    .e-title {
                        position: relative;
                        margin-top: 80px;
                        h3 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #505050;
                            position: relative;
                        }
                        .e-border-top {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:after {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: -19px;
                                left: -260px;
                            }
                        }
                        .e-border-bottom {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:before {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: 13px;
                                right: -260px;
                            }
                        }
                    }

                    .e-options{
                        &-items{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 45px 0;

                            @include breakpoint('mobile'){
                                display: block;
                                padding: 0 30px;
                            }

                            &--item{
                                width: 240px;
                                border: 1.5px solid #505050;
                                margin: 0 10px;
                                border-radius: 5px;
                                padding: 45px 0 30px;
                                transition: all linear .3s;
                                position: relative;

                                @include breakpoint('desktop'){
                                    &:hover {
                                        box-shadow: 0 0 11px 5px #00000021;
                                        padding: 45px 0 70px;

                                        .e-text-container-sub {
                                            opacity: 0;
                                            visibility: hidden;
                                        }
                                        .e-text-container--button {
                                            display: block !important;
                                        }
                                    }
                                }

                                @include breakpoint('mobile'){
                                    width: 100%;
                                    display: flex;
                                    padding: 0;
                                    margin: 0;
                                    margin-bottom: 25px;
                                    padding-bottom: 40px;
                                }

                                .e-img{
                                    width: 100%;
                                    display: flex;
                                    margin-bottom: 35px;
                                    @include breakpoint('mobile'){
                                        margin-bottom: 0;
                                        margin: 25px 0px;
                                        width: 45%;
                                    }
                                    a{
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        @include breakpoint('mobile'){
                                            width: 70px;
                                            height: 70px;
                                            margin-left: 18px;
                                        }

                                        img{
                                            display: block;
                                            @include breakpoint('mobile'){
                                                background-size: 100%;
                                                width: 70px;
                                                height: 70px;
                                            }
                                        }
                                    }
                                }

                                .e-text{
                                    @include breakpoint('mobile'){
                                        height: 50px;
                                        position: relative;
                                        top: 41px;
                                        left: -13px;
                                        width: 100%;
                                    }

                                    &-container{

                                        &-title{
                                            font-size: 20px;
                                            color: #505050;
                                            text-transform: uppercase;
                                            font-weight: bold;
                                            display: block;
                                            margin-bottom: 6px;
                                        }

                                        &-sub{
                                            font-size: 16px;
                                            color: #505050;
                                            text-transform: uppercase;
                                            font-weight: 500;
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                    .e-text-container--button {
                                        text-align: center;
                                        display: none;
                                        position: absolute;
                                        bottom: 30px;
                                        left: 0;
                                        width: 100%;
                                        @include breakpoint('mobile'){
                                            display: block;
                                            position: relative;
                                            bottom: -10px;
                                        }
                                        .e-button {
                                            color: #8AAF43;
                                            text-align: center;
                                            margin: 0 auto;
                                            background: white;
                                            border-radius: 5px;
                                            padding: 0;
                                            text-transform: uppercase;
                                            font-size: 11px;
                                            border: 3px solid #8AAF43;
                                            font-weight: 700;
                                            line-height: 48px;
                                            display: block;
                                            width: 73%;

                                            @include breakpoint('mobile'){
                                                height: 40px;
                                                line-height: 36px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .e-they-say{
            width: 100%;
            display: block;
            float: left;
            text-align: center;

            .e-say{
                &__center {
                    &-title {
                        position: relative;
                        margin: 80px 0 30px;
                        h3 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8AAF43;
                            position: relative;
                            @include breakpoint('mobile'){
                                font-size: 26px;
                            }
                        }
                        .e-border-top {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:after {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: -19px;
                                left: -240px;
                            }
                        }
                        .e-border-bottom {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:before {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: 13px;
                                right: -240px;
                            }
                        }
                    }

                    &-container{
                        &-items{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            position: relative;

                            @include breakpoint('mobile'){
                                justify-content: center;
                                .slick-list {
                                    float: left;
                                    width: 100%;
                                    position: relative;
                                    overflow: hidden;
                                    margin: 0 20px;
                                }
                            }

                            .slick-arrow {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                z-index: 99;
                            }
                            .slick-prev {
                                left: 0;
                                top: 50%;
                                font-size: 0;
                                width: 40px;
                                &:after {
                                    content: '';
                                    background: url(/arquivos/luccofit-icon-left.png) no-repeat center;
                                    width: 36px;
                                    height: 36px;
                                    display: block;
                                    text-align: center;
                                }
                            }
                            .slick-next {
                                right: 0;
                                top: 50%;
                                font-size: 0;
                                width: 40px;
                                &:after {
                                    content: '';
                                    background: url(/arquivos/luccofit-icon-right.png) no-repeat center;
                                    width: 36px;
                                    height: 36px;
                                    display: block;
                                    text-align: center;
                                }
                            }

                            &--item{
                                width: 300px;
                                margin: 0 18px;
                                background: #F7F7F7;
                                @include breakpoint('mobile'){
                                    width: 100%;
                                    float: left;
                                    background: #efefef;
                                }
                                &-img{
                                    width: 100%;
                                    display: flex;
                                    height: 245px;
                                    overflow: hidden;
                                    position: relative;

                                    img{
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                        @include center();
                                    }
                                }

                                &-text{
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    padding: 15px 34px 20px;
                                    width: 100%;

                                    .e-text{
                                        font-size: 14px;
                                        color: #686868;
                                        line-height: 19px;
                                    }

                                    .e-insta{
                                        font-size: 14px;
                                        color: #686868;
                                        font-weight: bold;
                                        display: block;
                                        margin: 15px 0;
                                    }

                                    .e-image{
                                        width: 92px;
                                        border-radius: 50px;
                                        margin: 0px 0px 0px 30%;
                                    }
                                }
                            }
                        }
                    }

                    &-button{
                        width: 100%;
                        display: block;
                        margin-top: 34px;
                        @include breakpoint('mobile'){
                            margin-top: 20px;
                        }
                        a{
                            display: inline-block;
                            color: #fff;
                            text-align: center;
                            margin: 0 auto;
                            background: #8AAF43;
                            border-radius: 5px;
                            padding: 20px 60px;
                            text-transform: uppercase;
                            font-weight: 500;
                            @include breakpoint('mobile'){
                                color: #8AAF43;
                                text-align: center;
                                margin: 0 auto;
                                background: white;
                                border-radius: 5px;
                                padding: 0;
                                text-transform: uppercase;
                                font-size: 14px;
                                border: 3px solid #8AAF43;
                                font-weight: 700;
                                line-height: 55px;
                                display: block;
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }

        .e-about{
            width: 100%;
            display: block;
            float: left;
            text-align: center;   
            @include breakpoint('mobile'){
                padding-bottom: 80px;
            }
            .e-info{
                &__center {
                    &-title {
                        position: relative;
                        margin: 100px 0 50px;
                        @include breakpoint('mobile'){
                            margin: 75px 0 32px;
                        }
                        h3 {
                            font-size: 28px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #8AAF43;
                            position: relative;
                        }
                        .e-border-top {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:after {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: -19px;
                                left: -240px;
                            }
                        }
                        .e-border-bottom {
                            position: absolute;
                            @include breakpoint('mobile'){
                                display: none;
                            }
                            &:before {
                                content: '';
                                height: 3px;
                                width: 70px;
                                background: #505050;
                                display: block;
                                position: absolute;
                                bottom: 13px;
                                right: -240px;
                            }
                        }
                    }

                    &-text{
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 0 10%;
                        margin-bottom: 100px;

                        @include breakpoint('mobile'){
                            max-height: 200px;
                            overflow-y: scroll;
                            margin-bottom: 0;
                        }

                        p{
                            font-size: 14px;
                            color: #505050;
                            line-height: 24px;
                            margin-bottom: 20px;
                            @include breakpoint('mobile'){
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .e-header{
        &__search{
            &--autocomplete{
                &.e-active{
                    left: 0;
                    position: absolute;
                    z-index: 20;
                    width: 100%;
                    background: #fff;
                    margin-top: 21px;
                    padding: 0 100px 16px;
                    box-shadow: 0 14px 16px rgba(0, 0, 0, .2);
                }
                ul{
                    margin-top: 20px;

                    &::-webkit-scrollbar {
                        width: 8px;
                        background: #DCDCDC;
                    }
                    &::-webkit-scrollbar-thumb{
                        background: #8AAF43;
                    }
                }
                li{
                    width: 25%;
                }
                @media (max-width: 767px) {
                    li{
                        width: 50%;
                    }
                }
            }
        }
    }
    #home-content{
        .shelf__main{
            ul{
                z-index: 100;
                max-height: 62vh;
                overflow: auto;
                background: #FFF;
            }
        }
    }
    .e-kits{
        width: 100%;
        display: block;
        float: left;
        text-align: center;
        &__center{
            &__title{
                margin: 100px 0 50px;
                h3{
                    font-size: 28px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #8AAF43;
                    position: relative;
                }
                .e-border-top{
                    position: absolute;
                    &::after{
                        content: '';
                        height: 3px;
                        width: 70px;
                        background: #505050;
                        display: block;
                        position: absolute;
                        bottom: -19px;
                        left: -240px;
                    }
                }
                .e-border-bottom{
                    position: absolute;
                    &::before{
                        content: '';
                        height: 3px;
                        width: 70px;
                        background: #505050;
                        display: block;
                        position: absolute;
                        bottom: 13px;
                        right: -240px;
                    }
                }
            }
        }
        .shelf__main ul{
            width: 100%;
        }
    }
}

.autocomplete{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #8AAF43;
    span{
        background: #f4f4f4;
        padding: 0 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-transform: uppercase;
    }
}

@media (max-width: 767px) {
    .e-header{
        &__search{
            &--autocomplete{
                &--mobile{
                    &.e-active{
                        left: 0;
                        position: absolute;
                        z-index: 20;
                        width: 100%;
                        background: #fff;
                        margin-top: 21px;
                        box-shadow: 0 14px 16px rgba(0, 0, 0, .2);
                    }
                    ul{
                        &::-webkit-scrollbar {
                            width: 8px;
                            background: #DCDCDC;
                        }
                        &::-webkit-scrollbar-thumb{
                            background: #8AAF43;
                        }
                    }
                    .shelf__main{
                        ul{
                            li{
                                &:nth-child(2n+2){
                                    margin-left: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #home-content{
        .shelf__main{
            ul{
                max-height: 55vh !important;
                padding: 0 30px;
                margin-bottom: 10px;
            }
        }
    }
    .autocomplete{
        margin-top: 10px;
    }
}


.luccofit-blackfriday-benefits{
    width: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    background: #eee;
    &__center{
        width: 95%;
        display: flex;
        justify-content: center;
        float: left;
        overflow: hidden;
        @include breakpoint('mobile'){
            padding: 10px 0;
        }
    }
    &__contents{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
        float: left;
        .slick-list{
            width: 100%;
        }
        .slick-track{
            justify-content: center;
            display: flex;
        }
    }
    &__item{
        display: flex!important;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 40px;
            width: 1px;
            background: #fff;
            position: absolute;
            left: -60px;
            @include breakpoint('mobile') {
                display: none;
            }
        }
        @include breakpoint('mobile'){
            padding: 0 10px;
            justify-content: center;
            float: left;
            opacity: 0;
            &.slick-slide{
                opacity: 1;
            }
        }
        &-icon{
            margin-right: 10px;
            display: flex;
            align-items: center;
            svg{
                width: 40px;
                height: 40px;
            }
        }
        &-text{
            font-size: 12px;
            letter-spacing: .5px;
            span{   
                font-weight: 400;
            }
            strong{
                display: block;
            }
        }
    }
}