@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
@import "generic/_mixins";
@import "generic/_breakpoints";

body{
  &.is--loading{
    &:before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      background: rgba(0,0,0,0.9);
      filter: blur(4px);
    }
    &:after{
      content: '';
      background: url('/arquivos/icon-loader.gif');
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9998;
    }
  }
}

.luccofit-popups,
.luccofit-leaving{
  display: none;
  z-index: 9999;
  &__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
  }
  &__close{
    position: fixed;
    top: 15%;
    left: 88%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: url('/arquivos/luccofit-blackfriday-close.png');
    background-size: 22px;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border: 0;
    @include breakpoint('mobile'){
      top: 8%;
      left: 93%;
    }
  }
  &__contents{
    background: url('/arquivos/luccofit-blackfriday-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 475px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50.9%, -50.9%);
    z-index: 999999999999;
    padding: 0 12%;
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    @include breakpoint('mobile'){
      width: 95%;
    }
  }
  &__image{
    width: 275px;
    margin: -100px auto 0;
    z-index: 9999;
    @include breakpoint('mobile'){
      width: 235px;
    }
    img{
      width: 100%;
      display: block;
      height: auto;
    }
  }
  &__headline{
    width: 100%;
    @include breakpoint('mobile'){
      width: 100%;
      height: 30px;
    }
    &-title{
      font-size: 24px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1.5px;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 0;
      @include breakpoint('mobile'){
        font-size: 18px;
      }
      strong{
        font-weight: 700;
        &:nth-child(1){
          letter-spacing: 2.9px;
        }
      }
    }
  }
  &__newsletter{
    width: 100%;
    #mc_embed_signup{
      #mc-embedded-subscribe-form{
        .indicates-required{
          display: none;
        }
        .mc-field-group{
          width: 100%;
          margin-bottom: 10px;
          &:last-of-type{
            margin-bottom: 0;
          }
          label{
            display: none!important;
          }
          input{
            width: 100%;
            display: block;
            border: 1px solid #ffffff;
            height: 40px;
            padding-left: 30px;
            font-size: 12px;
            color: rgba(255,255,255,0.5);
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            background: none;
          }
        }
        #mc-embedded-subscribe{
          width: 100%;
          background: #B8E602;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #2C2C2C;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          border: 0;
        }
      }
    }
  }
}

.luccofit-leaving{
  &__contents{
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 999999999;
    @include breakpoint('mobile'){
      height: 505px;
      padding-left: 8%;
      padding-right: 8%;
    }
  }
  &__header{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
    h2{
      font-size: 46px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      padding: 0;
    }
    h3{
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }
  }
  &__tagline{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    p{
      font-size: 14px;
      color: #ffffff;
      letter-spacing: .5px;
      line-height: 1.4;
      text-transform: uppercase;
      @include breakpoint('mobile'){
        font-size: 12px;
      }
    }
  }
  &__cupom{
    width: 100%;
    border: 2px dashed #FFFFFF;
    border-radius: 4px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    input{
      display: none;
    }
    &--code{
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 0;
      color: #FFFFFF;
      padding: 0;
      margin-right: 30px;
      text-transform: uppercase;
      @include breakpoint('mobile'){
        font-size: 20px;
      }
    }
    &--copy{
      background: url('/arquivos/icon--copy-content.png');
      background-size: 23px;
      background-repeat: no-repeat;
      width: 23px;
      height: 27px;
      border: 0;
    }
  }
  &__buy{
    width: 100%;
    display: flex;
    justify-content: center;
    .js--continue-shopping{
      border: 1px solid #B8E602;
      border-radius: 4px;
      width: 290px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      font-size: 13px;
      font-weight: 700;
      color: #B8E602;
      text-transform: uppercase;
    }
  }
}

.luccofit-notifications{
  position:fixed;
  right:0;
  top:0;
  height: 45px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all ease-in-out .2s;
  z-index: 9999;
  &.is--active{
    transform: translateX(0);
  }
  &__success{
    background: #B8E602;
    color: #2C2C2C;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }
}