@import 'generic/_breakpoints';
@import './generic/_mixins';

.e-content{
	background: #070707;
}

.slick-list{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

#button-cardapio {
	display: none !important;
}

.luccofit-blackfriday-benefits{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	&__center{
		width: 95%;
		display: flex;
		justify-content: center;
		@include breakpoint('mobile'){
			padding: 10px 0;
		}
	}
	&__contents{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 20px 0;
		@include breakpoint('mobile'){
			display: flex!important;
		}
		.slick-list{
			width: 100%;
		}
		.slick-track{
			justify-content: center;
			display: flex;
		}
	}
	&__item{
		display: flex!important;
		align-items: center;
		@include breakpoint('mobile'){
			padding: 0 10px;
			justify-content: center;
			float: left;
			opacity: 0;
			&.slick-slide{
				opacity: 1;
			}
		}
		&-icon{
			margin-right: 10px;
			display: flex;
			align-items: center;
		}
		&-text{
			font-size: 12px;
			letter-spacing: .5px;
			span{	
				font-weight: 400;
			}
			strong{
				display: block;
			}
		}
	}
}

.luccofit-blackfriday-banner{
	width: 100%;
	position: relative;
	float: left;
	&.haas--desktop {
		@include breakpoint('mobile'){
			display: none!important;
		}
		@include breakpoint('desktop'){
			display: block!important;
		}
	}
	&.haas--mobile {
		@include breakpoint('desktop'){
			display: none!important;
		}
		@include breakpoint('mobile'){
			display: block!important;
		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		cursor: pointer;
		font-size: 0;
		&.slick-prev{
			background: url('/arquivos/arrow--left-bf.png');
			background-size: 44px;
			background-repeat: no-repeat;
			width: 44px;
			height: 44px;
			left: 10px;
			@include breakpoint('mobile'){
				width: 22px;
				height: 22px;
				background-size: 22px;
			}
		}
		&.slick-next{
			background: url('/arquivos/arrow--right-bf.png');
			background-size: 44px;
			background-repeat: no-repeat;
			width: 44px;
			height: 44px;
			right: 10px;
			@include breakpoint('mobile'){
				width: 22px;
				height: 22px;
				background-size: 22px;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			margin: 0 5px;
			&.slick-active{
				button{
					background: #FFFFFF;
				}
			}
			button{
				font-size: 0;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background: #707070;
				cursor: pointer;
			}
		}
	}
	.box-banner {
		width: 100%;
		// opacity: 0;
		// visibility: hidden;
		opacity: 1;
		visibility: visible;
		float: left;
		&.slick-slide{
			opacity: 1;
			visibility: visible;
		}
		img{
			width: 100%;
			display: block;
			height: auto;
		}
	}
}

.luccofit-blackfriday-shelf {
	width: 100%;
	margin: 70px 0;
	display: flex;
	justify-content: center;
	&__center{
		width: 90%;
		margin-top: 45px;
	}
	&__header{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 50px;
		&.flex-end{
			justify-content: flex-end;
			@include breakpoint('mobile'){
				justify-content: center;
			}
		}
		&-title{
			display: flex;
			justify-content: center;
			align-items: center;
			@include breakpoint('mobile'){
				flex-wrap: wrap;
				width: 100%;
			}	
		}
		&-timer{
			background: #FFFFFF;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 20px;
			border-radius: 25px;
			margin-left: 70px;
			@include breakpoint('mobile'){
				margin-left: 0;
				margin-top: 20px;
			}
			p{
				font-weight: 700;
				font-size: 18px;
				letter-spacing: .5px;
				color: #000000;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					right: -9px;
					width: 1px;
					height: 23px;
					background: #000000;
					top: 1px;
				}
			}
		}
		&-countdown{
			font-size: 19px;
			font-weight: 700;
			color: #8AAF43;
			letter-spacing: .5px;
			display: flex;
			align-items: center;
			&:before{
				content: '';
				background: url('/arquivos/icon--clock-bf.png');
				background-repeat: no-repeat;
				background-size: 13px;
				width: 13px;
				height: 13px;
				display: block;
				margin-right: 5px;
			}
		}
		h2{
			font-size: 28px;
			color: #ffffff;
			text-transform: uppercase;
			letter-spacing: .5px;
			font-weight: 400;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@include breakpoint('mobile'){
				font-size: 20px;
			}
			&:before{
				content: '';
				width: 74px;
				height: 1px;
				background: #ffffff;
				display: block;
				margin-right: 50px;
				@include breakpoint('mobile'){
					width: 40px;
					margin-right: 25px;
				}
			}
			&:after{
				content: '';
				width: 74px;
				height: 1px;
				background: #ffffff;
				display: block;
				margin-left: 50px;
				@include breakpoint('mobile'){
					width: 40px;
					margin-left: 25px;
				}
			}
			strong{
				font-weight: 700;
				margin-left: 8px;
			}
		}
	}
	&__carousel{
		width: 100%;
		float: left;
		margin-bottom: 50px;
		position: relative;
		.slick-list{
			@include breakpoint('mobile'){
				width: 90%!important;
				margin: 0 5%;
			}
		}
		.slick-arrow{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 9;
			cursor: pointer;
			font-size: 0;
			width: 44px;
			height: 44px;
			@include breakpoint('mobile'){
				width: 22px;
				height: 22px;
			}
			&.slick-prev{
				background: url('/arquivos/arrow--left-bf.png');
				background-size: 44px;
				background-repeat: no-repeat;
				left: -44px;
				@include breakpoint('mobile'){
					left: -10px;
					background-size: 22px;
				}
			}
			&.slick-next{
				background: url('/arquivos/arrow--right-bf.png');
				background-size: 44px;
				background-repeat: no-repeat;
				right: -44px;
				@include breakpoint('mobile'){
					right: -10px;
					background-size: 22px;
				}
			}
		}
		.shelf__main{
			ul{
				display: none;
				&.slick-initialized{
					display: block;
				}
				li{
					.e-product{
						background: #FFFFFF;
						border-radius: 10px;
						margin: 0 10px;
						@include breakpoint('mobile'){
							margin: 0 5px;
							padding: 10px;
						}
					}
				}
			}
		}
	}
	&__label{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 50px;
		a{
			min-width: 320px;
			height: 60px;
			padding: 0 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFFFFF;
			border: 2px solid #FFFFFF;
			border-radius: 5px;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: .5px;
			transition: background .4s;
			&:hover{
				background: #ffffff;
				color: #000000;
			}
			@include breakpoint('mobile'){
				font-size: 12px;
				padding: 0 20px;
			}
		}
	}
}

.luccofit-blackfriday-banners{
	width: 100%;
	display: flex;
	justify-content: center;
	&__center{
		width: 90%;
	}
	&__left{
		width: 67%;
		display: flex;
		justify-content: space-between;
		@include breakpoint('mobile'){
			width: 100%;
			flex-wrap: wrap;
			margin-bottom: 15px;
		}
		.box-banner{
			&:nth-child(1){
				width: 40%;
				@include breakpoint('mobile'){
					width: 100%;
					margin-bottom: 15px;
				}
			}
			&:nth-child(2){
				width: 58%;
				@include breakpoint('mobile'){
					width: 100%;
				}
			}
		}
	}
	&__right{
		width: 32.5%;
		padding-left: 11px;
		@include breakpoint('mobile'){
			width: 100%;
			padding-left: 0;
		}
		.box-banner{
			margin-bottom: 15px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	&__contents{
		display: flex;
		justify-content: space-between;
		width: 100%;
		@include breakpoint('mobile'){
			flex-wrap: wrap;
		}
		.box-banner{
			width: 100%;
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

.luccofit-blackfriday-seo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__center{
		width: 90%;
		padding: 70px 0;
	}
	&__text{
		h1{
			color: #8AAF43;
			font-size: 28px;
			text-transform: uppercase;
			letter-spacing: .5px;
			margin-bottom: 30px;
			font-weight: 300;
			display: block;
			text-align: center;
			strong{
				font-weight: 700;
			}
		}
		p{
			color: #FFFFFF;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.5;
			display: block;
			text-align: justify;
		}
	}
}

.luccofit-blackfriday-newsletter{
	width: 100%;
	background: url('/arquivos/newsletter--background-bf.png?v=2');
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint('mobile'){
		background-size: 360%;
		background-position-x: 60%;
		padding-bottom: 40px;
	}
	&__contents{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left,
	&__right{
		width: 30%;
		@include breakpoint('mobile'){
			display: none;
		}
		.box-banner{
			width: 100%;
			opacity: 0;
			visibility: hidden;
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	&__form{
		width: 100%;
		&-container{
			width: 30%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include breakpoint('mobile'){
				margin: 0 auto;
				width: 90%;
			}
			> h2{
				font-size: 44px;
				color: #ffffff;
				text-transform: uppercase;
				display: block;
				margin-bottom: 25px;
				font-weight: 700;
				span{
					display: block;
					font-size: 28px;
					font-weight: 400;
				}
			}
		}
		&-label{
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}
		&-input{
			width: 100%;
			border-radius: 4px;
			border: 1px solid rgba(255,255,255,0.4);
			height: 45px;
			padding: 0 45px;
			text-transform: uppercase;
			color: #FFFFFF;
			font-size: 12px;
			background: transparent;
			letter-spacing: .5px;
			&:placeholder{
				color: rgba(255,255,255,0.6);
				opacity: 1;
			}
		}
		&-submit{
			width: 100%;
			background: #B8E602;
			color: #2C2C2C;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: .5px;
			border-radius: 4px;
			font-weight: 700;
		}
	}
}

.blackfriday-notification{
	padding: 10px 20px;
	background: #b8e601;
	color: #303030;
	border-radius: 4px;
	position: fixed;
	right: -100%;
	top: 0;
	z-index: 999;
	transition: all ease-in-out .3s;
	&.is--active{
		right: 0;
	}
	p{
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: .5px;
	}
}