
.e-lojas{
    margin-top: 50px;
    max-width: 1080px;
    margin: 20px auto;
    padding: 0 20px;
    h1{
        font-size: 40px;
        color: #585858;
    }
    h2{
        font-size: 30px;
        color: #585858;
        margin-bottom: 20px;
        margin-top: 50px; 
    }
    h3{
        color:#585858;
        font-size: 24px
    }
    img{
        max-width:100%;
    }
    p{
        font-size: 16px;
        line-height: 20px;
        color: #585858;
    }

    a {
        color: #337ab7;
        text-decoration: none;
        &:focus,a:hover {
            color: #23527c;
            text-decoration: underline
        }
    }
    


    .e-banner-lojas {
        margin-bottom: 30px; 
    }
    .e-lojas-side {
        display: inline-block;
        width: 48%;
        vertical-align: top; 
        article {
            margin-bottom: 40px; 
            i {
                font-size: 35px;
                color: #88b04b;
                float: left;
                width: 35px;
                text-align: center; 
            }
            div {
                margin-left: 55px; 
            }
        }
    }


}

@media screen and (max-width: 767px){
    .e-lojas{
        padding-bottom:40px;
        .e-lojas-side {
            width: 100%;
        }
    }
    
}

  

  
