.e-coworking {
        padding: 20px;
        margin-top: 30px;
    h1{
        font-size: 40px;
        color: #585858;
        margin-bottom: 25px;
    }
    p{
        font-size: 16px;
        line-height: 20px;
        color: #585858; 
    }
}