.e-title-category{
    border: none;
    padding:40px;
    display:flex;
    justify-content:space-around;
    flex-direction: row-reverse;
    h2{
        color: #585858;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0; 
        width: 90%;
    }
    a{
        color: #337ab7;
        display: flex;
        align-items: center;;
        justify-content: space-between;
        i{
            margin-right: 4px;
        }
    }
}


@media (max-width: 767px){

    .e-title-category{
        padding: 90px 20px;
        h2 {
            font-size: 20px;
        }
    }

}
