@import "./generic/reset";
@import "./generic/_breakpoints";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/shelf";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

html {
  body {
    font-family: "Roboto", sans-serif;

    .is--desktop {
      @include breakpoint("mobile") {
        display: none;
      }
    }

    .is--mobile {
      display: none;
      @include breakpoint("mobile") {
        display: block;
      }
    }

    .e-general {
      width: 100%;
      display: block;
      float: left;

      #login-extra-bottom {
        height: 350px;
      }
      @media (max-width: 767px) {
        .e-whatsapp {
          left: 86% !important;
        }
      }

      .e-whatsapp {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 20px;
        left: 96%;

        svg {
          width: 100%;
          fill: #25d366;

          path {
            fill: #25d366;
          }
        }
      }
      .exit-popup {
        position: relative;
        &.is--active {
          opacity: 1;
          visibility: visible;
          display: block !important;
        }
        &__content {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 350px;
          width: 500px;
          z-index: 999;
          border-radius: 10px;
          background: #fff;
          svg {
            position: absolute;
            right: 25px;
            top: 25px;
            cursor: pointer;
          }
          &__text {
            opacity: 0;
            visibility: hidden;
            color: #8aaf43;
            text-transform: uppercase;
            text-align: center;
            margin-top: 45px;
            display: none;
            &.is--active {
              opacity: 1;
              visibility: visible;
              display: block;
            }
            > strong {
              font-size: 34px;
              font-weight: 900;
              text-transform: uppercase;
              line-height: 45px;
              letter-spacing: 0.03rem;
            }
            > span {
              font-size: 21px;
              font-weight: 500;
              text-transform: uppercase;
              line-height: 28px;
              letter-spacing: 0.05rem;
            }
            > p {
              color: #505050;
              margin-top: 15px;
              font-weight: 500;
              font-size: 12px;
              text-align: center;
              line-height: 20px;
              letter-spacing: 0.025rem;
            }
          }
          .validate {
            opacity: 0;
            visibility: hidden;
            display: none;
            width: 75%;
            text-align: center;
            margin: auto;
            margin: 35px auto;
            &.is--active {
              opacity: 1;
              visibility: visible;
              display: block;
            }
            .email {
              width: 100%;
              border: 1px solid #b5b5b5;
              color: #505050;
              border-radius: 5px;
              padding: 15px;
              margin-bottom: 20px;
            }
            .button {
              text-transform: uppercase;
              width: 130px;
              background: #8aaf43;
              border-radius: 5px;
              color: #fff;
              padding: 15px;
              font-weight: 700;
              cursor: pointer;
            }
          }
          &__success {
            opacity: 0;
            visibility: hidden;
            text-align: center;
            margin: 65px auto;
            width: 85%;
            &.is--active {
              opacity: 1;
              visibility: visible;
            }
            p {
              text-transform: uppercase;
              font-size: 18px;
              letter-spacing: 0.025rem;
              color: #505050;
              line-height: 24px;
              margin-top: 20px;
              margin-bottom: 45px;
              strong {
                font-weight: 900;
              }
            }
            a {
              text-transform: uppercase;
              width: 130px;
              background: #8aaf43;
              border-radius: 5px;
              color: #fff;
              padding: 15px 30px;
              text-decoration: none;
              font-weight: 700;
              letter-spacing: 0.1rem;
              cursor: pointer;
            }
          }
        }
        &__overlay {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #000;
          opacity: 0.6;
          z-index: -1;
          transition: all 0.2s ease-in;
          &.is--active {
            z-index: 99;
          }
        }
      }
    }
  }
}

input.bt-voltar.newsletter-button-back {
  display: inline-block;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #b8e602;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 60px;
  text-transform: uppercase;
  font-weight: 500;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.newsletter h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.newsletter .error {
  color: #fff;
  color: #fff;
  font-size: 11px;
  margin: 10px 0;
}

body {
  .e-header {
    &__search {
      &--autocomplete {
        &.e-active {
          left: 0;
          position: absolute;
          z-index: 20;
          width: 100%;
          background: #fff;
          margin-top: 21px;
          padding: 0 100px 16px;
          box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
        }
        ul {
          margin-top: 20px;

          &::-webkit-scrollbar {
            width: 8px;
            background: #dcdcdc;
          }
          &::-webkit-scrollbar-thumb {
            background: #8aaf43;
          }
        }
        li {
          width: 25%;
        }
        @media (max-width: 767px) {
          li {
            width: 50%;
          }
        }
      }
    }
  }
  #home-content {
    .shelf__main {
      ul {
        z-index: 100;
        max-height: 62vh;
        overflow: auto;
        background: #fff;
      }
    }
  }
}

.autocomplete {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #8aaf43;
  span {
    background: #f4f4f4;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  .e-header {
    &__search {
      &--autocomplete {
        &--mobile {
          &.e-active {
            left: 0;
            position: absolute;
            z-index: 20;
            width: 100%;
            background: #fff;
            margin-top: 21px;
            box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
          }
          ul {
            &::-webkit-scrollbar {
              width: 8px;
              background: #dcdcdc;
            }
            &::-webkit-scrollbar-thumb {
              background: #8aaf43;
            }
          }
          .shelf__main {
            ul {
              li {
                &:nth-child(2n + 2) {
                  margin-left: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  #home-content {
    .shelf__main {
      ul {
        max-height: 100vh !important;
        padding: 0 30px;
      }
    }
  }
  .autocomplete {
    margin-top: 10px;
  }
}

.e-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: ease-in 0.3s;
  &.is--active {
    opacity: 1;
    visibility: visible;
  }
}

// #content .row .e-button-seemore {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	clear: both;
// 	width: 200px;
// 	height: 48px;
// 	border: 2px solid  #8AAF43;
// 	border-radius: 5px;
// 	font-size: 16px;
// 	font-weight: 700;
// 	color: #8AAF43;
// 	margin: 0 auto 60px;
// 	text-transform: uppercase;
// 	text-decoration: none;
// }

.e-content {
  .e-banner {
    position: relative;

    .e-banner-desk {
      display: block;

      @include breakpoint("mobile") {
        display: none;

        img {
          width: 100%;
          height: auto;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    .e-banner-mobile {
      display: none;

      @include breakpoint("mobile") {
        display: block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .box-banner {
      a {
        cursor: initial;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .titulo-sessao {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 700;
      color: #8aaf43;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;

      display: none; // RETIRAR DEPOIS

      @include breakpoint("mobile") {
        font-size: 40px;
      }
    }
  }

  .e-select-filter {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    @include breakpoint("mobile") {
      display: block;
      margin-top: 32px;
    }

    &_left {
      display: flex;
      align-items: center;

      @include breakpoint("mobile") {
        justify-content: center;
        margin-bottom: 25px;
      }

      &--productfound {
        font-size: 12px;
        color: #999;
        font-weight: 700;
        border: 2px solid #8aaf43;
        border-radius: 3px;
        margin-right: 10px;
        padding: 3px;
      }
      &--title {
        font-size: 12px;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &_right {
      @include breakpoint("mobile") {
        display: flex;
        justify-content: center;
      }
      .e-category__orderby {
        display: flex;
        align-items: center;
        position: relative;

        .js--orderby-open {
          font-size: 12px;
          color: #707070;
          margin-right: 10px;
          text-transform: uppercase;
        }
        .js--orderby-active {
          width: 248px;
          height: 38px;
          border: 1px solid #8aaf43;
          border-radius: 5px;
          cursor: pointer;
          color: #000;
          font-size: 12px;
          letter-spacing: 0.18px;
          line-height: 30px;
          padding: 3px 10px;

          &.is--active {
            &:before {
              transform: rotate(270deg);
            }
          }

          &:before {
            content: "\203A";
            float: right;
            margin: 2px 5px 0 0;
            font-size: 25px;
            transform: rotate(90deg);
            font-weight: 700;
            transition: 0.3s;
          }
        }
        .js--orderby {
          position: absolute;
          top: 37px;
          right: 0;
          width: 248px;
          z-index: 1;
          border: 1px solid #8aaf43;
          background: #fff;
          border-radius: 5px;
          cursor: pointer;
          color: #000;
          font-size: 12px;
          letter-spacing: 0.18px;
          line-height: 30px;
          padding: 3px 10px;

          li {
            a {
              text-transform: uppercase;
              color: #000;
              font-size: 12px;
              letter-spacing: 0.18px;
              line-height: 30px;
              text-decoration: none;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
.e-text-seo {
  border-top: 2px solid #8aaf43;

  @include breakpoint("mobile") {
    margin-bottom: 60px;
  }

  .titulo-sessao {
    font-size: 30px;
    color: #8aaf43;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 50px 0 15px;
  }

  .e-text {
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    width: 100%;
    padding: 0 140px 60px;

    h2 {
      text-transform: uppercase;
      margin: 10px;
      font-size: 20px;
    }

    @include breakpoint("mobile") {
      padding: 0 30px 20px;
      max-height: 262px;
      overflow: hidden;

      &.text-full {
        max-height: 100%;
      }
    }
  }

  .e-open-text {
    @include breakpoint("mobile") {
      display: block !important;
      color: #000;
      text-align: center;
      margin-top: 30px;
    }
  }
}

.titulo-sessao {
  display: none; // RETIRAR DEPOIS
}

#returnToTop a {
  display: none;
}

.e-inativo {
  opacity: 0.5;
  pointer-events: none;
}

body {
  &.is--hidden {
    overflow: hidden;
    position: fixed;
    top: 0;
  }
}

html {
  body.skin {
    .e-footer-mobile {
      background: #1a1a1a;
      .e-copyright-mobile {
        background: #1f1f1f;
      }
    }
    .e-footer {
      background: #1a1a1a;
      .e-copyright {
        background: #1f1f1f;
      }
    }
    .e-header {
      background: #050505;
      .e-menu {
        .menu-departamento {
          h3 {
            > a {
              color: #fff;
            }
          }
        }
      }
      &-mobile {
        background: #050505;
        .e-menu-button {
          span {
            background: #fff;
          }
        }
        .e-icon-search {
          filter: invert(1);
        }
        .e-minicart {
          a {
            filter: invert(1);
          }
        }
      }
      .e-search {
        form {
          input {
            border: none;
            border-bottom: 1px solid #fff;
            background: #050505;
            &::placeholder {
              color: #000;
            }
          }
          .e-send {
            filter: invert(1);
          }
        }
      }
      .e-account {
        a {
          filter: invert(1);
        }
      }
      .e-minicart {
        > a {
          filter: invert(1);
        }
      }
    }
    .e-content {
      background: #070707;
      #content {
        background: #070707;
        .e-select-filter {
          &_left {
            &--productfound {
              color: #fff;
            }
            &--title {
              color: #fff;
            }
          }
          &_right {
            .e-category__orderby {
              .js--orderby-open {
                color: #fff;
              }
              .js--orderby-active {
                color: #fff;
              }
            }
          }
        }
        .shelf__main {
          ul {
            li {
              @media (max-width: 767px) {
                margin-bottom: 15px;
              }
              .e-product {
                &__group {
                  &--name {
                    a {
                      color: #fff;
                    }
                  }
                  &--price {
                    color: #fff;
                    &--best-single {
                      color: #fff;
                    }
                  }
                  &--buy {
                    .e-product {
                      &-quantity {
                        &-value {
                          background: #070707;
                          color: #fff;
                        }
                        &-minus {
                          color: #fff;
                        }
                        &-plus {
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #product-content {
      background-color: #070707;
      .product-details {
        .product-name {
          .productName {
            color: #fff;
          }
        }
        .price-box {
          .descricao-preco {
            .valor-por {
              strong {
                color: #fff;
              }
            }
          }
        }
        .buy-button-box {
          .box-qtd {
            background: #070707;
            .qtd {
              color: #fff;
            }
            .btn {
              &.btn-mais {
                color: #fff;
              }
              &.btn-menos {
                color: #fff;
              }
            }
          }
        }
        .btn-group {
          .btn-default {
            &:nth-child(1) {
              border-color: #8aaf43;
              color: #fff;
              background-color: #070707;
            }
            &:nth-child(2) {
              border-color: #8aaf43;
              color: #fff;
              background-color: #070707;
            }
          }
        }
        .product-description {
          .productDescription {
            color: #fff;
          }
          #caracteristicas {
            td {
              color: #fff;
              background: #070707;
            }
            tr {
              &.even {
                background: #070707;
              }
            }
            th {
              color: #fff;
            }
          }
        }
      }
      .product-description-box {
        .showcase-default {
          .shelf__main {
            > h2 {
              color: #fff;
            }
            ul {
              li {
                .e-product {
                  &__group {
                    &--name {
                      a {
                        color: #fff;
                      }
                    }
                    &--price {
                      &--best {
                        color: #fff;
                        &-single {
                          color: #fff;
                        }
                      }
                    }
                    &--buy {
                      .e-product {
                        &-quantity {
                          &-value {
                            background: #070707;
                            color: #fff;
                          }
                          &-minus {
                            color: #fff;
                          }
                          &-plus {
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .slick-prev {
              &:after {
                filter: invert(1);
              }
            }
            .slick-next {
              &:after {
                filter: invert(1);
              }
            }
          }
        }
        &-title {
          background: #070707;
          p {
            color: #fff;
          }
        }
      }
      #specification {
        h4 {
          color: #fff;
        }
      }
    }
    @media (max-width: 767px) {
      .js--specification {
        background: #070707;
        color: #fff;
      }
      .js--description {
        background: #070707;
        color: #fff;
      }
    }
    .e-general {
      .e-content {
        .e-top {
          background: #070707;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 70px;
          padding-bottom: 80px;
          .e-kit-details {
            .productName {
              color: #fff;
            }
            .productDescription {
              color: #fff;
            }
            .e-price {
              color: #fff;
              .e-total {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .e-product {
      &__highlight {
        display: block !important;
        position: absolute;
        right: 0;
        top: 0;
        .mais-vendidos---bf {
          display: none;
        }
        .agora-ou-nunca---black-friday {
          display: none;
        }
        p.esquenta-black-20 {
          display: block !important;
          font-size: 0;
          height: 65px;
          width: 60px;
          background-color: #b8e602;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          &::before {
            content: "20% OFF";
            position: absolute;
            left: 8px;
            top: 43px;
            font-family: Lato;
            font-size: 11px;
            width: 50px;
            font-style: italic;
          }
          &::after {
            content: "";
            background: url(/arquivos/lucco-black.png) no-repeat;
            position: absolute;
            left: 7px;
            top: 10px;
            height: 30px;
            width: 50px;
          }
        }
        p.esquenta-black-50 {
          display: block !important;
          font-size: 0;
          height: 65px;
          width: 60px;
          background-color: #b8e602;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          &::before {
            content: "50% OFF";
            position: absolute;
            left: 8px;
            top: 43px;
            font-family: Lato;
            font-size: 11px;
            width: 50px;
            font-style: italic;
          }
          &::after {
            content: "";
            background: url(/arquivos/lucco-black.png) no-repeat;
            position: absolute;
            left: 7px;
            top: 10px;
            height: 30px;
            width: 50px;
          }
        }
        &--discount {
          display: none;
          // &-hidden{
          //   display: block !important;
          //   font-size: 0;
          //   height: 65px;
          //   width: 60px;
          //   background-color: #B8E602;
          //   border-radius: 5px;
          //   position: relative;
          //   &::before {
          //     content: "30% OFF";
          //     position: absolute;
          //     left: 8px;
          //     top: 43px;
          //     font-family: Lato;
          //     font-size: 11px;
          //     width: 50px;
          //     font-style: italic;
          //   }
          //   &::after {
          //     content: "";
          //     background: url(/arquivos/lucco-black.png) no-repeat;
          //     position: absolute;
          //     left: 7px;
          //     top: 10px;
          //     height: 30px;
          //     width: 50px;
          //   }
          // }
        }
      }
    }
  }
}

[class*="50--off-bf"] {
  display: none;
}

body .e-product .yv-review-quickreview {
  display: none !important;
}

@media (max-width: 768px) {
  body#category-page #departament-banner {
    display: none;
  }
}