/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Hand cursor on clickable input elements */

a, input[type="button"], input[type="submit"], input[type="file"], input[type="image"], button {
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: 0;
  font-family: Roboto;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a, span, h3, h2, p {
  font-family: Roboto;
}

.e-topbar {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  background: #b8e602;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: #505050;
  text-transform: uppercase;
  padding: 0 55px;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-topbar {
    display: none;
  }
}

.e-topbar .e-stores a {
  font-size: 14px;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #505050;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.e-topbar .e-stores a .e-icon {
  margin-right: 5px;
}

.e-topbar .e-stores a .e-icon svg {
  width: 17px;
}

.e-topbar .e-stores a strong {
  margin-left: 5px;
}

.e-topbar strong {
  font-weight: bold;
}

.e-topbar .js--content-topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.e-topbar .js--content-topbar .stars {
  margin: 0 10px;
}

.e-topbar .e-contact a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.e-topbar .e-contact a img {
  width: 20px;
  height: 20px;
}

.e-topbar .e-contact a p {
  color: #505050;
  margin-left: 10px;
}

.e-topbar .e-location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.e-topbar .e-location span svg {
  display: none;
  width: 20px;
}

.e-topbar .e-location span.arrow {
  margin-left: 10px;
  position: relative;
}

.e-topbar .e-location span.arrow svg {
  width: 12px;
  display: block;
}

.e-topbar .e-location span.pin {
  margin-right: 5px;
}

.e-topbar .e-location span.pin:after {
  content: "";
  background: url(/arquivos/luccofit-icon-location-mobile.png) no-repeat;
  width: 13px;
  height: 19px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 0;
  left: -2px;
  margin-right: 4px;
}

.e-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding-right: 2%;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-header {
    display: none;
  }
}

.e-header .e-logo {
  width: 230px;
  height: 70px;
  position: relative;
  left: 24px;
}

.e-header .e-logo img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 999;
}

.e-header .e-menu {
  width: 50%;
  margin-left: 5%;
}

.e-header .e-menu #admake-advanced-filter {
  display: none !important;
}

.e-header .e-menu .menu-departamento {
  width: 100%;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: visible !important;
}

.e-header .e-menu .menu-departamento>ul {
  display: none;
}

.e-header .e-menu .menu-departamento h3 {
  position: relative;
}

.e-header .e-menu .menu-departamento h3:hover>a {
  font-weight: bold;
}

.e-header .e-menu .menu-departamento h3:hover ul {
  display: block;
}

.e-header .e-menu .menu-departamento h3>a {
  font-size: 13px;
  color: #505050;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px;
  text-decoration: none;
}

.e-header .e-menu .menu-departamento h3 ul {
  display: none;
  width: 220px;
  position: absolute;
  left: -10px;
  top: 30px;
  background: #fff;
  padding: 20px;
}

.e-header .e-menu .menu-departamento h3 ul li {
  display: block;
  margin: 10px 0;
}

.e-header .e-menu .menu-departamento h3 ul li a {
  font-size: 13px;
  color: #505050;
  text-transform: uppercase;
  font-weight: 400;
}

.e-header .e-menu .menu-departamento h3 ul li a:hover {
  text-decoration: underline;
}

.e-header .e-search {
  margin-left: auto;
  width: 15%;
}

.e-header .e-search form {
  width: 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -22px;
}

.e-header .e-search form input {
  width: 170px;
  height: 30px;
  border-bottom: 1px solid #505050;
  color: #000;
}

.e-header .e-search form input::-webkit-input-placeholder {
  color: #000;
}

.e-header .e-search form input::-moz-placeholder {
  color: #000;
}

.e-header .e-search form input::-ms-input-placeholder {
  color: #000;
}

.e-header .e-search form input::placeholder {
  color: #000;
}

.e-header .e-search form .e-send {
  width: 20px;
  height: 20px;
  background: url(/arquivos/icon-search.png) no-repeat center;
  border: 0;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 8px;
}

.e-header .e-account {
  margin-left: 20px;
  position: relative;
  left: -31px;
  top: 5px;
}

.e-header .e-account a {
  background: url(/arquivos/luccofit-icon-users-mobile.png) no-repeat;
  width: 19px;
  height: 28px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 3px;
  left: 2px;
  margin-right: 9px;
}

.e-header .e-account a svg {
  display: none;
}

.e-header .e-minicart {
  margin-left: 20px;
  position: relative;
  left: -31px;
  top: 5px;
}

.e-header .e-minicart a svg {
  width: 20px;
}

.e-header .e-minicart a .e-number .amount-items-in-cart .title {
  display: none;
}

.e-header .e-minicart a .e-number .amount-items-in-cart .cart-info>li {
  display: none;
}

.e-header .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items {
  display: block;
}

.e-header .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items strong {
  display: none;
}

.e-header .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items .amount-items-em {
  width: 17px;
  height: 17px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #b8e602;
  color: #505050;
  font-size: 11px;
  position: absolute;
  top: -8px;
  right: -12px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-style: normal;
}

.e-header .e-minicart {
  position: relative;
}

.e-header .e-minicart .e-message-add {
  position: absolute;
  top: 50px;
  right: -20px;
  width: 250px;
  background: #b8e602;
  padding: 10px;
  color: #505050;
  font-size: 13px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.e-header .e-minicart .e-message-add.e-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.e-header .e-minicart .e-message-add:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #b8e602 transparent;
  position: absolute;
  top: -10px;
  right: 20px;
}

.e-header .e-minicart .e-message-add .e-icon {
  margin-right: 10px;
}

.e-header .e-minicart .e-message-add .e-icon svg {
  width: 20px;
}

@media (min-width: 767px) {
  .e-topbar-mobile, .e-search-mobile, .e-header-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-topbar-mobile {
    height: 40px;
    background: #b8e602;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-topbar-mobile .e-conquered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    color: #505050;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .e-topbar-mobile .e-conquered .stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .e-topbar-mobile .e-conquered .stars img {
    width: 15px;
    height: auto;
  }
  .e-topbar-mobile .e-contact img {
    width: 19px;
    height: 19px;
  }
  .e-search-mobile {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #ccc;
    z-index: 999;
  }
  .e-search-mobile.e-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .e-search-mobile .e-close {
    background: url(/arquivos/luccofit-icon-close.png) no-repeat;
    width: 22px;
    height: 22px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: relative;
    top: 10px;
    left: 88%;
  }
  .e-search-mobile .js--search {
    margin-top: 26px;
    text-align: center;
    position: relative;
  }
  .e-search-mobile .js--search input {
    width: 90%;
    border: 1px solid #707070;
    line-height: 45px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 29px;
  }
  .e-search-mobile .js--search .js--send-search {
    background: url(/arquivos/luccofit-search-mobile.png) no-repeat;
    width: 26px;
    height: 27px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 41px;
  }
  .e-header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 66px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    border-bottom: 1px solid #ccc;
  }
  .e-header-mobile .e-menu {
    position: relative;
    top: 23px;
    width: 24px;
    height: 19px;
  }
  .e-header-mobile .e-menu-button {
    display: block;
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .e-header-mobile .e-menu-button span {
    position: relative;
    display: block;
    width: 23px;
    height: 2px;
    background: #505050;
    margin-bottom: 6px;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  .e-header-mobile .e-menu-dropdown {
    background: white;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    padding-top: 40px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .e-header-mobile .e-menu-dropdown.e-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .e-header-mobile .e-menu-dropdown-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .e-header-mobile .e-menu-dropdown-container--button {
    width: 16%;
    text-align: center;
  }
  .e-header-mobile .e-menu-dropdown-container--button .e-close {
    background: url(/arquivos/luccofit-icon-close.png) no-repeat;
    width: 22px;
    height: 22px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: relative;
    top: 10px;
  }
  .e-header-mobile .e-menu-dropdown-container--account {
    width: 39%;
  }
  .e-header-mobile .e-menu-dropdown-container--account a {
    border: 1px solid #505050;
    padding: 0 10px;
    height: 45px;
    line-height: 2.5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
  }
  .e-header-mobile .e-menu-dropdown-container--account a .e-users {
    background: url(/arquivos/luccofit-icon-users-mobile.png) no-repeat;
    width: 19px;
    height: 28px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: inline-block;
    position: relative;
    top: 8px;
    left: 2px;
    margin-right: 9px;
  }
  .e-header-mobile .e-menu-dropdown-container--account a .e-hello {
    color: #505050;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: -1px;
  }
  .e-header-mobile .e-menu-dropdown-container--account a .e-hello .e-name {
    font-weight: 500;
    color: #505050;
    font-size: 12px;
    text-transform: uppercase;
  }
  .e-header-mobile .e-menu-dropdown-container--location {
    width: 39%;
    margin-left: 10px;
    border: 1px solid #505050;
    padding: 0 10px;
    height: 45px;
    line-height: 2.5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .e-header-mobile .e-menu-dropdown-container--location .e-location .e-icon-location {
    background: url(/arquivos/luccofit-icon-location-mobile.png) no-repeat;
    width: 19px;
    height: 28px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: inline-block;
    position: relative;
    top: 7px;
    left: 4px;
    margin-right: 11px;
  }
  .e-header-mobile .e-menu-dropdown-container--location .e-location span {
    font-weight: 700;
    color: #505050;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento {
    margin-top: 25px;
    display: block !important;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento .has-sub .menu-item-texto:after {
    content: "";
    background: url(/arquivos/luccofit-icon-seta.png) no-repeat;
    display: inline-block;
    width: 18px;
    height: 10px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    right: 29px;
    top: 22px;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 {
    border-top: 1px solid #c3c3c38f;
    border-bottom: 1px solid #c3c3c38f;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 .menu-item-texto {
    color: #505050;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 4em;
    padding: 0 37px 0 60px;
    width: 100%;
    display: block;
    position: relative;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul {
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 74px;
    padding-left: 64px;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul .e-close-drop {
    background: url(/arquivos/luccofit-icon-left.png) #f5f5f5;
    width: 100%;
    height: 50px;
    background-position: center left 10px;
    background-repeat: no-repeat;
    -webkit-background-size: 12px 12px;
    background-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    color: #505050;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding: 0 0 0 64px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul.e-active {
    right: 0;
    z-index: 1;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul li {
    padding-bottom: 20px;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul li.e-all a {
    font-size: 16px;
    font-weight: 700;
    color: #8AAF43;
  }
  .e-header-mobile .e-menu-dropdown--sub .menu-departamento h3 ul li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #505050;
  }
  .e-header-mobile .e-menu-dropdown--stores {
    height: auto;
    padding: 20px 0 45px 0;
  }
  .e-header-mobile .e-menu-dropdown--stores a {
    display: block;
    width: 69%;
    border: 1px solid #505050;
    padding: 0 10px;
    height: 45px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    color: #505050;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 3.5em;
  }
  .e-header-mobile .e-menu .e-menu-dropdown__overlay {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: fixed;
    display: none;
  }
  .e-header-mobile .e-menu .e-menu-dropdown__overlay.e-active {
    display: block;
  }
  .e-header-mobile .e-logo {
    position: relative;
    top: 15px;
    z-index: 2;
  }
  .e-header-mobile .e-icon-search {
    position: relative;
    top: 23px;
    width: 20px;
    height: 19px;
    left: 5px;
  }
  .e-header-mobile .e-minicart {
    position: relative;
    top: 21px;
    width: 26px;
    height: 26px;
    left: -6px;
  }
  .e-header-mobile .e-minicart a svg {
    height: 25px;
    width: 25px;
  }
  .e-header-mobile .e-minicart a .e-number .amount-items-in-cart .title {
    display: none;
  }
  .e-header-mobile .e-minicart a .e-number .amount-items-in-cart .cart-info>li {
    display: none;
  }
  .e-header-mobile .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items {
    display: block;
  }
  .e-header-mobile .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items strong {
    display: none;
  }
  .e-header-mobile .e-minicart a .e-number .amount-items-in-cart .cart-info>li.amount-items .amount-items-em {
    width: 17px;
    height: 17px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #b8e602;
    color: #505050;
    font-size: 11px;
    position: absolute;
    top: -8px;
    right: -12px;
    font-weight: bold;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-style: normal;
  }
  .e-header-mobile .e-minicart .e-message-add {
    position: absolute;
    top: 50px;
    right: -20px;
    width: 250px;
    background: #b8e602;
    padding: 10px;
    color: #505050;
    font-size: 13px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
  }
  .e-header-mobile .e-minicart .e-message-add.e-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .e-header-mobile .e-minicart .e-message-add:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #b8e602 transparent;
    position: absolute;
    top: -10px;
    right: 20px;
  }
  .e-header-mobile .e-minicart .e-message-add .e-icon {
    margin-right: 10px;
  }
  .e-header-mobile .e-minicart .e-message-add .e-icon svg {
    width: 20px;
  }
}

.e-footer {
  float: left;
  width: 100%;
  background: #505050;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-footer {
    display: none;
  }
}

.e-footer__center {
  padding-top: 60px;
}

.e-footer__center .e-institucional {
  margin: 0 160px;
  margin-bottom: 60px;
}

.e-footer__center .e-institucional-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.e-footer__center .e-institucional-items-item {
  width: 21%;
}

.e-footer__center .e-institucional-items-item:nth-child(4) {
  width: 31%;
}

.e-footer__center .e-institucional-items-item-block {
  width: 100%;
}

.e-footer__center .e-institucional-items-item-block--icons--items {
  width: 53%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.e-footer__center .e-institucional-items-item-block--icons--items-item a .e-insta {
  background: url(/arquivos/luccofit-footer-icon-instagram.png) no-repeat;
  width: 21px;
  height: 21px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: block;
}

.e-footer__center .e-institucional-items-item-block--icons--items-item a .e-twitter {
  background: url(/arquivos/luccofit-footer-icon-twitter.png) no-repeat;
  width: 21px;
  height: 21px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: none;
}

.e-footer__center .e-institucional-items-item-block--icons--items-item a .e-facebook {
  background: url(/arquivos/luccofit-footer-icon-facebook.png) no-repeat;
  width: 21px;
  height: 21px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  display: block;
  position: relative;
  right: 50px;
}

.e-footer__center .e-institucional-items-item-block-map {
  margin-top: 10px;
}

.e-footer__center .e-institucional-items-item-block .e-title {
  width: 100%;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-bottom: 26px;
}

.e-footer__center .e-institucional-items-item-block .e-institucional-items-item-block--img {
  width: 100%;
}

.e-footer__center .e-institucional-items-item-block .e-institucional-items-item-block--img--top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.e-footer__center .e-institucional-items-item-block .e-institucional-items-item-block--img--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.e-footer__center .e-institucional-items-item-block .e-institucional-items-item-block--img svg {
  margin-right: 10px;
}

.e-footer__center .e-institucional-items-item-block .e-links {
  width: 100%;
  display: block;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 2.2em;
}

.e-footer__center .e-institucional-items-item-block .e-text {
  color: white;
  font-size: 14px;
  width: 70%;
  display: block;
  line-height: 1.6em;
}

.e-footer__center .e-institucional-items-item-block .e-text img {
  width: 16px;
  height: 16px;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter {
  margin-top: 20px;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter .newsletter-title {
  display: none;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset {
  width: 100%;
  float: left;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset label {
  color: #fff;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset label em {
  font-style: normal;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset p {
  display: none;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset #newsletterClientName {
  display: none;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset #newsletterClientEmail {
  border: 1px solid white;
  height: 40px;
  background: transparent;
  color: white;
  padding-left: 20px;
  width: 63%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.e-footer__center .e-institucional-items-item-block .e-newsletter__form .newsletter fieldset #newsletterButtonOK {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  color: #8AAF43;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.e-footer__center .e-institucional-items-item-block img {
  width: 100%;
}

.e-footer__center .e-copyright {
  background: #6A6A6A;
}

.e-footer__center .e-copyright__center {
  padding: 17px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 160px;
  position: relative;
}

.e-footer__center .e-copyright__center-text {
  width: 51%;
}

.e-footer__center .e-copyright__center-text p {
  font-size: 12px;
  color: white;
}

.e-footer__center .e-copyright__center-logo-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  top: 3px;
}

.e-footer__center .e-copyright__center-logo-items--item {
  margin-right: 10px;
}

.e-footer__center .e-copyright__center-logo-items--item img {
  height: 35px;
}

.e-footer__center .e-copyright__center-button {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  bottom: 12px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.e-footer__center .e-copyright__center-button .e-button {
  background: url(/arquivos/luccofit-icon-seta-pra-cima-desktop.png) no-repeat;
  display: block;
  width: 17px;
  height: 17px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  top: 9px;
}

.e-footer__center .e-newsletter__form {
  width: 100%;
  display: none;
}

.e-footer__center .e-newsletter__form--newsletter {
  display: block !important;
}

.e-footer__center .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .tagline {
  display: none;
}

.e-footer__center .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .mc-field-group label {
  display: none !important;
}

.e-footer__center .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .mc-field-group input {
  border: 1px solid white;
  height: 40px;
  background: transparent;
  color: white;
  padding-left: 20px;
  width: 63%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.e-footer__center .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form #mc-embedded-subscribe {
  height: 40px;
  width: 90px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  color: #8AAF43;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 1081px) and (max-width: 5000px) {
  .e-footer-mobile {
    display: none;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-footer-mobile {
    width: 100%;
    float: left;
    background: #505050;
  }
  .e-footer-mobile__center {
    position: relative;
  }
  .e-footer-mobile__center--button {
    width: 40px;
    height: 40px;
    left: 84%;
    position: absolute;
    border: 2px solid #8EB249;
    top: -98px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) and (min-width: 1081px) and (max-width: 5000px) {
  .e-footer-mobile__center--button {
    display: none;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-footer-mobile__center--button .e-button-down {
    background: url(/arquivos/luccofit-icon-seta-pra-cima.png) no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    top: 9px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) and (min-width: 1081px) and (max-width: 5000px) {
  .e-footer-mobile__center--button .e-button-down {
    display: none;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-footer-mobile__center .e-newsletter-mobile {
    padding: 0 48px;
    margin-top: 35px;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 18px;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-text {
    color: white;
    font-size: 15px;
    line-height: 1.5em;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-text img {
    width: 14px;
    height: 14px;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form {
    margin: 20px 0 33px 0;
    display: none;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form--newsletter {
    display: block !important;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .tagline {
    display: none;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .mc-field-group label {
    display: none !important;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form .mc-field-group input {
    border: 1px solid white;
    height: 40px;
    background: transparent;
    color: white;
    padding-left: 20px;
    width: 63%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form--newsletter #mc_embed_signup #mc-embedded-subscribe-form #mc-embedded-subscribe {
    height: 40px;
    width: 90px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    color: #8AAF43;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter-title {
    display: none;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset label {
    color: #fff;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset label em {
    font-style: normal;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset p {
    display: none;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset #newsletterClientName {
    display: none;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset #newsletterClientEmail {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid white;
    width: 76%;
    height: 40px;
    background: transparent;
    color: white;
    padding-left: 20px;
    font-size: 14px;
  }
  .e-footer-mobile__center .e-newsletter-mobile .e-newsletter__form .newsletter fieldset #newsletterButtonOK {
    background: white;
    width: 19%;
    height: 40px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #8EB249;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item {
    border-top: 1px solid #c3c3c37d;
    border-bottom: 1px solid #c3c3c37d;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-title {
    padding: 0 48px;
    line-height: 4.5em;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    display: block;
    position: relative;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-title:after {
    content: '';
    background: url(/arquivos/luccofit-footer-seta-white.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 52px;
    top: 27px;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown {
    display: none;
    padding-left: 64px;
    margin-bottom: 10px;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown.e-active {
    display: block;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown-items .e-links {
    color: white;
    text-transform: uppercase;
    line-height: 1.8em;
    font-size: 15px;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown--img {
    width: 80%;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown--img--top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .e-footer-mobile__center .e-institucional-mobile__center-items--item .e-dropdown--img--bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .e-footer-mobile__center .e-institucional-mobile--icons {
    margin: 40px 0;
  }
  .e-footer-mobile__center .e-institucional-mobile--icons--items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .e-footer-mobile__center .e-institucional-mobile--icons--items-item a .e-insta {
    background: url(/arquivos/luccofit-footer-icon-instagram.png) no-repeat;
    width: 25px;
    height: 25px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: block;
    margin-right: 38px;
  }
  .e-footer-mobile__center .e-institucional-mobile--icons--items-item a .e-twitter {
    background: url(/arquivos/luccofit-footer-icon-twitter.png) no-repeat;
    width: 25px;
    height: 25px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: block;
    margin-right: 38px;
  }
  .e-footer-mobile__center .e-institucional-mobile--icons--items-item a .e-facebook {
    background: url(/arquivos/luccofit-footer-icon-facebook.png) no-repeat;
    width: 25px;
    height: 25px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: block;
  }
  .e-footer-mobile__center .e-copyright-mobile {
    background: #6A6A6A;
  }
  .e-footer-mobile__center .e-copyright-mobile__center {
    padding: 30px 48px 0;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-text {
    margin-bottom: 23px;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-text p {
    font-size: 12px;
    color: white;
    text-align: center;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-logo-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-logo-items--item .e-econverse {
    margin-right: 16px;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-logo-items--item .e-vtex {
    margin-right: 10px;
  }
  .e-footer-mobile__center .e-copyright-mobile__center-logo-items--item .eu-reciclo {
    height: 45px;
  }
}

.gm-style .place-card-medium {
  display: none !important;
}

.gm-inset.gm-inset-hover-enabled {
  display: none !important;
}

.shelf__main>h2 {
  display: none;
}

.shelf__main ul .slick-list {
  width: 100%;
  float: left;
  overflow: hidden;
}

.shelf__main ul li {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .shelf__main ul li {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.shelf__main ul li .e-product {
  width: 100%;
  display: block;
  padding: 15px;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .shelf__main ul li .e-product {
    padding: 15px;
  }
}

.shelf__main ul li .e-product__image {
  width: 100%;
}

.shelf__main ul li .e-product__image img {
  width: 100%;
  height: auto;
  display: block;
}

.shelf__main ul li .e-product__group {
  width: 100%;
  display: block;
  text-align: center;
}

.shelf__main ul li .e-product__group--name {
  display: block;
  margin: 20px 0 10px;
  min-height: 66px;
}

.shelf__main ul li .e-product__group--name a {
  font-size: 14px;
  color: #505050;
  text-transform: uppercase;
  line-height: 22px;
}

.shelf__main ul li .e-product__group--price {
  width: 100%;
  display: block;
  min-height: 40px;
}

.shelf__main ul li .e-product__group--price--best-single, .shelf__main ul li .e-product__group--price--best {
  font-size: 20px;
  color: #505050;
  font-weight: bold;
}

.shelf__main ul li .e-product__group--price--old {
  display: block;
  font-size: 14px;
  color: #666;
  text-decoration: line-through;
}

.shelf__main ul li .e-product__group--buy {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-top: 20px; */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shelf__main ul li .e-product__group--buy .e-product-quantity {
  width: 75%;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #8aaf43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.shelf__main ul li .e-product__group--buy .e-product-quantity-minus {
  width: 20%;
  font-weight: 700;
  font-size: 18px;
  color: #919191;
}

.shelf__main ul li .e-product__group--buy .e-product-quantity-value {
  width: 35%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #505050;
}

.shelf__main ul li .e-product__group--buy .e-product-quantity-plus {
  width: 20%;
  font-weight: 700;
  font-size: 18px;
  color: #505050;
}

.shelf__main ul li .e-product__group--buy-button {
  width: 75%;
  margin: 0 auto;
}

.shelf__main ul li .e-product__group--buy-button.e-inativo {
  opacity: 0.5;
  pointer-events: none;
}

.shelf__main ul li .e-product__group--buy-button a {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: block;
  background: #8aaf43 !important;
  color: #fff;
  font-size: 14px !important;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.shelf__main ul li .e-product__group--buy-button a.e-loading {
  pointer-events: none;
  opacity: 0.5;
}

.shelf__main ul li .e-product__group--quantity {
  width: 55px;
  height: 46px;
  border: 1px solid #505050;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: none !important;
}

.shelf__main ul li .e-product__group--quantity-input {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  float: left;
  margin-left: 3px;
}

.shelf__main ul li .e-product__group--quantity-input input {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 14px;
  color: #505050;
}

.shelf__main ul li .e-product__group--quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shelf__main ul li .e-product__group--quantity-button {
  width: 33%;
  display: inline-block;
}

.shelf__main ul li .e-product__group--quantity-button button {
  width: 100%;
  height: 20px;
  cursor: pointer;
  border: 0;
  background: url("/arquivos/icon-plus-quantity.png") no-repeat center 10px;
}

.shelf__main ul li .e-product__group--quantity-button button.js--quantity-minus {
  background: url("/arquivos/icon-minus-quantity.png") no-repeat center 6px;
}

.e-product__image {
  display: none;
}

.e-product__lazyload {
  display: block !important;
}

.has--lazyload {
  display: block !important;
  width: 100%;
  position: relative;
  min-height: 200px;
  text-align: center;
}

.has--lazyload::before {
  content: "";
  width: 100%;
  background: #d5d5d5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.has--lazyload.is--lazyloaded::before {
  display: none;
}

.has--lazyload img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .has--lazyload img {
    width: 100%;
    height: auto;
  }
}

label.item_unavailable {
  opacity: 0.5;
}

.departamento .shelf__main ul, .categoria .shelf__main ul, .resultado-busca .shelf__main ul, .home .shelf__main ul {
  float: left;
}

p.e-product__group--price--installments {
  margin-bottom: 10px;
  font-size: 15px;
  color: #505050;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.e-product__group--price a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.e-product__group--price a p:first-of-type {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
}

html body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  html body .is--desktop {
    display: none;
  }
}

html body .is--mobile {
  display: none;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  html body .is--mobile {
    display: block;
  }
}

html body .e-general {
  width: 100%;
  display: block;
  float: left;
}

html body .e-general #login-extra-bottom {
  height: 350px;
}

@media (max-width: 767px) {
  html body .e-general .e-whatsapp {
    left: 86% !important;
  }
}

html body .e-general .e-whatsapp {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 96%;
}

html body .e-general .e-whatsapp svg {
  width: 100%;
  fill: #25d366;
}

html body .e-general .e-whatsapp svg path {
  fill: #25d366;
}

html body .e-general .exit-popup {
  position: relative;
}

html body .e-general .exit-popup.is--active {
  opacity: 1;
  visibility: visible;
  display: block !important;
}

html body .e-general .exit-popup__content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 350px;
  width: 500px;
  z-index: 999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

html body .e-general .exit-popup__content svg {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

html body .e-general .exit-popup__content__text {
  opacity: 0;
  visibility: hidden;
  color: #8aaf43;
  text-transform: uppercase;
  text-align: center;
  margin-top: 45px;
  display: none;
}

html body .e-general .exit-popup__content__text.is--active {
  opacity: 1;
  visibility: visible;
  display: block;
}

html body .e-general .exit-popup__content__text>strong {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
  letter-spacing: 0.03rem;
}

html body .e-general .exit-popup__content__text>span {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.05rem;
}

html body .e-general .exit-popup__content__text>p {
  color: #505050;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.025rem;
}

html body .e-general .exit-popup__content .validate {
  opacity: 0;
  visibility: hidden;
  display: none;
  width: 75%;
  text-align: center;
  margin: auto;
  margin: 35px auto;
}

html body .e-general .exit-popup__content .validate.is--active {
  opacity: 1;
  visibility: visible;
  display: block;
}

html body .e-general .exit-popup__content .validate .email {
  width: 100%;
  border: 1px solid #b5b5b5;
  color: #505050;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

html body .e-general .exit-popup__content .validate .button {
  text-transform: uppercase;
  width: 130px;
  background: #8aaf43;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
}

html body .e-general .exit-popup__content__success {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin: 65px auto;
  width: 85%;
}

html body .e-general .exit-popup__content__success.is--active {
  opacity: 1;
  visibility: visible;
}

html body .e-general .exit-popup__content__success p {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.025rem;
  color: #505050;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 45px;
}

html body .e-general .exit-popup__content__success p strong {
  font-weight: 900;
}

html body .e-general .exit-popup__content__success a {
  text-transform: uppercase;
  width: 130px;
  background: #8aaf43;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

html body .e-general .exit-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .e-general .exit-popup__overlay.is--active {
  z-index: 99;
}

input.bt-voltar.newsletter-button-back {
  display: inline-block;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #b8e602;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 60px;
  text-transform: uppercase;
  font-weight: 500;
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
}

.newsletter h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.newsletter .error {
  color: #fff;
  color: #fff;
  font-size: 11px;
  margin: 10px 0;
}

body .e-header__search--autocomplete.e-active {
  left: 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  background: #fff;
  margin-top: 21px;
  padding: 0 100px 16px;
  -webkit-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
}

body .e-header__search--autocomplete ul {
  margin-top: 20px;
}

body .e-header__search--autocomplete ul::-webkit-scrollbar {
  width: 8px;
  background: #dcdcdc;
}

body .e-header__search--autocomplete ul::-webkit-scrollbar-thumb {
  background: #8aaf43;
}

body .e-header__search--autocomplete li {
  width: 25%;
}

@media (max-width: 767px) {
  body .e-header__search--autocomplete li {
    width: 50%;
  }
}

body #home-content .shelf__main ul {
  z-index: 100;
  max-height: 62vh;
  overflow: auto;
  background: #fff;
}

.autocomplete {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #8aaf43;
}

.autocomplete span {
  background: #f4f4f4;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .e-header__search--autocomplete--mobile.e-active {
    display: none !important;
    left: 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    background: #fff;
    margin-top: 21px;
    -webkit-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
  }
  .e-header__search--autocomplete--mobile ul::-webkit-scrollbar {
    width: 8px;
    background: #dcdcdc;
  }
  .e-header__search--autocomplete--mobile ul::-webkit-scrollbar-thumb {
    background: #8aaf43;
  }
  .e-header__search--autocomplete--mobile .shelf__main ul li:nth-child(2n+2) {
    margin-left: 16px;
  }
  #home-content .shelf__main ul {
    max-height: 100vh !important;
    padding: 0 30px;
  }
  .autocomplete {
    margin-top: 10px;
  }
}

.e-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.e-overlay.is--active {
  opacity: 1;
  visibility: visible;
}

.e-content .e-banner {
  position: relative;
}

.e-content .e-banner .e-banner-desk {
  display: block;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-banner .e-banner-desk {
    display: none;
  }
  .e-content .e-banner .e-banner-desk img {
    width: 100%;
    height: auto;
  }
}

.e-content .e-banner .e-banner-desk img {
  width: 100%;
  height: auto;
}

.e-content .e-banner .e-banner-mobile {
  display: none;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-banner .e-banner-mobile {
    display: block;
  }
  .e-content .e-banner .e-banner-mobile img {
    width: 100%;
    height: auto;
  }
}

.e-content .e-banner .box-banner a {
  cursor: initial;
}

.e-content .e-banner .box-banner a img {
  width: 100%;
  height: auto;
}

.e-content .e-banner .titulo-sessao {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  color: #8aaf43;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-banner .titulo-sessao {
    font-size: 40px;
  }
}

.e-content .e-select-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-select-filter {
    display: block;
    margin-top: 32px;
  }
}

.e-content .e-select-filter_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-select-filter_left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.e-content .e-select-filter_left--productfound {
  font-size: 12px;
  color: #999;
  font-weight: 700;
  border: 2px solid #8aaf43;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  padding: 3px;
}

.e-content .e-select-filter_left--title {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-content .e-select-filter_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.e-content .e-select-filter_right .e-category__orderby {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby-open {
  font-size: 12px;
  color: #707070;
  margin-right: 10px;
  text-transform: uppercase;
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby-active {
  width: 248px;
  height: 38px;
  border: 1px solid #8aaf43;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.18px;
  line-height: 30px;
  padding: 3px 10px;
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby-active.is--active:before {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby-active:before {
  content: "\203A";
  float: right;
  margin: 2px 5px 0 0;
  font-size: 25px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby {
  position: absolute;
  top: 37px;
  right: 0;
  width: 248px;
  z-index: 1;
  border: 1px solid #8aaf43;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.18px;
  line-height: 30px;
  padding: 3px 10px;
}

.e-content .e-select-filter_right .e-category__orderby .js--orderby li a {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.18px;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
}

.e-text-seo {
  border-top: 2px solid #8aaf43;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-text-seo {
    margin-bottom: 60px;
  }
}

.e-text-seo .titulo-sessao {
  font-size: 30px;
  color: #8aaf43;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 50px 0 15px;
}

.e-text-seo .e-text {
  color: #999;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  width: 100%;
  padding: 0 140px 60px;
}

.e-text-seo .e-text h2 {
  text-transform: uppercase;
  margin: 10px;
  font-size: 20px;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-text-seo .e-text {
    padding: 0 30px 20px;
    max-height: 262px;
    overflow: hidden;
  }
  .e-text-seo .e-text.text-full {
    max-height: 100%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  .e-text-seo .e-open-text {
    display: block !important;
    color: #000;
    text-align: center;
    margin-top: 30px;
  }
}

div.title-category {
  display: block !important;
}

#returnToTop a {
  display: none;
}

.e-inativo {
  opacity: 0.5;
  pointer-events: none;
}

body.is--hidden {
  overflow: hidden;
  position: fixed;
  top: 0;
}

html body.skin .e-footer-mobile {
  background: #1a1a1a;
}

html body.skin .e-footer-mobile .e-copyright-mobile {
  background: #1f1f1f;
}

html body.skin .e-footer {
  background: #1a1a1a;
}

html body.skin .e-footer .e-copyright {
  background: #1f1f1f;
}

html body.skin .e-header {
  background: #050505;
}

html body.skin .e-header .e-menu .menu-departamento h3>a {
  color: #fff;
}

html body.skin .e-header-mobile {
  background: #050505;
}

html body.skin .e-header-mobile .e-menu-button span {
  background: #fff;
}

html body.skin .e-header-mobile .e-icon-search {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin .e-header-mobile .e-minicart a {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin .e-header .e-search form input {
  border: none;
  border-bottom: 1px solid #fff;
  background: #050505;
}

html body.skin .e-header .e-search form input::-webkit-input-placeholder {
  color: #000;
}

html body.skin .e-header .e-search form input::-moz-placeholder {
  color: #000;
}

html body.skin .e-header .e-search form input::-ms-input-placeholder {
  color: #000;
}

html body.skin .e-header .e-search form input::placeholder {
  color: #000;
}

html body.skin .e-header .e-search form .e-send {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin .e-header .e-account a {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin .e-header .e-minicart>a {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin .e-content {
  background: #070707;
}

html body.skin .e-content #content {
  background: #070707;
}

html body.skin .e-content #content .e-select-filter_left--productfound {
  color: #fff;
}

html body.skin .e-content #content .e-select-filter_left--title {
  color: #fff;
}

html body.skin .e-content #content .e-select-filter_right .e-category__orderby .js--orderby-open {
  color: #fff;
}

html body.skin .e-content #content .e-select-filter_right .e-category__orderby .js--orderby-active {
  color: #fff;
}

@media (max-width: 767px) {
  html body.skin .e-content #content .shelf__main ul li {
    margin-bottom: 15px;
  }
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--name a {
  color: #fff;
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--price {
  color: #fff;
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--price--best-single {
  color: #fff;
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--buy .e-product-quantity-value {
  background: #070707;
  color: #fff;
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--buy .e-product-quantity-minus {
  color: #fff;
}

html body.skin .e-content #content .shelf__main ul li .e-product__group--buy .e-product-quantity-plus {
  color: #fff;
}

html body.skin #product-content {
  background-color: #070707;
}

html body.skin #product-content .product-details .product-name .productName {
  color: #fff;
}

html body.skin #product-content .product-details .price-box .descricao-preco .valor-por strong {
  color: #fff;
}

html body.skin #product-content .product-details .buy-button-box .box-qtd {
  background: #070707;
}

html body.skin #product-content .product-details .buy-button-box .box-qtd .qtd {
  color: #fff;
}

html body.skin #product-content .product-details .buy-button-box .box-qtd .btn.btn-mais {
  color: #fff;
}

html body.skin #product-content .product-details .buy-button-box .box-qtd .btn.btn-menos {
  color: #fff;
}

html body.skin #product-content .product-details .btn-group .btn-default:nth-child(1) {
  border-color: #8aaf43;
  color: #fff;
  background-color: #070707;
}

html body.skin #product-content .product-details .btn-group .btn-default:nth-child(2) {
  border-color: #8aaf43;
  color: #fff;
  background-color: #070707;
}

html body.skin #product-content .product-details .product-description .productDescription {
  color: #fff;
}

html body.skin #product-content .product-details .product-description #caracteristicas td {
  color: #fff;
  background: #070707;
}

html body.skin #product-content .product-details .product-description #caracteristicas tr.even {
  background: #070707;
}

html body.skin #product-content .product-details .product-description #caracteristicas th {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main>h2 {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--name a {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--price--best {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--price--best-single {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--buy .e-product-quantity-value {
  background: #070707;
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--buy .e-product-quantity-minus {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main ul li .e-product__group--buy .e-product-quantity-plus {
  color: #fff;
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main .slick-prev:after {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin #product-content .product-description-box .showcase-default .shelf__main .slick-next:after {
  -webkit-filter: invert(1);
  filter: invert(1);
}

html body.skin #product-content .product-description-box-title {
  background: #070707;
}

html body.skin #product-content .product-description-box-title p {
  color: #fff;
}

html body.skin #product-content #specification h4 {
  color: #fff;
}

@media (max-width: 767px) {
  html body.skin .js--specification {
    background: #070707;
    color: #fff;
  }
  html body.skin .js--description {
    background: #070707;
    color: #fff;
  }
}

html body.skin .e-general .e-content .e-top {
  background: #070707;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 80px;
}

html body.skin .e-general .e-content .e-top .e-kit-details .productName {
  color: #fff;
}

html body.skin .e-general .e-content .e-top .e-kit-details .productDescription {
  color: #fff;
}

html body.skin .e-general .e-content .e-top .e-kit-details .e-price {
  color: #fff;
}

html body.skin .e-general .e-content .e-top .e-kit-details .e-price .e-total {
  color: #fff;
}

html body.skin .e-product__highlight {
  display: block !important;
  position: absolute;
  right: 0;
  top: 0;
}

html body.skin .e-product__highlight .mais-vendidos---bf {
  display: none;
}

html body.skin .e-product__highlight .agora-ou-nunca---black-friday {
  display: none;
}

html body.skin .e-product__highlight p.esquenta-black-20 {
  display: block !important;
  font-size: 0;
  height: 65px;
  width: 60px;
  background-color: #b8e602;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

html body.skin .e-product__highlight p.esquenta-black-20::before {
  content: "20% OFF";
  position: absolute;
  left: 8px;
  top: 43px;
  font-family: Lato;
  font-size: 11px;
  width: 50px;
  font-style: italic;
}

html body.skin .e-product__highlight p.esquenta-black-20::after {
  content: "";
  background: url(/arquivos/lucco-black.png) no-repeat;
  position: absolute;
  left: 7px;
  top: 10px;
  height: 30px;
  width: 50px;
}

html body.skin .e-product__highlight p.esquenta-black-50 {
  display: block !important;
  font-size: 0;
  height: 65px;
  width: 60px;
  background-color: #b8e602;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

html body.skin .e-product__highlight p.esquenta-black-50::before {
  content: "50% OFF";
  position: absolute;
  left: 8px;
  top: 43px;
  font-family: Lato;
  font-size: 11px;
  width: 50px;
  font-style: italic;
}

html body.skin .e-product__highlight p.esquenta-black-50::after {
  content: "";
  background: url(/arquivos/lucco-black.png) no-repeat;
  position: absolute;
  left: 7px;
  top: 10px;
  height: 30px;
  width: 50px;
}

html body.skin .e-product__highlight--discount {
  display: none;
}

[class*="50--off-bf"] {
  display: none;
}

body .e-product .yv-review-quickreview {
  display: none !important;
}

.product-description-box-content>table>tbody {
  display: flex;
  justify-content: space-between;
  widows: 100%;
  padding-left: 42px;
}

.product-description-box-content>table>tbody .even {
  min-width: 110px;
  display: flex;
  justify-content: center;
}

.product-description-box-title {
  line-height: 10px;
  padding: 0;
}

.product-description-box-title p {
  width: 100%;
  word-wrap: break-word;
}

.product-description-box-title p:nth-child(1), #specification h4 {
  width: 50%;
}

.product-description-box-title p:nth-child(2), #caracteristicas tr.even {
  width: 62%;
}

.product-description-box-title p:nth-child(3) {
  width: 15%;
}

.product-description-box-content:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-description-box-content:first-child h4 {
  margin: 0!important;
}

.product-description-box-content:first-child table tbody {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description #caracteristicas tr.even:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-description #caracteristicas tr.even:nth-child(3) .name-field {
  margin: 0;
  padding: 0;
}

.product-description #caracteristicas tr.even:nth-child(3) .value-field {
  width: 100%;
}

.product-description-box-content:first-child>h4 {
  display: flex;
  justify-content: center;
}

html body .e-general .e-content .e-top .e-kit-list>ul li.e-kit .e-type-list .e-type ul li h2 {
  position: unset!important;
  width: 100%!important;
}

html body .e-general .e-content .e-top .e-kit-list>ul li.e-kit .e-type-list .e-type ul.e-success {
  min-height: 86%!important;
}

#yv-reviews span {
  margin-top: 8px;
}

.e-header-mobile .e-menu-dropdown-container--location .e-location .e-icon-location {
  display: none;
}

.e-menu-dropdown .e-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-menu-dropdown-container--location {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 767px) and (min-width: 100px) {
  .product-description-box-content>table>tbody {
    padding-left: 0!important;
  }
  .product-description #caracteristicas td {
    min-width: 44px;
  }
  .product-description-box-content h4 {
    line-height: 15px!important;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) and (min-width: 100px) {
  .product-description-box-title p:nth-child(1), #specification h4 {
    width: 50%;
  }
  .product-description-box-title p:nth-child(2), #caracteristicas tr.even {
    width: 41%;
  }
  .product-description-box-title p:nth-child(3) {
    width: 17%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 100px) {
  .product-description-box-title p:nth-child(1), #specification h4 {
    width: 50%;
  }
  .product-description-box-title p:nth-child(2), #caracteristicas tr.even {
    width: 55%;
  }
  .product-description-box-title p:nth-child(3) {
    width: 17%;
  }
  .product-description #caracteristicas tr.even:nth-child(3) .value-field {
    width: 160%;
  }
}