@import './generic/_breakpoints';
@import './generic/reset';


.j-minicart {
    max-width: 433px;
    display: none;
    position: fixed;
    top: 0px;
    right: 0%;
    width: 390px;
    z-index: 9999;
    background: #ffffff;
    -webkit-box-shadow: -8px 1px 5px -2px rgba(0, 0, 0, 0.08);
    box-shadow: -8px 1px 5px -2px rgba(0, 0, 0, 0.08);
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
    .j-minicart {
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow: scroll !important;
    }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
    .j-minicart__group {
        overflow: scroll;
        padding-bottom: 120px;
    }
}

.j-minicart__header {
    width: 100%;
    border-top: 1px solid #eeeeee;
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px;
}

.j-minicart__header--close {
    color: #8AAF43;
    background: #fff;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.4px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #8AAF43;
    transition-duration: 250ms; 
}

.j-minicart__header--close:hover{
    background-color: #8AAF4340;
}

.j-minicart__header--close>span {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.j-minicart__header--close>p {
    position: relative;
    top: 1px;
}

.j-minicart__header--cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.j-minicart__header--cart-icon {
    margin-right: 10px;
}

.j-minicart__header--cart-icon svg {
    fill: #7d93a4;
}

.j-minicart__header--cart-text {
    font-size: 23px;
    color: #94AF54;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.j-minicart__header--cart .js-close {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
    right: 0;
    color: #8AAF43;
}

.j-minicart__products {
    background: #ffffff;
    padding: 0 20px;
}

.j-minicart__products .product-list {
    min-height: 200px;
    overflow-x: hidden;
    position: relative;
    max-height: 255px;
}

.j-minicart__products .product-list::-webkit-scrollbar {
    width: 5px;
}

.j-minicart__products .product-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f2f5f7;
    box-shadow: inset 0 0 6px #f2f5f7;
}

.j-minicart__products .product-list::-webkit-scrollbar-thumb {
    background-color: #94AF54;
    outline: 2px solid #94AF54;
}

.j-minicart__products .product-list .row {
    width: 100%;
    display: block;
    position: relative;
    border-bottom: 1px solid #f2f5f7;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #eeeeee;
}

.j-minicart__products .product-list .row .col-0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.j-minicart__products .product-list .row .col-0 ._qc-img {
    width: 75px;
    margin-right: 10px;
}

.j-minicart__products .product-list .row .col-0 ._qc-img img {
    width: 100%;
    display: block;
    height: auto;
}

.j-minicart__products .product-list .row .col-0 ._qc-product {
    color: #505050;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    width: 60%;
    padding-right: 10%;
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
    .j-minicart__products .product-list .row .col-0 ._qc-product {
        color: #505050;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        width: 66%;
        padding-right: 4%;
    }
}

.j-minicart__products .product-list .row .col-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: row;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 12px;
    width: 50px;
    height: 20px;
    border: 1px solid #8AAF43;
    padding: 3px 5px;
    border-radius: 2px;
    box-sizing: unset;
    position: absolute;
    right: 15px;
    bottom: 14px;
}

.j-minicart__products .product-list .row .col-1:before {
    /* content: ''; */
    width: 1px;
    height: 18px;
    background: black;
    display: inline-block;
    position: absolute;
    left: -8px;
    top: 3px;
}

/* .j-minicart__products .product-list .row .col-1:after {
    content: 'UNIDADES';
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: 9px;
    color: #505050;
    font-size: 15px;
    position: relative;
    top: 8px;
    left: 13px;
} */

@media only screen and (min-width: 100px) and (max-width: 767px) {
    .j-minicart__products .product-list .row .col-1:after {
        /* content: 'UNIDADES';
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-left: 9px;
        color: #505050;
        font-size: 15px;
        position: relative;
        top: 9px;
        left: 10px; */
    }
}

.j-minicart__products .product-list .row .col-1 a {
    background: url(/arquivos/totop.png) no-repeat center;
    font-size: 0;
    width: 10px;
    height: 7px;
    display: block;
    position: relative;
    left: 10px;
    width: 100%;
    display: none !important;
}

.j-minicart__products .product-list .row .col-1 a._add {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

body .j-minicart__products .product-list .row .col-1 a{
    position: unset;
    justify-content: center;
    align-items: center; 
    user-select: none;
}

.j-minicart__products .product-list .row .col-1 a._remove {
    bottom: 8px;
    width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

.j-minicart__products .product-list .row .col-1 input {
    text-align: center;
    font-size: 17px;
    color: #505050;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    left: 4px;
    width: 26px;
    background: transparent;
}

.j-minicart__products .product-list .row .col-2 {
    position: absolute;
    left: 97px;
    bottom: 15px;
    color: #94AF54;
    font-weight: 700;
    font-size: 15px;
}

.j-minicart__products .product-list .row .col-3 {
    position: absolute;
    top: -16px;
    right: 10px;
    font-size: 0;
    background-repeat: no-repeat;
    -webkit-background-size: 88% 88%;
    background-size: 88%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.j-minicart__products .product-list .row .col-3 a {
    display: block;
    width: 100%;
    height: 100%;
}

.j-minicart__products .product-list .row .col-3 a:after {
    content: "+";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 30px;
    display: inline-block;
    font-weight: 200;
    color: #707070;
    position: relative;
    top: 7px;
}

.j-minicart__footer {
    background: #ffffff;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.j-minicart__total {
    width: 100%;
    padding: 10px 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.j-minicart__total>p {
    font-size: 15px;
    color: #505050;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.j-minicart__total>p strong {
    margin-right: 10px;
    font-weight: 400;
}

.j-minicart__total .portal-totalizers-ref .title {
    display: none;
}

.j-minicart__total .portal-totalizers-ref .cart-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.j-minicart__total .portal-totalizers-ref .cart-info li {
    display: none;
}

.j-minicart__total .portal-totalizers-ref .cart-info li.total-cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    color: #94AF54;
    text-transform: uppercase;
    font-weight: 700;
}

.j-minicart__total .portal-totalizers-ref .cart-info li.total-cart em {
    font-style: normal;
}

.j-minicart__total .portal-totalizers-ref .cart-info li.total-cart>strong {
    display: none;
}

.j-minicart__total .portal-totalizers-ref .cart-info li.amount-items {
    display: none;
}

.j-minicart__empty {
    display: none;
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 50px;
}

.j-minicart__shipping {
    width: 100%;
    margin-bottom: 15px;
}

.j-minicart__shipping--form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.j-minicart__shipping--form label {
    width: 75%;
}

.j-minicart__shipping--form label input {
    width: 100%;
    height: 38px;
    border: 1px solid #d8d8d8;
    font-size: 12px;
    padding: 10px 40px;
    color: #7d93a4;
}

.j-minicart__shipping--form label input::-webkit-input-placeholder {
    color: #7d93a4;
}

.j-minicart__shipping--form button {
    width: 25%;
    background: #000;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.j-minicart__shipping--success {
    display: none;
    padding: 10px 0 0;
}

.j-minicart__shipping--success p {
    font-size: 14px;
    background: #000;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.j-minicart__shipping--success-value {
    font-weight: 600;
}

.j-minicart__buy {
    width: 100%;
}

.j-minicart__buy .e-btn-buy {
    color: #fff;
    background: #8AAF43;
    font-size: 12px;
    cursor: pointer;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.4px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.e-stars {
    text-align: center;
    text-align: center;
    width: 60%;
    margin: 10px auto 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
}

.e-stars .stars {
    position: relative;
    top: 10px;
}

.e-stars p {
    font-size: 12px;
    color: #505050;
    text-transform: uppercase;
    font-weight: 700;
}

.e-stars p:last-of-type {
    font-size: 15px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 2px;
    width: 150%;
    left: -25%;
    color: #8AAF43;
}

#mini-cart-admake {
    opacity: 0;
    visibility: hidden;
}

body .j-minicart__products .product-list .row .col-1 a._add {
    /* width: 54px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; */
    font-size: 14px;
    /* color: black;
    top: 15%;
    position: absolute; */
    /* left: 48px; */
    display: flex !important;
}

body .j-minicart__products .product-list .row .col-1 a {
    background: none;
}

body .j-minicart__products .product-list .row .col-1 a._remove {
    bottom: 10px;
    font-size: 14px;
    color: black;
    top: 70%;
    display: flex !important;
    position: unset;
    left: -121px;
    width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

body .j-minicart__products .product-list .row .col-1 a._add:hover {
    display: none;
    border: none;
    text-decoration: unset;
}

body .j-minicart__products .product-list .row .col-1 a._remove:hover {
    display: none;
    border: none;
    text-decoration: unset;
}