button {
}

.active {
    pointer-events: none;
}
.load {
    opacity: 0;
}

.is--active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}