

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-delay($transition) {
    -moz-transition-delay:    $transition;
    -o-transition-delay:      $transition;
    -webkit-transition-delay: $transition;
    transition-delay:         $transition;
}

@mixin centerV {
    position: absolute;
    top: 50%;
    @include translate(0,-50%)
}

@mixin centerH {
    position: absolute;
    left: 50%;
    @include translate(-50%,0)
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%)
}